openapi: 3.2.0
info:
  title: 2s — the (most) everything Schedule API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: Schedule
paths:
  /api/schedule/cancel:
    post:
      tags:
      - Schedule
      summary: 'SCHEDULE: stop an active schedule immediately, scoped to'
      description: 'SCHEDULE: stop an active schedule immediately, scoped to YOUR wallet. No more callbacks will fire. Returns cancelled:false if it was already done/cancelled or isn''t yours. No refund of the unused window. Private to your wallet (the x402 payer).'
      operationId: schedule_cancel
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [the cancel result].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            scheduleId:
                              type: string
                            cancelled:
                              type: boolean
                          required:
                          - scheduleId
                          - cancelled
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: schedule.cancel
      x-2s-version: null
      x-2s-price:
        usd: 0.005
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        protocols:
        - x402: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduleId:
                  type: string
                  description: The scheduleId from schedule.create.
              required:
              - scheduleId
              additionalProperties: false
      parameters:
      - $ref: '#/components/parameters/TrialMode'
  /api/schedule/create:
    post:
      tags:
      - Schedule
      summary: 'SCHEDULE: arm a time-driven callback, scoped to YOUR wallet'
      description: 'SCHEDULE: arm a time-driven callback, scoped to YOUR wallet — the time-based twin of watchers. We POST your payload to callbackUrl either once at a future time (`at`) or repeatedly (`everySeconds`, ≥60). Each push is EIP-191-signed by our published key (verify offline) and retried with backoff. Pay once; bounded by maxFires + a 90-day window. Gives a stateless agent a cron without a server. No account or API key — pay per call with x402.'
      operationId: schedule_create
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [the armed schedule].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            scheduleId:
                              type: string
                            status:
                              type: string
                            nextFire:
                              type: string
                              nullable: true
                            everySeconds:
                              type: number
                              nullable: true
                            maxFires:
                              type: number
                            expiresAt:
                              type: string
                            callbackSigner:
                              type: string
                          required:
                          - scheduleId
                          - status
                          - nextFire
                          - everySeconds
                          - maxFires
                          - expiresAt
                          - callbackSigner
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: schedule.create
      x-2s-version: null
      x-2s-price:
        usd: 0.125
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.125000'
        protocols:
        - x402: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUrl:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: Where we POST when it fires. Any http(s) URL; the JSON body is signed (verify with X-2s-Signature).
                at:
                  type: string
                  description: ISO-8601 timestamp for a ONE-SHOT fire. e.g. "2026-07-01T14:00:00Z". Provide this OR everySeconds, not both.
                everySeconds:
                  type: integer
                  minimum: 60
                  description: Recurring interval in seconds (≥60). Provide this OR at.
                payload:
                  type: object
                  additionalProperties: {}
                  description: Arbitrary JSON echoed in every callback (plus scheduleId, fireNumber, firedAt). e.g. {"job":"digest"}.
                maxFires:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: Stop after this many fires (recurring only). Default 25, max 1000.
                expiresInSeconds:
                  type: integer
                  minimum: 60
                  description: Auto-expire the schedule after this long. Default + max 90 days.
                label:
                  type: string
                  maxLength: 64
                  description: Optional free-text tag to recognize this schedule later.
              required:
              - callbackUrl
              additionalProperties: false
      parameters:
      - $ref: '#/components/parameters/TrialMode'
  /api/schedule/status:
    post:
      tags:
      - Schedule
      summary: 'SCHEDULE: check a schedule''s state, scoped to YOUR wallet'
      description: 'SCHEDULE: check a schedule''s state, scoped to YOUR wallet — status, next fire time, fires used vs max, expiry, and its recent delivery attempts (including any that failed/retried). 404 if it isn''t yours or doesn''t exist. Private to your wallet (the x402 payer).'
      operationId: schedule_status
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [the schedule state].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            scheduleId:
                              type: string
                            status:
                              type: string
                            nextFire:
                              type: string
                              nullable: true
                            firesUsed:
                              type: number
                            maxFires:
                              type: number
                            recentDeliveries:
                              type: array
                              items: {}
                          required:
                          - scheduleId
                          - status
                          - nextFire
                          - firesUsed
                          - maxFires
                          - recentDeliveries
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: schedule.status
      x-2s-version: null
      x-2s-price:
        usd: 0.005
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.005000'
        protocols:
        - x402: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduleId:
                  type: string
                  description: The scheduleId from schedule.create.
              required:
              - scheduleId
              additionalProperties: false
      parameters:
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  responses:
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    UpstreamError:
      description: Upstream provider error.
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    ServerError:
      description: Internal server error.
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
