openapi: 3.2.0
info:
  title: 2s — the (most) everything Earth API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: earth
paths:
  /api/earth/events:
    get:
      tags:
      - earth
      summary: Global natural events tracker via NASA EONET v3 (Earth
      description: 'Global natural events tracker via NASA EONET v3 (Earth Observatory Natural Event Tracker). Returns active and historical events curated by NASA EOSDIS: wildfires, severe storms, volcanoes, floods, droughts, landslides, sea/lake ice, dust/haze, manmade incidents, water-color anomalies. Each event includes geo-located observation points with timestamps, source attribution (USGS, NWS, IRWIN, GDACS, etc.), and category. Filter by status (open/closed/all), days-back window, category, or bounding box.'
      operationId: earth_events
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = NASA EONET natural events (id, title, categories, sources, geometry); total = null (EONET reports no global total); meta.title is the feed label, meta.fetched is the count returned.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                              nullable: true
                            link:
                              type: string
                            closed:
                              type: string
                              nullable: true
                            categories:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  title:
                                    type: string
                                required:
                                - id
                                - title
                                additionalProperties: false
                            sources:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  url:
                                    type: string
                                required:
                                - id
                                - url
                                additionalProperties: false
                            geometry:
                              type: array
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                  type:
                                    type: string
                                  coordinates: {}
                                  magnitudeValue:
                                    type: number
                                    nullable: true
                                  magnitudeUnit:
                                    type: string
                                    nullable: true
                                required:
                                - date
                                - type
                                additionalProperties: false
                          required:
                          - id
                          - title
                          - description
                          - link
                          - closed
                          - categories
                          - sources
                          - geometry
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          title:
                            type: string
                          fetched:
                            type: integer
                        required:
                        - title
                        - fetched
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: earth.events
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: status
        in: query
        required: false
        description: Filter results by status.
        schema:
          type: string
          enum:
          - open
          - closed
          - all
          default: open
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 20
      - name: days
        in: query
        required: false
        description: Look-back window, in days.
        schema:
          type: integer
          minimum: 1
          maximum: 365
      - name: category
        in: query
        required: false
        description: Filter results by category.
        schema:
          type: string
          enum:
          - drought
          - dustHaze
          - earthquakes
          - floods
          - landslides
          - manmade
          - seaLakeIce
          - severeStorms
          - snow
          - tempExtremes
          - volcanoes
          - waterColor
          - wildfires
      - name: bbox
        in: query
        required: false
        description: Bbox.
        schema:
          type: string
          pattern: ^-?\d+(\.\d+)?,-?\d+(\.\d+)?,-?\d+(\.\d+)?,-?\d+(\.\d+)?$
      - $ref: '#/components/parameters/TrialMode'
  /api/earth/now:
    get:
      tags:
      - earth
      summary: 'Situational awareness for a coordinate: recent earthquakes'
      description: 'Situational awareness for a coordinate: recent earthquakes (USGS) and active wildfires (NIFC) within a configurable radius. Returns each with distance-from-query in km, sorted nearest-first. Multi-source synthesis from free US Government feeds. Real-time, post-training data.'
      operationId: earth_now
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [snapshot] (one composite situational-awareness object: query echo, summary counts, earthquakes[], wildfires[]); total = 1; meta.errors holds per-source failures, meta.sources lists each contributing feed.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            query:
                              type: object
                              properties:
                                latitude:
                                  type: number
                                longitude:
                                  type: number
                                radiusKm:
                                  type: number
                                hoursLookback:
                                  type: number
                                minMagnitude:
                                  type: number
                              required:
                              - latitude
                              - longitude
                              - radiusKm
                              - hoursLookback
                              - minMagnitude
                              additionalProperties: false
                            summary:
                              type: object
                              properties:
                                earthquakeCount:
                                  type: number
                                wildfireCount:
                                  type: number
                                largestQuakeMagnitude:
                                  type: number
                                  nullable: true
                                nearestQuakeKm:
                                  type: number
                                  nullable: true
                                nearestWildfireKm:
                                  type: number
                                  nullable: true
                              required:
                              - earthquakeCount
                              - wildfireCount
                              - largestQuakeMagnitude
                              - nearestQuakeKm
                              - nearestWildfireKm
                              additionalProperties: false
                            earthquakes:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  magnitude:
                                    type: number
                                  place:
                                    type: string
                                  time:
                                    type: string
                                  latitude:
                                    type: number
                                  longitude:
                                    type: number
                                  depthKm:
                                    type: number
                                    nullable: true
                                  status:
                                    type: string
                                    nullable: true
                                    description: '''reviewed'' | ''automatic'' | etc.'
                                  tsunami:
                                    type: boolean
                                  url:
                                    type: string
                                    description: Canonical USGS event page.
                                  distanceKm:
                                    type: number
                                    description: Distance from the query coordinate.
                                required:
                                - id
                                - magnitude
                                - place
                                - time
                                - latitude
                                - longitude
                                - depthKm
                                - status
                                - tsunami
                                - url
                                - distanceKm
                                additionalProperties: false
                              description: Sorted nearest-first.
                            wildfires:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                                  cause:
                                    type: string
                                    nullable: true
                                  fireType:
                                    type: string
                                    nullable: true
                                  acresBurned:
                                    type: number
                                    nullable: true
                                  containmentPct:
                                    type: number
                                    nullable: true
                                  discoveredAt:
                                    type: string
                                    nullable: true
                                  controlledAt:
                                    type: string
                                    nullable: true
                                  latitude:
                                    type: number
                                  longitude:
                                    type: number
                                  state:
                                    type: string
                                    nullable: true
                                  distanceKm:
                                    type: number
                                    description: Distance from the query coordinate.
                                required:
                                - id
                                - name
                                - cause
                                - fireType
                                - acresBurned
                                - containmentPct
                                - discoveredAt
                                - controlledAt
                                - latitude
                                - longitude
                                - state
                                - distanceKm
                                additionalProperties: false
                              description: Sorted nearest-first.
                          required:
                          - query
                          - summary
                          - earthquakes
                          - wildfires
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                source:
                                  type: string
                                message:
                                  type: string
                              required:
                              - source
                              - message
                              additionalProperties: false
                          sources:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                provider:
                                  type: string
                                license:
                                  type: string
                                url:
                                  type: string
                              required:
                              - name
                              - provider
                              - license
                              - url
                              additionalProperties: false
                        required:
                        - errors
                        - sources
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: earth.now
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: lat
        in: query
        required: true
        description: Latitude in decimal degrees (WGS84).
        schema:
          type: number
          minimum: -90
          maximum: 90
      - name: lon
        in: query
        required: true
        description: Longitude in decimal degrees (WGS84).
        schema:
          type: number
          minimum: -180
          maximum: 180
      - name: radius_km
        in: query
        required: false
        description: Search radius in kilometers.
        schema:
          type: number
          minimum: 1
          maximum: 1000
          default: 500
      - name: hours
        in: query
        required: false
        description: Look-back window, in hours.
        schema:
          type: number
          minimum: 1
          maximum: 168
          default: 24
      - name: min_magnitude
        in: query
        required: false
        description: Minimum magnitude to include.
        schema:
          type: number
          minimum: 0
          maximum: 10
          default: 2
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  responses:
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    UpstreamError:
      description: Upstream provider error.
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    ServerError:
      description: Internal server error.
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
