openapi: 3.2.0
info:
  title: 2s — the (most) everything Music API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: music
paths:
  /api/music/artist:
    get:
      tags:
      - music
      summary: Resolve a music artist from MusicBrainz (CC0)
      description: Resolve a music artist from MusicBrainz (CC0). Pass a name (or free-text/Lucene query). Returns ranked artists with MusicBrainz ID (MBID), name, sort name, type (Person/Group), country, gender, life span (begin/end/ended), and disambiguation. Keyless, public-domain core data. Use to canonicalize an artist to its MBID.
      operationId: music_artist
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = ranked artists; total = count.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            mbid:
                              type: string
                            name:
                              type: string
                              nullable: true
                            sortName:
                              type: string
                              nullable: true
                            type:
                              type: string
                              nullable: true
                            country:
                              type: string
                              nullable: true
                            gender:
                              type: string
                              nullable: true
                            lifeSpanBegin:
                              type: string
                              nullable: true
                            lifeSpanEnd:
                              type: string
                              nullable: true
                            ended:
                              type: boolean
                              nullable: true
                            disambiguation:
                              type: string
                              nullable: true
                            score:
                              type: number
                              nullable: true
                          required:
                          - mbid
                          - name
                          - sortName
                          - type
                          - country
                          - gender
                          - lifeSpanBegin
                          - lifeSpanEnd
                          - ended
                          - disambiguation
                          - score
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: music.artist
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: name
        in: query
        required: false
        description: Name to search for.
        schema:
          type: string
          maxLength: 200
      - name: query
        in: query
        required: false
        description: Free-text search query.
        schema:
          type: string
          maxLength: 300
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 25
      - $ref: '#/components/parameters/TrialMode'
  /api/music/recording:
    get:
      tags:
      - music
      summary: Resolve a song/recording from MusicBrainz (the open, CC0
      description: Resolve a song/recording from MusicBrainz (the open, CC0 music encyclopedia). Pass artist + title, or a free-text query (Lucene supported). Returns ranked recordings with MusicBrainz ID (MBID), title, primary artist, length (ms), first-release date, and disambiguation. Keyless, public-domain core data. Use to canonicalize a track to its MBID or cross-reference identity.
      operationId: music_recording
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = ranked recordings; total = count.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            mbid:
                              type: string
                            title:
                              type: string
                              nullable: true
                            artist:
                              type: string
                              nullable: true
                            lengthMs:
                              type: number
                              nullable: true
                            firstReleaseDate:
                              type: string
                              nullable: true
                            disambiguation:
                              type: string
                              nullable: true
                            score:
                              type: number
                              nullable: true
                          required:
                          - mbid
                          - title
                          - artist
                          - lengthMs
                          - firstReleaseDate
                          - disambiguation
                          - score
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: music.recording
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: artist
        in: query
        required: false
        description: Artist.
        schema:
          type: string
          maxLength: 200
      - name: title
        in: query
        required: false
        description: Title to search for.
        schema:
          type: string
          maxLength: 200
      - name: query
        in: query
        required: false
        description: Free-text search query.
        schema:
          type: string
          maxLength: 300
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 25
      - $ref: '#/components/parameters/TrialMode'
  /api/music/release:
    get:
      tags:
      - music
      summary: Resolve an album/release from MusicBrainz (CC0)
      description: Resolve an album/release from MusicBrainz (CC0). Pass a barcode (UPC/EAN), or artist + album, or a free-text query. Returns ranked releases with MusicBrainz ID (MBID), title, primary artist, release date, country, barcode, status, track count, label, and catalog number. Keyless, public-domain core data. Barcode → album is the differentiated lookup (resolve a physical product to its metadata).
      operationId: music_release
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = ranked releases; total = count.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            mbid:
                              type: string
                            title:
                              type: string
                              nullable: true
                            artist:
                              type: string
                              nullable: true
                            date:
                              type: string
                              nullable: true
                            country:
                              type: string
                              nullable: true
                            barcode:
                              type: string
                              nullable: true
                            status:
                              type: string
                              nullable: true
                            trackCount:
                              type: number
                              nullable: true
                            label:
                              type: string
                              nullable: true
                            catalogNumber:
                              type: string
                              nullable: true
                            score:
                              type: number
                              nullable: true
                          required:
                          - mbid
                          - title
                          - artist
                          - date
                          - country
                          - barcode
                          - status
                          - trackCount
                          - label
                          - catalogNumber
                          - score
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: music.release
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: barcode
        in: query
        required: false
        description: Barcode.
        schema:
          type: string
          pattern: ^\d{6,14}$
      - name: artist
        in: query
        required: false
        description: Artist.
        schema:
          type: string
          maxLength: 200
      - name: album
        in: query
        required: false
        description: Album.
        schema:
          type: string
          maxLength: 200
      - name: query
        in: query
        required: false
        description: Free-text search query.
        schema:
          type: string
          maxLength: 300
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 25
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
  responses:
    ServerError:
      description: Internal server error.
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    BadRequest:
      description: Bad request — invalid parameters.
    UpstreamError:
      description: Upstream provider error.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
