openapi: 3.2.0
info:
  title: 2s — the (most) everything Gov API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: gov
paths:
  /api/gov/bea-gdp:
    get:
      tags:
      - gov
      summary: Quarterly real GDP by US state from the Bureau of Economic
      description: Quarterly real GDP by US state from the Bureau of Economic Analysis (BEA) Regional accounts — all-industry total, in millions of chained (inflation-adjusted) dollars. Requires state (2-letter); optionally a specific year (defaults to the last 5 years). Returns the state name plus GDP observations (period like 2025Q2, real GDP in millions USD, unit), newest quarter first. Free, public-domain (BEA). Authoritative state economic-output data an LLM cannot recall — for economic research, regional analysis, and market sizing.
      operationId: gov_bea-gdp
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one state GDP result]; total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            query:
                              type: object
                              properties:
                                state:
                                  type: string
                                geoFips:
                                  type: string
                                year:
                                  type: string
                                limit:
                                  type: number
                              required:
                              - state
                              - geoFips
                              - year
                              - limit
                              additionalProperties: false
                            geoName:
                              type: string
                              nullable: true
                            returned:
                              type: number
                            observations:
                              type: array
                              items:
                                type: object
                                properties:
                                  period:
                                    type: string
                                    nullable: true
                                  realGdpMillionsUSD:
                                    type: number
                                    nullable: true
                                  unit:
                                    type: string
                                    nullable: true
                                required:
                                - period
                                - realGdpMillionsUSD
                                - unit
                                additionalProperties: false
                            source:
                              $ref: '#/components/schemas/Source'
                            note:
                              type: string
                          required:
                          - query
                          - geoName
                          - returned
                          - observations
                          - source
                          - note
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.bea-gdp
      x-2s-version: null
      x-2s-price:
        usd: 0.0027
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002700'
        protocols:
        - x402: {}
      parameters:
      - name: state
        in: query
        required: true
        description: 2-letter US state/territory code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
      - name: year
        in: query
        required: false
        description: Four-digit calendar year.
        schema:
          type: integer
          minimum: 1960
          maximum: 2100
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 40
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/bill-summaries:
    get:
      tags:
      - gov
      summary: Stream the latest US Congressional bill summaries via
      description: Stream the latest US Congressional bill summaries via Congress.gov. Each row is a CRS-authored summary attached to a specific version of a bill (Introduced, Reported to House, Engrossed in Senate, Public Law, etc.). Filter by congress + bill type. Returns the underlying bill metadata + summary text + version code + action date. Use this for change-detection on bills you care about, or to power agent-side "what did Congress just pass" feeds.
      operationId: gov_bill-summaries
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = CRS bill summaries (bill metadata + summary text + version code + action date); total = upstream match count.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            actionDate:
                              type: string
                              nullable: true
                            actionDesc:
                              type: string
                              nullable: true
                            bill:
                              type: object
                              additionalProperties: {}
                              nullable: true
                            currentChamber:
                              type: string
                              nullable: true
                            currentChamberCode:
                              type: string
                              nullable: true
                            lastSummaryUpdateDate:
                              type: string
                              nullable: true
                            text:
                              type: string
                              nullable: true
                            updateDate:
                              type: string
                              nullable: true
                            versionCode:
                              type: string
                              nullable: true
                          required:
                          - actionDate
                          - actionDesc
                          - bill
                          - currentChamber
                          - currentChamberCode
                          - lastSummaryUpdateDate
                          - text
                          - updateDate
                          - versionCode
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.bill-summaries
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: type
        in: query
        required: false
        description: Filter results by type.
        schema:
          type: string
          enum:
          - hr
          - s
          - hjres
          - sjres
          - hconres
          - sconres
          - hres
          - sres
      - name: fromDate
        in: query
        required: false
        description: From date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: toDate
        in: query
        required: false
        description: To date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: sort
        in: query
        required: false
        description: Field to sort results by.
        schema:
          type: string
          enum:
          - updateDate+desc
          - updateDate+asc
          default: updateDate+desc
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/carrier-safety:
    get:
      tags:
      - gov
      summary: FMCSA motor-carrier (trucking/bus company) safety profile
      description: 'FMCSA motor-carrier (trucking/bus company) safety profile. Pass dot (USDOT number) for the full record: legal/DBA name, state, interstate/intrastate operation, operating-authority status (allowedToOperate), FMCSA safety rating, fleet size (drivers + power units), crash history (total/fatal/injury/tow-away), roadside-inspection history with driver + vehicle out-of-service rates, and the CSA BASIC measures (Unsafe Driving, Hours-of-Service, Driver Fitness, Controlled Substances, Vehicle Maintenance, Hazmat, Crash Indicator) with violation counts. Or pass name to search → matching carriers with their DOT numbers. Free, public-domain US DOT data (keyed). For commercial-auto/freight underwriting, broker/shipper vetting, and vendor due diligence — the authorization + safety record an agent can''t get from training.'
      operationId: gov_carrier-safety
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                        - carrier
                        - search
                      query:
                        type: object
                        properties:
                          dot:
                            type: number
                            nullable: true
                          name:
                            type: string
                            nullable: true
                        required:
                        - dot
                        - name
                        additionalProperties: false
                      found:
                        type: boolean
                      carrier:
                        type: object
                        properties:
                          dotNumber:
                            type: number
                            nullable: true
                          legalName:
                            type: string
                            nullable: true
                          dbaName:
                            type: string
                            nullable: true
                          physicalState:
                            type: string
                            nullable: true
                          operation:
                            type: string
                            nullable: true
                          allowedToOperate:
                            type: boolean
                            nullable: true
                          statusCode:
                            type: string
                            nullable: true
                          safetyRating:
                            type: string
                            nullable: true
                          safetyRatingDate:
                            type: string
                            nullable: true
                          totalDrivers:
                            type: number
                            nullable: true
                          totalPowerUnits:
                            type: number
                            nullable: true
                        required:
                        - dotNumber
                        - legalName
                        - dbaName
                        - physicalState
                        - operation
                        - allowedToOperate
                        - statusCode
                        - safetyRating
                        - safetyRatingDate
                        - totalDrivers
                        - totalPowerUnits
                        additionalProperties: false
                        nullable: true
                      crashes:
                        type: object
                        properties:
                          total:
                            type: number
                            nullable: true
                          fatal:
                            type: number
                            nullable: true
                          injury:
                            type: number
                            nullable: true
                          towaway:
                            type: number
                            nullable: true
                        required:
                        - total
                        - fatal
                        - injury
                        - towaway
                        additionalProperties: false
                        nullable: true
                      inspections:
                        type: object
                        properties:
                          driverTotal:
                            type: number
                            nullable: true
                          driverOutOfService:
                            type: number
                            nullable: true
                          driverOosRate:
                            type: number
                            nullable: true
                          vehicleTotal:
                            type: number
                            nullable: true
                          vehicleOutOfService:
                            type: number
                            nullable: true
                          vehicleOosRate:
                            type: number
                            nullable: true
                        required:
                        - driverTotal
                        - driverOutOfService
                        - driverOosRate
                        - vehicleTotal
                        - vehicleOutOfService
                        - vehicleOosRate
                        additionalProperties: false
                        nullable: true
                      basics:
                        type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: string
                              nullable: true
                            measureValue:
                              type: number
                              nullable: true
                            percentile:
                              type: string
                              nullable: true
                            violationThreshold:
                              type: number
                              nullable: true
                            exceededInterventionThreshold:
                              type: boolean
                              nullable: true
                            totalViolations:
                              type: number
                              nullable: true
                            totalInspectionsWithViolation:
                              type: number
                              nullable: true
                            runDate:
                              type: string
                              nullable: true
                          required:
                          - category
                          - measureValue
                          - percentile
                          - violationThreshold
                          - exceededInterventionThreshold
                          - totalViolations
                          - totalInspectionsWithViolation
                          - runDate
                          additionalProperties: false
                      matches:
                        type: array
                        items:
                          type: object
                          properties:
                            dotNumber:
                              type: number
                              nullable: true
                            legalName:
                              type: string
                              nullable: true
                            dbaName:
                              type: string
                              nullable: true
                            physicalState:
                              type: string
                              nullable: true
                          required:
                          - dotNumber
                          - legalName
                          - dbaName
                          - physicalState
                          additionalProperties: false
                      source:
                        $ref: '#/components/schemas/Source'
                      note:
                        type: string
                    required:
                    - mode
                    - query
                    - found
                    - carrier
                    - crashes
                    - inspections
                    - basics
                    - matches
                    - source
                    - note
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.carrier-safety
      x-2s-version: null
      x-2s-price:
        usd: 0.0045
      x-2s-accepts:
      - x402
      x-2s-response-shape: legacy
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.004500'
        protocols:
        - x402: {}
      parameters:
      - name: dot
        in: query
        required: false
        description: Dot.
        schema:
          type: integer
          exclusiveMinimum: true
          minimum: 0
      - name: name
        in: query
        required: false
        description: Name to search for.
        schema:
          type: string
          minLength: 2
          maxLength: 120
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-amendment:
    get:
      tags:
      - gov
      summary: Look up or list US Congressional amendments via Congress.gov
      description: 'Look up or list US Congressional amendments via Congress.gov. Pass congress + type + number to fetch a single amendment with full sponsor + action history. Or filter list by congress + type + date range. Amendment types: hamdt=House Amendment, samdt=Senate Amendment, suamdt=Senate Unprinted Amendment.'
      operationId: gov_congress-amendment
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [amendment] (lookup mode, total 1) or the amendment list (list mode, total = upstream match count); meta.mode flags which.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            congress:
                              type: number
                              nullable: true
                            type:
                              type: string
                              nullable: true
                              description: HAMDT | SAMDT | SUAMDT.
                            number:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            purpose:
                              type: string
                              nullable: true
                            latestAction:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: Upstream pass-through, e.g. { actionDate, text }.
                            updateDate:
                              type: string
                              nullable: true
                            apiUrl:
                              type: string
                              nullable: true
                              description: Congress.gov API URL for the amendment.
                          additionalProperties: {}
                          description: List mode emits this trimmed shape; lookup mode passes the full raw Congress.gov amendment detail through (extra fields, full sponsor + action history).
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - lookup
                            - list
                        required:
                        - mode
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-amendment
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: type
        in: query
        required: false
        description: Filter results by type.
        schema:
          type: string
          enum:
          - hamdt
          - samdt
          - suamdt
      - name: number
        in: query
        required: false
        description: Item number or identifier.
        schema:
          type: integer
          minimum: 1
      - name: fromDate
        in: query
        required: false
        description: From date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: toDate
        in: query
        required: false
        description: To date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-bill:
    get:
      tags:
      - gov
      summary: Look up or search US Congressional bills via the Library of
      description: 'Look up or search US Congressional bills via the Library of Congress Congress.gov API. Pass congress + type + number to fetch a specific bill (title, sponsors, latest action, action/amendment/committee counts, policy area, congress.gov URL). Or omit number to list bills filtered by congress, bill type (hr | s | hjres | sjres | hconres | sconres | hres | sres), date range, with pagination + sort. Bill type semantics: hr=House Bill, s=Senate Bill, hjres/sjres=joint resolution, hconres/sconres=concurrent resolution, hres/sres=simple resolution.'
      operationId: gov_congress-bill
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [bill] (lookup mode, total 1) or the bill list (list mode, total = upstream match count); meta.mode flags which.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            congress:
                              type: number
                              nullable: true
                            type:
                              type: string
                              nullable: true
                              description: Uppercased bill type (HR, S, HJRES, ...).
                            number:
                              type: string
                              nullable: true
                            title:
                              type: string
                              nullable: true
                            originChamber:
                              type: string
                              nullable: true
                            latestAction:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: Upstream pass-through, e.g. { actionDate, text }.
                            updateDate:
                              type: string
                              nullable: true
                            apiUrl:
                              type: string
                              nullable: true
                              description: Congress.gov API URL for the bill.
                            introducedDate:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            constitutionalAuthorityStatementText:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            policyArea:
                              type: string
                              nullable: true
                              description: Policy area name; lookup mode only.
                            sponsors:
                              type: array
                              items:
                                type: object
                                additionalProperties: {}
                              description: Upstream sponsor objects; lookup mode only.
                            cosponsors:
                              type: number
                              description: Cosponsor count; lookup mode only.
                            committees:
                              type: number
                              description: Committee count; lookup mode only.
                            actionsCount:
                              type: number
                              description: Lookup mode only.
                            amendmentsCount:
                              type: number
                              description: Lookup mode only.
                            textVersionsUrl:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            source:
                              $ref: '#/components/schemas/Source'
                          required:
                          - congress
                          - type
                          - number
                          - title
                          - originChamber
                          - latestAction
                          - updateDate
                          - apiUrl
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - lookup
                            - list
                        required:
                        - mode
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-bill
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: type
        in: query
        required: false
        description: Filter results by type.
        schema:
          type: string
          enum:
          - hr
          - s
          - hjres
          - sjres
          - hconres
          - sconres
          - hres
          - sres
      - name: number
        in: query
        required: false
        description: Item number or identifier.
        schema:
          type: integer
          minimum: 1
      - name: fromDate
        in: query
        required: false
        description: From date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: toDate
        in: query
        required: false
        description: To date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: sort
        in: query
        required: false
        description: Field to sort results by.
        schema:
          type: string
          enum:
          - updateDate+desc
          - updateDate+asc
          default: updateDate+desc
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 20
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-committee:
    get:
      tags:
      - gov
      summary: List or look up US Congressional committees (Library of
      description: List or look up US Congressional committees (Library of Congress Congress.gov). Pass systemCode (e.g. "hspw00") to fetch a single committee with full detail (members, subcommittees, history, hearings, jurisdiction). Or filter list by congress + chamber (house | senate | joint). Standard system codes follow chamber prefix + abbreviation + suffix convention.
      operationId: gov_congress-committee
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [committee] (lookup mode, total 1) or the committee list (list mode, total = upstream match count); meta.mode flags which.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            systemCode:
                              type: string
                              nullable: true
                            name:
                              type: string
                              nullable: true
                            chamber:
                              type: string
                              nullable: true
                              description: House | Senate | Joint.
                            committeeTypeCode:
                              type: string
                              nullable: true
                              description: e.g. Standing, Select, Joint.
                            url:
                              type: string
                              nullable: true
                              description: Congress.gov API URL for the committee.
                            updateDate:
                              type: string
                              nullable: true
                            parent:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: Parent committee reference; null for top-level committees.
                            subcommittees:
                              anyOf:
                              - type: number
                              - type: array
                                items:
                                  type: object
                                  additionalProperties: {}
                              description: Subcommittee count in list mode; raw subcommittee array in lookup mode.
                          additionalProperties: {}
                          description: List mode emits this trimmed shape; systemCode lookup passes the full raw Congress.gov committee detail through (members, history, jurisdiction — extra fields).
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - lookup
                            - list
                        required:
                        - mode
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-committee
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: chamber
        in: query
        required: false
        description: 'Legislative chamber: house or senate.'
        schema:
          type: string
          enum:
          - house
          - senate
          - joint
      - name: systemCode
        in: query
        required: false
        description: System code.
        schema:
          type: string
          pattern: ^[a-z]{2,8}\d{2,4}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-filings:
    get:
      tags:
      - gov
      summary: Track US House members' financial-disclosure filings
      description: 'Track US House members'' financial-disclosure filings — including Periodic Transaction Reports (PTRs), the STOCK Act filings where members must disclose their stock trades within 45 days. Defaults to PTRs; pass type=annual|candidate|amendment|all to see other disclosure kinds. Filter by member name (q), 2-letter state, filing year, or filing-date range (dateFrom/dateTo). Each result gives the member, state + district, filing type (with a readable label), the filing/disclosure date, and a direct link to the source document (docUrl). The envelope total is the full count matching your filter — so q=Pelosi or year=2026 answers ''how many PTRs did they file''. Covers 2008→present (~8,200 PTRs), refreshed daily so new filings appear within ~a day. Note: by law trades are disclosed up to 45 days after they happen — this is current-to-the-filing, not real-time. Data: US House Clerk (public domain).'
      operationId: gov_congress-filings
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = matching filings (newest first); total = full count matching the filter.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            docId:
                              type: string
                            chamber:
                              type: string
                            memberName:
                              type: string
                              nullable: true
                            state:
                              type: string
                              nullable: true
                            district:
                              type: string
                              nullable: true
                            filingType:
                              type: string
                              nullable: true
                            filingTypeLabel:
                              type: string
                              nullable: true
                            filingYear:
                              type: number
                              nullable: true
                            filingDate:
                              type: string
                              nullable: true
                            docUrl:
                              type: string
                              nullable: true
                            tradesParsed:
                              type: boolean
                          required:
                          - docId
                          - chamber
                          - memberName
                          - state
                          - district
                          - filingType
                          - filingTypeLabel
                          - filingYear
                          - filingDate
                          - docUrl
                          - tradesParsed
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-filings
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: q
        in: query
        required: false
        description: Free-text search query.
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: state
        in: query
        required: false
        description: US state — two-letter postal abbreviation (e.g. CA) or full name.
        schema:
          type: string
          minLength: 2
          maxLength: 2
      - name: type
        in: query
        required: false
        description: Filter results by type.
        schema:
          type: string
          minLength: 1
          maxLength: 40
      - name: chamber
        in: query
        required: false
        description: 'Legislative chamber: house or senate.'
        schema:
          type: string
          enum:
          - house
          - senate
      - name: year
        in: query
        required: false
        description: Four-digit calendar year.
        schema:
          type: integer
          minimum: 2008
          maximum: 2100
      - name: dateFrom
        in: query
        required: false
        description: Date from.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: dateTo
        in: query
        required: false
        description: Date to.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          maximum: 100000
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-hearing:
    get:
      tags:
      - gov
      summary: Look up or list US Congressional hearings via Congress.gov
      description: Look up or list US Congressional hearings via Congress.gov. Pass congress + chamber + jacketNumber to fetch a single hearing with full detail (title, dates, committee, transcripts/recordings if available). Or filter list by congress + chamber, with optional date range. Hearings cover committee testimony from the executive branch, subject experts, and stakeholders — primary-source material for oversight + policy research.
      operationId: gov_congress-hearing
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [hearing] (lookup mode, total 1) or the hearing list (list mode, total = upstream match count); meta.mode flags which.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            congress:
                              type: number
                              nullable: true
                            chamber:
                              type: string
                              nullable: true
                              description: House | Senate.
                            jacketNumber:
                              type: number
                              nullable: true
                            updateDate:
                              type: string
                              nullable: true
                            apiUrl:
                              type: string
                              nullable: true
                              description: Congress.gov API URL for the hearing.
                          additionalProperties: {}
                          description: List mode emits this trimmed shape; lookup mode passes the full raw Congress.gov hearing detail through (title, dates, committee, transcript/recording links — extra fields).
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - lookup
                            - list
                        required:
                        - mode
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-hearing
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: chamber
        in: query
        required: false
        description: 'Legislative chamber: house or senate.'
        schema:
          type: string
          enum:
          - house
          - senate
      - name: jacketNumber
        in: query
        required: false
        description: Jacket number.
        schema:
          type: integer
          minimum: 1
      - name: fromDate
        in: query
        required: false
        description: From date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: toDate
        in: query
        required: false
        description: To date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-member:
    get:
      tags:
      - gov
      summary: Look up or search members of the US Congress via Library of
      description: Look up or search members of the US Congress via Library of Congress Congress.gov API. Pass bioguideId (e.g. M001190) to fetch one member (full bio, terms, party history, leadership roles, sponsored + cosponsored legislation counts, official website, address). Or filter by congress + state + district, with currentMember=true to limit to seated members. Bioguide IDs are stable across history and are the canonical Congress-member identifier.
      operationId: gov_congress-member
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [member] (lookup mode, total 1) or the member list (list mode, total = upstream match count); meta.mode flags which.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            bioguideId:
                              type: string
                              nullable: true
                            state:
                              type: string
                              nullable: true
                            district:
                              type: number
                              nullable: true
                            terms:
                              description: 'Service terms; array of term objects in lookup mode, upstream pass-through ({ item: [...] }) in list mode.'
                            depiction:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: Official portrait, e.g. { imageUrl, attribution }.
                            name:
                              type: string
                              nullable: true
                              description: List mode only ("Last, First").
                            partyName:
                              type: string
                              nullable: true
                              description: List mode only.
                            directOrderName:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            firstName:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            lastName:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            suffixName:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            nickName:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            honorificName:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            partyHistory:
                              type: array
                              items:
                                type: object
                                additionalProperties: {}
                              description: Lookup mode only.
                            birthYear:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            deathYear:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            officialWebsiteUrl:
                              type: string
                              nullable: true
                              description: Lookup mode only.
                            addressInformation:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: Office address pass-through; lookup mode only.
                            leadership:
                              type: array
                              items:
                                type: object
                                additionalProperties: {}
                              description: Leadership roles; lookup mode only.
                            sponsoredLegislation:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: '{ count, url }; lookup mode only.'
                            cosponsoredLegislation:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: '{ count, url }; lookup mode only.'
                            source:
                              $ref: '#/components/schemas/Source'
                          required:
                          - bioguideId
                          - state
                          - district
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - lookup
                            - list
                        required:
                        - mode
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-member
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: bioguideId
        in: query
        required: false
        description: Bioguide ID.
        schema:
          type: string
          pattern: ^[A-Z]\d{6}$
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: state
        in: query
        required: false
        description: US state — two-letter postal abbreviation (e.g. CA) or full name.
        schema:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Za-z]{2}$
      - name: district
        in: query
        required: false
        description: District.
        schema:
          type: integer
          minimum: 0
          maximum: 60
      - name: currentMember
        in: query
        required: false
        description: Current member.
        schema:
          type: boolean
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-nomination:
    get:
      tags:
      - gov
      summary: Look up or list US presidential nominations (cabinet
      description: 'Look up or list US presidential nominations (cabinet, judicial, executive) sent to the Senate for confirmation via Congress.gov. Pass congress + number for a single nomination with full action history. Or filter list by congress + date range. Each row carries: citation (PN###-#), description (nominee + position), receivedDate, nominationType (civilian / military / etc.), organization, latest action (committee referral, hearing, confirmation, withdrawal). Essential for confirmation-tracking + judicial-vetting agents.'
      operationId: gov_congress-nomination
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [nomination] (lookup mode, total 1) or the nomination list (list mode, total = upstream match count); meta.mode flags which.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            congress:
                              type: number
                              nullable: true
                            number:
                              type: number
                              nullable: true
                            partNumber:
                              type: string
                              nullable: true
                            citation:
                              type: string
                              nullable: true
                              description: PN citation, e.g. PN11-16.
                            description:
                              type: string
                              nullable: true
                              description: Nominee + position.
                            receivedDate:
                              type: string
                              nullable: true
                            latestAction:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: Upstream pass-through, e.g. { actionDate, text }.
                            nominationType:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: Upstream pass-through, e.g. { isCivilian, isMilitary }.
                            organization:
                              type: string
                              nullable: true
                            updateDate:
                              type: string
                              nullable: true
                            apiUrl:
                              type: string
                              nullable: true
                              description: Congress.gov API URL for the nomination.
                          additionalProperties: {}
                          description: List mode emits this trimmed shape; lookup mode passes the full raw Congress.gov nomination detail through (full action history — extra fields).
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - lookup
                            - list
                        required:
                        - mode
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-nomination
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: number
        in: query
        required: false
        description: Item number or identifier.
        schema:
          type: integer
          minimum: 1
      - name: fromDate
        in: query
        required: false
        description: From date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: toDate
        in: query
        required: false
        description: To date.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-record:
    get:
      tags:
      - gov
      summary: List daily Congressional Record issues via Congress.gov
      description: List daily Congressional Record issues via Congress.gov — the official transcripts and proceedings of the US House and Senate, daily. Filter by year + month + day to narrow to a specific date or month. Each issue carries volume, issue number, publish date, and links to per-section content (Daily Digest, Senate, House, Extensions of Remarks) with PDF + sub-section URLs. Primary source for what was said on the floor.
      operationId: gov_congress-record
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = Congressional Record issues (id, congress, session, issue, volume, publishDate, links); total = null (upstream paginates without a true count).'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              nullable: true
                            congress:
                              type: string
                              nullable: true
                            session:
                              type: string
                              nullable: true
                            issue:
                              type: string
                              nullable: true
                            volume:
                              type: string
                              nullable: true
                            publishDate:
                              type: string
                              nullable: true
                            links:
                              type: object
                              additionalProperties: {}
                              nullable: true
                              description: 'Upstream pass-through: per-section links (Daily Digest, Senate, House, Extensions of Remarks) with PDF + sub-section URLs.'
                          required:
                          - id
                          - congress
                          - session
                          - issue
                          - volume
                          - publishDate
                          - links
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-record
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: year
        in: query
        required: false
        description: Four-digit calendar year.
        schema:
          type: integer
          minimum: 1873
          maximum: 2100
      - name: month
        in: query
        required: false
        description: Calendar month (1–12).
        schema:
          type: integer
          minimum: 1
          maximum: 12
      - name: day
        in: query
        required: false
        description: Day of the month (1–31).
        schema:
          type: integer
          minimum: 1
          maximum: 31
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-trades:
    get:
      tags:
      - gov
      summary: Search individual US Congress member stock trades, parsed
      description: 'Search individual US Congress member stock trades, parsed from STOCK Act Periodic Transaction Reports into clean rows. Filter by member name (q, e.g. "Pelosi"), ticker (e.g. NVDA), transaction type (purchase | sale | exchange | partial_sale), party (D | R | I), 2-letter state, chamber, or transaction-date range (dateFrom/dateTo). Each trade returns the member + party + state/district, owner (self/spouse/joint/dependent), ticker + asset description, buy/sell, the disclosed dollar RANGE (amountMin/amountMax — disclosures are ranges, not exact), the transaction date, the disclosure date, days-to-disclose (compliance lag), and a link to the source filing PDF. The envelope total is the full count matching your filter — so ticker=NVDA&type=purchase counts who bought NVIDIA. Amounts are ranges by law; trades are disclosed up to 45 days after they happen (current-to-the-filing). Coverage: US House + Senate e-filed PTRs; scanned/handwritten reports are parsed separately. Data: US House Clerk / US Senate eFD (public domain). Cross-ref /api/gov/congress-filings for the raw filing index.'
      operationId: gov_congress-trades
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = matching trades (newest transaction first); total = full count matching the filter.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            member:
                              type: string
                              nullable: true
                            chamber:
                              type: string
                            party:
                              type: string
                              nullable: true
                            state:
                              type: string
                              nullable: true
                            district:
                              type: string
                              nullable: true
                            owner:
                              type: string
                              nullable: true
                            ticker:
                              type: string
                              nullable: true
                            assetDescription:
                              type: string
                              nullable: true
                            assetType:
                              type: string
                              nullable: true
                            transactionType:
                              type: string
                              nullable: true
                            amountMin:
                              type: number
                              nullable: true
                            amountMax:
                              type: number
                              nullable: true
                            transactionDate:
                              type: string
                              nullable: true
                            disclosureDate:
                              type: string
                              nullable: true
                            daysToDisclose:
                              type: number
                              nullable: true
                            docUrl:
                              type: string
                              nullable: true
                            source:
                              type: string
                              nullable: true
                          required:
                          - member
                          - chamber
                          - party
                          - state
                          - district
                          - owner
                          - ticker
                          - assetDescription
                          - assetType
                          - transactionType
                          - amountMin
                          - amountMax
                          - transactionDate
                          - disclosureDate
                          - daysToDisclose
                          - docUrl
                          - source
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-trades
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: q
        in: query
        required: false
        description: Free-text search query.
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: ticker
        in: query
        required: false
        description: Ticker.
        schema:
          type: string
          minLength: 1
          maxLength: 10
      - name: type
        in: query
        required: false
        description: Filter results by type.
        schema:
          type: string
          minLength: 1
          maxLength: 20
      - name: chamber
        in: query
        required: false
        description: 'Legislative chamber: house or senate.'
        schema:
          type: string
          enum:
          - house
          - senate
      - name: party
        in: query
        required: false
        description: Party.
        schema:
          type: string
          minLength: 1
          maxLength: 11
      - name: state
        in: query
        required: false
        description: US state — two-letter postal abbreviation (e.g. CA) or full name.
        schema:
          type: string
          minLength: 2
          maxLength: 2
      - name: dateFrom
        in: query
        required: false
        description: Date from.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: dateTo
        in: query
        required: false
        description: Date to.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          maximum: 100000
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/congress-treaty:
    get:
      tags:
      - gov
      summary: Look up or list international treaties transmitted to the
      description: Look up or list international treaties transmitted to the US Senate for advice and consent via Congress.gov. Pass congress + number (optionally + suffix for partitioned treaties) to fetch a single treaty with parties, topic, transmittal date, and consideration status. Or list by congress. Returns the congress the treaty was received in, the congress that considered it (if any), partial-treaty suffix, topic, transmitted date, and count of parties.
      operationId: gov_congress-treaty
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [treaty] (lookup mode, total 1) or the treaty list (list mode, total = upstream match count); meta.mode flags which.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            congressReceived:
                              type: number
                              nullable: true
                              description: Congress the treaty was received in.
                            congressConsidered:
                              type: number
                              nullable: true
                              description: Congress that considered it; null if none.
                            number:
                              type: number
                              nullable: true
                            suffix:
                              type: string
                              nullable: true
                              description: Partition letter for partitioned treaties, e.g. "A".
                            topic:
                              type: string
                              nullable: true
                            transmittedDate:
                              type: string
                              nullable: true
                            updateDate:
                              type: string
                              nullable: true
                            countriesPartiesCount:
                              type: number
                              nullable: true
                          additionalProperties: {}
                          description: List mode emits this trimmed shape; lookup mode passes the full raw Congress.gov treaty detail through (parties, actions — extra fields).
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                            enum:
                            - lookup
                            - list
                        required:
                        - mode
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.congress-treaty
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: congress
        in: query
        required: false
        description: US Congress number (e.g. 118 for the 2023–2025 Congress).
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - name: number
        in: query
        required: false
        description: Item number or identifier.
        schema:
          type: integer
          minimum: 1
      - name: suffix
        in: query
        required: false
        description: Suffix.
        schema:
          type: string
          pattern: ^[A-Za-z]$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/gov/contract-opportunities:
    get:
      tags:
      - gov
      summary: Search ACTIVE US federal contract opportunities
      description: 'Search ACTIVE US federal contract opportunities (solicitations, combined synopses, sources-sought, RFPs/RFQs) from SAM.gov. Requires a posted-date window: postedFrom and postedTo as MM/DD/YYYY, max 1 year span. Optional filters: title (keyword), naics (NAICS code), state (place/office 2-letter), setAside (set-aside code, e.g. SBA, 8A, WOSB, SDVOSBC), ptype (notice type: o=solicitation, p=presolicitation, r=sources-sought, k=combined, etc.); page with limit (1-100) and offset. Returns each opportunity with notice id, title, solicitation number, type, department path, posted date, response deadline, NAICS, classification, set-aside, active flag, contracting office location, and a sam.gov UI link — plus a total match count. Data: SAM.gov, free and public-domain. Distinct from /api/gov/usaspending-awards (past awards) — this is what is OPEN to bid now. Fresh, time-sensitive data for govcon / capture / bid-intelligence agents.'
      operationId: gov_contract-opportunities
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = matching active opportunities (newest postings as ranked by SAM), total = SAM total match count.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            noticeId:
                              type: string
                              nullable: true
                            title:
                              type: string
                              nullable: true
                            solicitationNumber:
                              type: string
                              nullable: true
                            type:
                              type: string
                              nullable: true
                            department:
                              type: string
                              nullable: true
                            postedDate:
                              type: string
                              nullable: true
                            responseDeadline:
                              type: string
                              nullable: true
                            naicsCode:
                              type: string
                              nullable: true
                            classificationCode:
                              type: string
                              nullable: true
                            setAside:
                              type: string
                              nullable: true
                            active:
                              type: boolean
                              nullable: true
                            organizationType:
                              type: string
                              nullable: true
                            office:
                              type: object
                              properties:
                                city:
                                  type: string
                                  nullable: true
                                state:
                                  type: string
                                  nullable: true
                                zip:
                                  type: string
                                  nullable: true
                                country:
                                  type: string
                                  nullable: true
                              required:
                              - city
                              - state
                              - zip
                              - country
                              additionalProperties: false
                              nullable: true
                            uiLink:
                              type: string
                              nullable: true
                          required:
                          - noticeId
                          - title
                          - solicitationNumber
                          - type
                          - department
                          - postedDate
                          - responseDeadline
                          - naicsCode
                          - classificationCode
                          - setAside
                          - active
                          - organizationType
                          - office
                          - uiLink
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          query:
                            type: object
                            properties:
                              postedFrom:
                                type: string
                              postedTo:
                                type: string
                              title:
                                type: string
                                nullable: true
                              naics:
                                type: string
                                nullable: true
                              state:
                                type: string
                                nullable: true
                              setAside:
                                type: string
                                nullable: true
                              ptype:
                                type: string
                                nullable: true
                              limit:
                                type: integer
                              offset:
                                type: integer
                            required:
                            - postedFrom
                            - postedTo
                            - title
                            - naics
                            - state
                            - setAside
                            - ptype
                            - limit
                            - offset
                            additionalProperties: false
                        required:
                        - query
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: gov.contract-opportunities
      x-2s-version: null
      x-2s-price:
        usd: 0.0045
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
[...]
