openapi: 3.2.0
info:
  title: 2s — the (most) everything Tcg API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: tcg
paths:
  /api/tcg/card:
    get:
      tags:
      - tcg
      summary: Price a single trading card
      description: 'Price a single trading card. Pass game (categoryId or name), set (the groupId), and productId (the TCGplayer product id, from tcg.set-prices). Returns the matching card { productId, name, number, rarity, prices:[{ subType, market, low, mid, high }], url } with every printing/subtype. 404 if the productId is not in that set. Source: TCGplayer-derived pricing via tcgcsv.com.'
      operationId: tcg_card
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [the one matching card with its per-subtype prices]; total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            productId:
                              type: number
                            name:
                              type: string
                            number:
                              type: string
                              nullable: true
                            rarity:
                              type: string
                              nullable: true
                            prices:
                              type: array
                              items:
                                type: object
                                properties:
                                  subType:
                                    type: string
                                    nullable: true
                                  market:
                                    type: number
                                    nullable: true
                                  low:
                                    type: number
                                    nullable: true
                                  mid:
                                    type: number
                                    nullable: true
                                  high:
                                    type: number
                                    nullable: true
                                required:
                                - subType
                                - market
                                - low
                                - mid
                                - high
                                additionalProperties: false
                            url:
                              type: string
                              nullable: true
                          required:
                          - productId
                          - name
                          - number
                          - rarity
                          - prices
                          - url
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          categoryId:
                            type: number
                          groupId:
                            type: number
                        required:
                        - categoryId
                        - groupId
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: tcg.card
      x-2s-version: null
      x-2s-price:
        usd: 0.012
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.012000'
        protocols:
        - x402: {}
      parameters:
      - name: game
        in: query
        required: true
        description: 'TCGplayer game: categoryId (e.g. 3) or name (e.g. "pokemon").'
        schema:
          type: string
          minLength: 1
          maxLength: 60
      - name: set
        in: query
        required: true
        description: groupId of the set (from tcg.sets).
        schema:
          type: integer
          exclusiveMinimum: true
          minimum: 0
      - name: productId
        in: query
        required: true
        description: TCGplayer productId of the card (from tcg.set-prices).
        schema:
          type: integer
          exclusiveMinimum: true
          minimum: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/tcg/games:
    get:
      tags:
      - tcg
      summary: List every trading-card game / category covered by
      description: 'List every trading-card game / category covered by TCGplayer pricing (Magic: The Gathering, Pokemon, Yu-Gi-Oh!, Disney Lorcana, One Piece, and ~85 more). Each row is { categoryId, name, displayName }. Use the categoryId (or the name) as the `game` parameter on tcg.sets, tcg.set-prices, and tcg.card. No parameters. Source: TCGplayer-derived pricing via tcgcsv.com.'
      operationId: tcg_games
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one row per game/category]; total = number of games.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            categoryId:
                              type: number
                            name:
                              type: string
                            displayName:
                              type: string
                          required:
                          - categoryId
                          - name
                          - displayName
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: tcg.games
      x-2s-version: null
      x-2s-price:
        usd: 0.012
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.012000'
        protocols:
        - x402: {}
      parameters:
      - $ref: '#/components/parameters/TrialMode'
  /api/tcg/set-prices:
    get:
      tags:
      - tcg
      summary: Price an entire trading-card set in one call
      description: 'Price an entire trading-card set in one call. Pass game (categoryId or name, e.g. "pokemon") and set (the groupId from tcg.sets). Returns each card joined to its prices: { productId, name, number, rarity, prices:[{ subType, market, low, mid, high }], url }. subType separates printings (Normal, Foil, Reverse Holofoil, 1st Edition, etc.). Capped to limit cards (default 100, max 500); total is the full set size (pre-limit), meta.returned is how many rows came back. This is the core "value a whole set / list card prices" call. Source: TCGplayer-derived pricing via tcgcsv.com.'
      operationId: tcg_set-prices
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = cards with their per-subtype prices (capped to limit); total = full set card count; meta.returned = rows returned.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            productId:
                              type: number
                            name:
                              type: string
                            number:
                              type: string
                              nullable: true
                            rarity:
                              type: string
                              nullable: true
                            prices:
                              type: array
                              items:
                                type: object
                                properties:
                                  subType:
                                    type: string
                                    nullable: true
                                  market:
                                    type: number
                                    nullable: true
                                  low:
                                    type: number
                                    nullable: true
                                  mid:
                                    type: number
                                    nullable: true
                                  high:
                                    type: number
                                    nullable: true
                                required:
                                - subType
                                - market
                                - low
                                - mid
                                - high
                                additionalProperties: false
                            url:
                              type: string
                              nullable: true
                          required:
                          - productId
                          - name
                          - number
                          - rarity
                          - prices
                          - url
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          categoryId:
                            type: number
                          groupId:
                            type: number
                          returned:
                            type: number
                        required:
                        - categoryId
                        - groupId
                        - returned
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: tcg.set-prices
      x-2s-version: null
      x-2s-price:
        usd: 0.012
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.012000'
        protocols:
        - x402: {}
      parameters:
      - name: game
        in: query
        required: true
        description: 'TCGplayer game: categoryId (e.g. 3) or name (e.g. "pokemon").'
        schema:
          type: string
          minLength: 1
          maxLength: 60
      - name: set
        in: query
        required: true
        description: groupId of the set (from tcg.sets).
        schema:
          type: integer
          exclusiveMinimum: true
          minimum: 0
      - name: limit
        in: query
        required: false
        description: Max cards to return (default 100, max 500).
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - $ref: '#/components/parameters/TrialMode'
  /api/tcg/sets:
    get:
      tags:
      - tcg
      summary: List the sets (groups) for a trading-card game - e.g
      description: 'List the sets (groups) for a trading-card game — e.g. every Pokemon or Magic: The Gathering set. Pass game (a categoryId like 3, or a name like "pokemon"/"magic" — resolved against tcg.games), optional q (case-insensitive substring filter on set name), and optional limit (default 100, max 500). Each row is { groupId, name, abbreviation, publishedOn, isSupplemental }. Use the groupId as the `set` parameter on tcg.set-prices / tcg.card. total is the full match count (pre-limit). Source: TCGplayer-derived pricing via tcgcsv.com.'
      operationId: tcg_sets
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = sets (capped to limit); total = full match count; meta.categoryId is the resolved game id.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            groupId:
                              type: number
                            name:
                              type: string
                            abbreviation:
                              type: string
                              nullable: true
                            publishedOn:
                              type: string
                              nullable: true
                            isSupplemental:
                              type: boolean
                          required:
                          - groupId
                          - name
                          - abbreviation
                          - publishedOn
                          - isSupplemental
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          categoryId:
                            type: number
                          returned:
                            type: number
                        required:
                        - categoryId
                        - returned
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: tcg.sets
      x-2s-version: null
      x-2s-price:
        usd: 0.012
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.012000'
        protocols:
        - x402: {}
      parameters:
      - name: game
        in: query
        required: true
        description: 'TCGplayer game: categoryId (e.g. 3) or name (e.g. "pokemon", "magic").'
        schema:
          type: string
          minLength: 1
          maxLength: 60
      - name: q
        in: query
        required: false
        description: Case-insensitive substring filter on set name.
        schema:
          type: string
          maxLength: 80
      - name: limit
        in: query
        required: false
        description: Max sets to return (default 100, max 500).
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
  responses:
    ServerError:
      description: Internal server error.
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    BadRequest:
      description: Bad request — invalid parameters.
    UpstreamError:
      description: Upstream provider error.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
