openapi: 3.2.0
info:
  title: 2s — the (most) everything Labor API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: labor
paths:
  /api/labor/openings:
    get:
      tags:
      - labor
      summary: US labor-market turnover from the BLS JOLTS survey (total
      description: US labor-market turnover from the BLS JOLTS survey (total nonfarm, national), monthly, newest first. Pass measure = openings (default), hires, quits, layoffs, or separations. Returns the level in thousands per month for a trailing window. Public-domain, live-wrap. The standard signal for labor-market tightness (job openings) and worker confidence (the quits rate) — fresh macro data agents can't recite.
      operationId: labor_openings
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one JOLTS series for the measure]; total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            measure:
                              type: string
                            units:
                              type: string
                            points:
                              type: array
                              items:
                                type: object
                                properties:
                                  period:
                                    type: string
                                  valueThousands:
                                    type: number
                                    nullable: true
                                required:
                                - period
                                - valueThousands
                                additionalProperties: false
                          required:
                          - measure
                          - units
                          - points
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: labor.openings
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: measure
        in: query
        required: false
        description: Measure.
        schema:
          type: string
          enum:
          - openings
          - hires
          - quits
          - layoffs
          - separations
      - name: months
        in: query
        required: false
        description: Months.
        schema:
          type: integer
          minimum: 1
          maximum: 60
      - $ref: '#/components/parameters/TrialMode'
  /api/labor/unemployment:
    get:
      tags:
      - labor
      summary: US unemployment from BLS, monthly, newest first - national
      description: US unemployment from BLS, monthly, newest first — national (CPS, "US") or by US state (LAUS). Pass area ("US" or a 2-letter state) and optionally measure = rate (default), unemployed, employed, or laborforce. Returns seasonally-adjusted values per month for a trailing window (rate in percent; counts in thousands). Public-domain, live-wrap. Fresh local labor-market context agents can't recite.
      operationId: labor_unemployment
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one unemployment series for the area/measure]; total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            area:
                              type: string
                            areaType:
                              type: string
                            measure:
                              type: string
                            units:
                              type: string
                            points:
                              type: array
                              items:
                                type: object
                                properties:
                                  period:
                                    type: string
                                  value:
                                    type: number
                                    nullable: true
                                required:
                                - period
                                - value
                                additionalProperties: false
                          required:
                          - area
                          - areaType
                          - measure
                          - units
                          - points
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: labor.unemployment
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: area
        in: query
        required: true
        description: Area.
        schema:
          type: string
          minLength: 2
          maxLength: 10
      - name: measure
        in: query
        required: false
        description: Measure.
        schema:
          type: string
          enum:
          - rate
          - unemployed
          - employed
          - laborforce
      - name: months
        in: query
        required: false
        description: Months.
        schema:
          type: integer
          minimum: 1
          maximum: 60
      - $ref: '#/components/parameters/TrialMode'
  /api/labor/wages:
    get:
      tags:
      - labor
      summary: Occupational employment and wages from the BLS OEWS survey
      description: Occupational employment and wages from the BLS OEWS survey, by SOC occupation code, nationally or for a US state. Pass soc (e.g. 15-1252 Software Developers) and optionally a 2-letter state. Returns total employment, hourly mean wage, and annual mean + 10th/25th/median/75th/90th-percentile wages for the latest survey year. Public-domain, live-wrap. Authoritative ground-truth wages an agent must not guess — for comp benchmarking, job-offer evaluation, and labor-cost modeling.
      operationId: labor_wages
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one OEWS wage profile for the SOC + area]; total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            soc:
                              type: string
                            areaType:
                              type: string
                            area:
                              type: string
                            year:
                              type: number
                              nullable: true
                            employment:
                              type: number
                              nullable: true
                            hourlyMeanWage:
                              type: number
                              nullable: true
                            annualMeanWage:
                              type: number
                              nullable: true
                            annualPct10:
                              type: number
                              nullable: true
                            annualPct25:
                              type: number
                              nullable: true
                            annualMedian:
                              type: number
                              nullable: true
                            annualPct75:
                              type: number
                              nullable: true
                            annualPct90:
                              type: number
                              nullable: true
                          required:
                          - soc
                          - areaType
                          - area
                          - year
                          - employment
                          - hourlyMeanWage
                          - annualMeanWage
                          - annualPct10
                          - annualPct25
                          - annualMedian
                          - annualPct75
                          - annualPct90
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: labor.wages
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: soc
        in: query
        required: true
        description: Soc.
        schema:
          type: string
          pattern: ^\d{2}-?\d{4}$
      - name: state
        in: query
        required: false
        description: US state — two-letter postal abbreviation (e.g. CA) or full name.
        schema:
          type: string
          minLength: 2
          maxLength: 2
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  responses:
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    UpstreamError:
      description: Upstream provider error.
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    ServerError:
      description: Internal server error.
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
