openapi: 3.2.0
info:
  title: 2s — the (most) everything Ipinfo API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: ipinfo
paths:
  /api/ipinfo/bulk:
    post:
      tags:
      - ipinfo
      summary: Geolocate up to 100 IPv4 or IPv6 addresses in a single call
      description: Geolocate up to 100 IPv4 or IPv6 addresses in a single call. Pass an array of IPs; results come back in input order. Each successful entry includes country (name + ISO code), region (name + code), city, postal code, lat/lon (city-level precision), timezone, and network info (ISP, organization, AS). Failed entries include an error object instead of geo fields, plus okCount/failedCount totals. Far cheaper than 100 single calls to /api/geo/ip when enriching logs, access lists, or analytics batches.
      operationId: ipinfo_bulk
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = per-IP geolocation results in input order (ok flag + geo fields, or an error object on failure); total = items.length; meta carries okCount/failedCount.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          anyOf:
                          - type: object
                            properties:
                              ip:
                                type: string
                              ok:
                                type: boolean
                                enum:
                                - true
                              country:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    nullable: true
                                    description: ISO country code.
                                  name:
                                    type: string
                                    nullable: true
                                required:
                                - code
                                - name
                                additionalProperties: false
                              region:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    nullable: true
                                  name:
                                    type: string
                                    nullable: true
                                required:
                                - code
                                - name
                                additionalProperties: false
                              city:
                                type: string
                                nullable: true
                              postalCode:
                                type: string
                                nullable: true
                              coords:
                                type: object
                                properties:
                                  lat:
                                    type: number
                                  lon:
                                    type: number
                                required:
                                - lat
                                - lon
                                additionalProperties: false
                                nullable: true
                                description: City-level precision.
                              timezone:
                                type: string
                                nullable: true
                              network:
                                type: object
                                properties:
                                  isp:
                                    type: string
                                    nullable: true
                                  org:
                                    type: string
                                    nullable: true
                                  asn:
                                    type: string
                                    nullable: true
                                    description: AS number + name, e.g. "AS15169 Google LLC".
                                required:
                                - isp
                                - org
                                - asn
                                additionalProperties: false
                            required:
                            - ip
                            - ok
                            - country
                            - region
                            - city
                            - postalCode
                            - coords
                            - timezone
                            - network
                            additionalProperties: false
                            description: Successful lookup.
                          - type: object
                            properties:
                              ip:
                                type: string
                              ok:
                                type: boolean
                                enum:
                                - false
                              error:
                                type: object
                                properties:
                                  code:
                                    type: string
                                  message:
                                    type: string
                                required:
                                - code
                                - message
                                additionalProperties: false
                            required:
                            - ip
                            - ok
                            - error
                            additionalProperties: false
                            description: Failed lookup.
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          okCount:
                            type: integer
                          failedCount:
                            type: integer
                        required:
                        - okCount
                        - failedCount
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: ipinfo.bulk
      x-2s-version: null
      x-2s-price:
        usd: 0.015
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.015000'
        protocols:
        - x402: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ips:
                  type: array
                  items:
                    type: string
                    minLength: 1
                    maxLength: 64
                  minItems: 1
                  maxItems: 100
                  description: Ips.
              required:
              - ips
              additionalProperties: false
      parameters:
      - $ref: '#/components/parameters/TrialMode'
components:
  responses:
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    UpstreamError:
      description: Upstream provider error.
    ServerError:
      description: Internal server error.
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  schemas:
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
