openapi: 3.2.0
info:
  title: 2s — the (most) everything Iso API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: iso
paths:
  /api/iso/currency:
    get:
      tags:
      - iso
      summary: Look up an ISO 4217 currency
      description: Look up an ISO 4217 currency. Pass code (alphabetic like USD, or 3-digit numeric like 840) for the canonical record, or country to find the currency/currencies a country uses. Returns the alphabetic + numeric code, English name, minor unit (decimal places — e.g. JPY 0, USD 2, BHD 3), and the countries using it. Bundled authoritative ISO 4217 data — the currency-code + decimal-places ground truth an LLM gets wrong on less-common currencies.
      operationId: iso_currency
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      query:
                        type: object
                        properties:
                          code:
                            type: string
                            nullable: true
                          country:
                            type: string
                            nullable: true
                        required:
                        - code
                        - country
                        additionalProperties: false
                      found:
                        type: boolean
                      currencies:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type: string
                            numeric:
                              type: string
                              nullable: true
                            minorUnit:
                              type: number
                              nullable: true
                            countries:
                              type: array
                              items:
                                type: string
                          required:
                          - code
                          - name
                          - numeric
                          - minorUnit
                          - countries
                          additionalProperties: false
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - query
                    - found
                    - currencies
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: iso.currency
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: legacy
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: code
        in: query
        required: false
        description: Code to look up.
        schema:
          type: string
          minLength: 2
          maxLength: 4
      - name: country
        in: query
        required: false
        description: Country name or ISO country code.
        schema:
          type: string
          minLength: 2
          maxLength: 60
      - $ref: '#/components/parameters/TrialMode'
  /api/iso/language:
    get:
      tags:
      - iso
      summary: Look up an ISO 639 language
      description: Look up an ISO 639 language. Pass code in any form — 639-1 (en), 639-2/B (ger) or 639-2/T (deu) — or name (English, partial match). Returns the English name and all sibling codes (alpha-2, alpha3-B, alpha3-T), so you can normalize a messy language tag to canonical ISO identifiers and resolve the bibliographic-vs-terminological alpha-3 split (e.g. German = de / deu / ger). Bundled authoritative ISO 639 data.
      operationId: iso_language
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      query:
                        type: object
                        properties:
                          code:
                            type: string
                            nullable: true
                          name:
                            type: string
                            nullable: true
                        required:
                        - code
                        - name
                        additionalProperties: false
                      found:
                        type: boolean
                      languages:
                        type: array
                        items:
                          type: object
                          properties:
                            alpha3b:
                              type: string
                              nullable: true
                            alpha3t:
                              type: string
                              nullable: true
                            alpha2:
                              type: string
                              nullable: true
                            name:
                              type: string
                          required:
                          - alpha3b
                          - alpha3t
                          - alpha2
                          - name
                          additionalProperties: false
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - query
                    - found
                    - languages
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: iso.language
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: legacy
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: code
        in: query
        required: false
        description: Code to look up.
        schema:
          type: string
          minLength: 2
          maxLength: 3
      - name: name
        in: query
        required: false
        description: Name to search for.
        schema:
          type: string
          minLength: 2
          maxLength: 60
      - $ref: '#/components/parameters/TrialMode'
  /api/iso/subdivision:
    get:
      tags:
      - iso
      summary: Look up ISO 3166-2 subdivisions (states, provinces, regions)
      description: Look up ISO 3166-2 subdivisions (states, provinces, regions). Pass code (e.g. US-CA) to resolve a single subdivision → name + country, or country (2-letter ISO 3166-1, e.g. US) to list all of that country's subdivisions with their codes. Bundled authoritative ISO 3166-2 data (~3.8k subdivisions across 237 countries) — the address/jurisdiction ground truth an LLM hallucinates codes for.
      operationId: iso_subdivision
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      query:
                        type: object
                        properties:
                          code:
                            type: string
                            nullable: true
                          country:
                            type: string
                            nullable: true
                        required:
                        - code
                        - country
                        additionalProperties: false
                      found:
                        type: boolean
                      subdivision:
                        type: object
                        properties:
                          code:
                            type: string
                          name:
                            type: string
                          country:
                            type: string
                        required:
                        - code
                        - name
                        - country
                        additionalProperties: false
                        nullable: true
                      country:
                        type: string
                        nullable: true
                      subdivisions:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type: string
                            country:
                              type: string
                          required:
                          - code
                          - name
                          - country
                          additionalProperties: false
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - query
                    - found
                    - subdivision
                    - country
                    - subdivisions
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: iso.subdivision
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: legacy
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: code
        in: query
        required: false
        description: Code to look up.
        schema:
          type: string
          minLength: 4
          maxLength: 6
      - name: country
        in: query
        required: false
        description: Country name or ISO country code.
        schema:
          type: string
          minLength: 2
          maxLength: 2
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
  responses:
    ServerError:
      description: Internal server error.
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    BadRequest:
      description: Bad request — invalid parameters.
    UpstreamError:
      description: Upstream provider error.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
