{"openapi":"3.1.0","info":{"title":"2s — the (most) everything API","version":"1","summary":"The (most) everything API.","description":"The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin. More live, ground-truth data than any other x402 service — public records, finance & SEC filings, crypto & web3, security & CVEs, legal, medical, weather, geocoding, and B2B/EDI. A full AI gateway: chat, image, and multi-model consensus across every major model, priced per request in the 402 before you pay. And agent infrastructure with no account: wallet-scoped storage (kv/docs/vectors/files), locks, queues, scheduled callbacks, pub/sub, and watchers that push signed webhooks when the world changes. Pay per call in USDC on Base or Solana via x402 — no API keys, no signup, no subscription. The first x402 API with upto billing: on AI endpoints, authorize the quoted max and settle only your actual usage. Try before you buy: add ?trial=1 (or header X-2s-Trial: 1) to any endpoint for one free real call per endpoint per hour — no wallet needed. New endpoints land constantly.","contact":{"name":"2s","url":"https://2s.io","email":"alley@2s.io"},"x-logo":{"url":"https://2s.io/icon-512.png","altText":"2s"},"x-guidance":"Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run."},"servers":[{"url":"https://2s.io"}],"components":{"responses":{"BadRequest":{"description":"Bad request — invalid parameters."},"PaymentRequired":{"description":"Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/X402PaymentRequiredV2"}}}},"MethodNotAllowed":{"description":"Method not allowed — see `Allow` header for the supported method."},"ServerError":{"description":"Internal server error."},"UpstreamError":{"description":"Upstream provider error."}},"parameters":{"TrialMode":{"name":"trial","in":"query","required":false,"description":"Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the \"X-2s-Trial: 1\" request header. Works on every endpoint.","schema":{"type":"integer","enum":[1]}}},"securitySchemes":{"x402Payment":{"type":"apiKey","in":"header","name":"PAYMENT-SIGNATURE","description":"x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org."}},"schemas":{"Source":{"type":"object","description":"Provenance of the data: upstream provider, source URL, and license.","properties":{"provider":{"type":"string","description":"Upstream data provider."},"url":{"type":"string","description":"Source URL or documentation link."},"license":{"type":"string","description":"License / usage terms for the data."}}},"CallMeta":{"type":"object","description":"Per-call meta envelope — endpoint id, cost, caller kind, settlement details."},"X402PaymentRequiredV2":{"type":"object","description":"x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.","required":["x402Version","accepts"],"properties":{"x402Version":{"type":"integer","const":2},"error":{"type":"string","description":"Human-readable reason payment is required."},"resource":{"type":"string","description":"The resource URL being purchased."},"accepts":{"type":"array","description":"Payment requirement options, one per supported network (Base USDC, Solana USDC).","items":{"type":"object","required":["scheme","network","amount","asset","payTo","maxTimeoutSeconds"],"properties":{"scheme":{"type":"string","enum":["exact"]},"network":{"type":"string","description":"CAIP-2 network id, e.g. \"eip155:8453\" (Base) or \"solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp\"."},"amount":{"type":"string","description":"Price in atomic asset units (USDC has 6 decimals)."},"asset":{"type":"string","description":"Asset contract address / mint."},"payTo":{"type":"string","description":"Treasury address to pay."},"maxTimeoutSeconds":{"type":"integer"},"extra":{"type":"object","description":"Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).","additionalProperties":true}}}},"extensions":{"type":"object","description":"Optional discovery metadata (e.g. bazaar input/output schemas).","additionalProperties":true}}}}},"paths":{"/api/agent/knowledge-delta":{"post":{"tags":["agent"],"summary":"What's happened in a given topic since a given date?","description":"What's happened in a given topic since a given date? Pass a free-text topic + ISO date; receive a deduplicated, ranked list of recent events drawn from US federal regulations, US House + Senate roll-call votes, academic papers (arXiv + PubMed + Semantic Scholar), and federal court opinions. Each event includes title, 1-2 sentence summary, date, source label, source URL, and a 1-5 significance score. Designed so an AI agent can spend one call to catch up on a domain since its LLM training cutoff. LLM-backed source routing and synthesis.","operationId":"agent_knowledge-delta","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [delta] (one knowledge-delta document: query echo, sourcesQueried, deduplicated+ranked events); total = 1; meta.rawHits = raw hit count.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"query":{"type":"object","properties":{"topic":{"type":"string"},"since":{"type":"string"},"until":{"type":"string"},"maxEvents":{"type":"integer"}},"required":["topic","since","until","maxEvents"],"additionalProperties":false},"sourcesQueried":{"type":"array","items":{"type":"string"}},"events":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"summary":{"type":"string"},"date":{"type":"string","nullable":true},"source":{"type":"string"},"sourceLabel":{"type":"string"},"sourceUrl":{"type":"string","nullable":true},"significance":{"type":"integer","minimum":1,"maximum":5}},"required":["title","summary","date","source","sourceLabel","sourceUrl","significance"],"additionalProperties":false}}},"required":["query","sourcesQueried","events"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"},"meta":{"type":"object","properties":{"rawHits":{"type":"integer","description":"Total raw hits before dedup/ranking."}},"required":["rawHits"],"additionalProperties":false}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"agent.knowledge-delta","x-2s-version":null,"x-2s-price":{"usd":0.15},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.150000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"topic":{"type":"string","minLength":2,"maxLength":200,"description":"Free-text domain. Examples: \"oncology immunotherapy\", \"Rust language ecosystem\", \"SEC enforcement against crypto exchanges\"."},"since":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Earliest date (YYYY-MM-DD). Typically the agent's LLM training cutoff date."},"until":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Latest date (YYYY-MM-DD). Default = today."},"maxEvents":{"type":"integer","minimum":1,"maximum":50,"default":20,"description":"Max events to return (1-50). Default 20."}},"required":["topic","since"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/agriculture/drought":{"get":{"tags":["agriculture"],"summary":"US Drought Monitor severity for a county (5-digit FIPS) or...","description":"US Drought Monitor severity for a county (5-digit FIPS) or state (2-letter code). Returns the weekly percent of area in each drought category — None, D0 (Abnormally Dry), D1 (Moderate), D2 (Severe), D3 (Extreme), D4 (Exceptional) — newest week first, plus the worst category present each week. Keyless, public-domain (NDMC/USDA/NOAA). This is the official metric behind USDA disaster-program eligibility; use for crop-risk, water, and insurance reasoning.","operationId":"agriculture_drought","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = weekly drought breakdowns (newest first); total = week count; meta carries area + areaType.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","nullable":true},"none":{"type":"number","nullable":true},"d0":{"type":"number","nullable":true},"d1":{"type":"number","nullable":true},"d2":{"type":"number","nullable":true},"d3":{"type":"number","nullable":true},"d4":{"type":"number","nullable":true},"worst":{"type":"string"}},"required":["date","none","d0","d1","d2","d3","d4","worst"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"},"meta":{"type":"object","properties":{"area":{"type":"string"},"areaType":{"type":"string"}},"required":["area","areaType"],"additionalProperties":false}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"agriculture.drought","x-2s-version":null,"x-2s-price":{"usd":0.0025},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002500"},"protocols":[{"x402":{}}]},"parameters":[{"name":"area","in":"query","required":true,"description":"Area.","schema":{"type":"string","minLength":2,"maxLength":5}},{"name":"weeks","in":"query","required":false,"description":"Weeks.","schema":{"type":"integer","minimum":1,"maximum":260}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/agriculture/stats":{"get":{"tags":["agriculture"],"summary":"USDA NASS QuickStats - authoritative US agricultural...","description":"USDA NASS QuickStats — authoritative US agricultural statistics: crop yields, acreage, production, livestock inventory, and prices received. Filter by commodity (e.g. CORN, SOYBEANS, CATTLE), year (or year__GE/year__LE range), state (2-letter), county, statistic category (YIELD, PRODUCTION, AREA HARVESTED, PRICE RECEIVED), and aggregation level (NATIONAL/STATE/COUNTY). Returns normalized rows with value + unit. QuickStats caps results at 50,000 rows, so narrow broad queries (a 400 RESULT_TOO_LARGE tells you to add filters). Public-domain federal data.","operationId":"agriculture_stats","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = matching NASS statistics rows; total = row count.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"commodity":{"type":"string","nullable":true},"year":{"type":"number","nullable":true},"state":{"type":"string","nullable":true},"county":{"type":"string","nullable":true},"category":{"type":"string","nullable":true},"dataItem":{"type":"string","nullable":true},"value":{"type":"number","nullable":true},"valueRaw":{"type":"string","nullable":true},"unit":{"type":"string","nullable":true}},"required":["commodity","year","state","county","category","dataItem","value","valueRaw","unit"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"agriculture.stats","x-2s-version":null,"x-2s-price":{"usd":0.0025},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002500"},"protocols":[{"x402":{}}]},"parameters":[{"name":"commodity_desc","in":"query","required":true,"description":"Commodity desc.","schema":{"type":"string","minLength":2,"maxLength":60}},{"name":"year","in":"query","required":false,"description":"Four-digit calendar year.","schema":{"type":"string","pattern":"^\\d{4}$"}},{"name":"year__GE","in":"query","required":false,"description":"Year ge.","schema":{"type":"string","pattern":"^\\d{4}$"}},{"name":"year__LE","in":"query","required":false,"description":"Year le.","schema":{"type":"string","pattern":"^\\d{4}$"}},{"name":"state_alpha","in":"query","required":false,"description":"State alpha.","schema":{"type":"string","minLength":2,"maxLength":2}},{"name":"county_name","in":"query","required":false,"description":"County name.","schema":{"type":"string","maxLength":60}},{"name":"statisticcat_desc","in":"query","required":false,"description":"Statisticcat desc.","schema":{"type":"string","maxLength":60}},{"name":"agg_level_desc","in":"query","required":false,"description":"Agg level desc.","schema":{"type":"string","maxLength":30}},{"name":"short_desc","in":"query","required":false,"description":"Short desc.","schema":{"type":"string","maxLength":200}},{"name":"freq_desc","in":"query","required":false,"description":"Freq desc.","schema":{"type":"string","maxLength":20}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/chat":{"post":{"tags":["ai"],"summary":"OpenAI-compatible chat completions across every frontier...","description":"OpenAI-compatible chat completions across every frontier model on one endpoint — GPT-5, Claude, Gemini, Grok, DeepSeek, Llama, Mistral and ~290 more. POST { model, messages, max_tokens?, temperature?, top_p?, stop? } and get back a standard chat.completion (choices[].message + usage). Pay per call in USDC via x402 — no accounts, no provider keys, no subscriptions. Price scales with the model and max_tokens and is quoted in the 402. List selectable models at GET /api/ai/models.","operationId":"ai_chat","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"OK"},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.chat","x-2s-version":null,"x-2s-price":{"usd":0.0025},"x-2s-accepts":["x402"],"x-2s-response-shape":"legacy","x-payment-info":{"price":{"mode":"dynamic","currency":"USD","min":"0.002500","max":"50.000000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"model":{"type":"string","minLength":1,"maxLength":80,"description":"Gateway model id, e.g. openai/gpt-5, anthropic/claude-opus-4.8, google/gemini-3-pro-preview. Full list: GET /api/ai/models."},"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["system","user","assistant"],"description":"Role."},"content":{"type":"string","description":"Content."}},"required":["role","content"],"additionalProperties":false},"minItems":1,"description":"OpenAI-style message list."},"max_tokens":{"type":"integer","minimum":1,"maximum":8192,"description":"Max output tokens (default 1024)."},"temperature":{"type":"number","minimum":0,"maximum":2,"description":"Temperature."},"top_p":{"type":"number","minimum":0,"maximum":1,"description":"Top p."},"stop":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Stop."}},"required":["model","messages"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/classify":{"post":{"tags":["ai"],"summary":"Zero-shot text classification.","description":"Zero-shot text classification. POST { text, labels[], multiLabel? }. Assigns the text to one of your labels (or several when multiLabel=true) with a confidence score and a one-line rationale. No training data needed — define the labels at call time. Great for routing, tagging, triage, and intent detection.","operationId":"ai_classify","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [classification].","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"array","items":{"type":"string"}},"top":{"type":"string","nullable":true},"confidence":{"type":"number","nullable":true},"reasoning":{"type":"string","nullable":true}},"required":["labels","top","confidence","reasoning"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.classify","x-2s-version":null,"x-2s-price":{"usd":0.045},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.045000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":12000,"description":"Text."},"labels":{"type":"array","items":{"type":"string","minLength":1,"maxLength":60},"minItems":2,"maxItems":20,"description":"Candidate labels to choose from."},"multiLabel":{"type":"boolean","description":"Allow multiple labels (default single)."}},"required":["text","labels"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/council":{"post":{"tags":["ai"],"summary":"Ask several frontier models the same question and get one...","description":"Ask several frontier models the same question and get one synthesized answer. Choose a preset council — fast (3 quick models), balanced (3 strong models with a peer-refine round), or deep (5 models plus refine) — or supply your own set of 2–8 models. A chairman model merges the responses into a single consensus with a confidence score and any points of dissent, and each member’s individual answer is returned alongside. Price scales with the council size and answer length, and is quoted up front in the 402. Models auto-resolve to their latest available version; any unavailable model simply drops out (at least 2 are needed).","operationId":"ai_council","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [the consensus result]; total = 1. meta carries the mode, chairman model, and how many members answered.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"consensus":{"type":"string","description":"The synthesized best answer."},"confidence":{"type":"number","description":"0–1 confidence; high when the council agreed."},"agreement":{"type":"string","description":"One-line note on what the council agreed on."},"dissent":{"type":"array","items":{"type":"string"},"description":"Notable disagreements or points one model added; empty on full agreement."},"models":{"type":"array","items":{"type":"object","properties":{"model":{"type":"string"},"answered":{"type":"boolean"},"answer":{"type":"string","nullable":true}},"required":["model","answered","answer"],"additionalProperties":false},"description":"Each council member and its individual answer (null if it did not respond)."}},"required":["consensus","confidence","agreement","dissent","models"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"},"meta":{"type":"object","properties":{"mode":{"type":"string"},"chairman":{"type":"string"},"modelCount":{"type":"integer"},"answered":{"type":"integer"}},"required":["mode","chairman","modelCount","answered"],"additionalProperties":false}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.council","x-2s-version":null,"x-2s-price":{"usd":0.03},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"dynamic","currency":"USD","min":"0.030000","max":"50.000000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","minLength":1,"maxLength":12000,"description":"The question to put to the council."},"mode":{"type":"string","enum":["fast","balanced","deep"],"description":"Preset council. Default balanced. Ignored if `models` is given."},"models":{"type":"array","items":{"type":"string","minLength":1,"maxLength":80},"minItems":2,"maxItems":8,"description":"Custom council of 2–8 gateway model ids, e.g. [\"openai/gpt-5\",\"anthropic/claude-opus\",\"google/gemini-3-pro\"] (overrides `mode`). Full selectable list + live prices: GET /api/ai/council/menu."},"maxTokens":{"type":"integer","minimum":128,"maximum":4096,"description":"Max output tokens per model. Default 640."}},"required":["prompt"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/describe-image":{"post":{"tags":["ai"],"summary":"Describe an image. POST { imageUrl, instruction? }. Returns...","description":"Describe an image. POST { imageUrl, instruction? }. Returns { imageUrl, altText (5-15 word accessibility text), description (2-3 sentences), contentType (photograph|illustration|screenshot|diagram|document|mixed|other), text (verbatim OCR transcription, \"\" if none), mainObjects[], dominantColors[] (hex) }. Accepts JPEG, PNG, GIF, WebP. 1MB image size cap.","operationId":"ai_describe-image","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [description] (one structured image description: altText, description, OCR text, main objects, dominant colors); total = 1.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"imageUrl":{"type":"string"},"altText":{"type":"string","description":"Short accessibility text (~5-15 words)."},"description":{"type":"string","description":"2-3 sentence description."},"contentType":{"type":"string","enum":["photograph","illustration","screenshot","diagram","document","mixed","other"]},"text":{"type":"string","description":"Verbatim OCR transcription, \"\" if no text present."},"mainObjects":{"type":"array","items":{"type":"string"},"description":"Salient objects/subjects in the image."},"dominantColors":{"type":"array","items":{"type":"string"},"description":"Hex color codes (e.g. \"#1a3b5f\") of dominant colors."}},"required":["imageUrl","altText","description","contentType","text","mainObjects","dominantColors"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.describe-image","x-2s-version":null,"x-2s-price":{"usd":0.045},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.045000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"imageUrl":{"type":"string","format":"uri","maxLength":2048,"description":"HTTPS URL of a JPEG, PNG, GIF, or WebP image (≤1MB)."},"instruction":{"type":"string","maxLength":1000,"description":"Optional caller-supplied focus hint, e.g. \"describe the chart axes\"."}},"required":["imageUrl"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/entities":{"post":{"tags":["ai"],"summary":"Named-entity recognition.","description":"Named-entity recognition. POST { text }. Extracts people, organizations, locations, dates, money, products, laws, events and more — each with a standard type and mention count. For knowledge extraction, redaction prep, and document indexing.","operationId":"ai_entities","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [{ entities, count }].","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"type":{"type":"string"},"mentions":{"type":"number","nullable":true}},"required":["text","type","mentions"],"additionalProperties":false}},"count":{"type":"number"}},"required":["entities","count"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.entities","x-2s-version":null,"x-2s-price":{"usd":0.09},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":12000,"description":"Text."}},"required":["text"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/extract":{"post":{"tags":["ai"],"summary":"Extract structured data from a webpage.","description":"Extract structured data from a webpage. POST { url, schema, instruction? }. The schema is a JSON Schema object (top-level type:\"object\") describing the shape you want back; output is guaranteed to conform. Returns { url, finalUrl, extracted, meta:{ truncated } }.","operationId":"ai_extract","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [extraction] (one object: the schema-conforming extracted data, source URLs, truncation flag); total = 1.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"Requested URL."},"finalUrl":{"type":"string","description":"Final URL after redirects."},"extracted":{"type":"object","additionalProperties":{},"description":"The extracted object, conforming to the caller-supplied JSON Schema."},"truncated":{"type":"boolean","description":"True if the source page was truncated before extraction."}},"required":["url","finalUrl","extracted","truncated"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.extract","x-2s-version":null,"x-2s-price":{"usd":0.1875},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.187500"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","format":"uri","maxLength":2048,"description":"URL to process."},"schema":{"type":"object","additionalProperties":{},"description":"Schema."},"instruction":{"type":"string","maxLength":2000,"description":"Instruction."}},"required":["url","schema"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/image":{"post":{"tags":["ai"],"summary":"Generate images from a text prompt across the gateway's...","description":"Generate images from a text prompt across the gateway’s image models (gpt-image, Gemini image, FLUX, Grok Imagine, …) on one endpoint. POST { model, prompt, n?, size? } → OpenAI-style { created, data: [{ b64_json }] }. Pay per call in USDC via x402 — no accounts or provider keys. Priced per model from $0.03/image (quoted in the 402). List models at GET /api/ai/models.","operationId":"ai_image","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"OK"},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.image","x-2s-version":null,"x-2s-price":{"usd":0.09},"x-2s-accepts":["x402"],"x-2s-response-shape":"legacy","x-payment-info":{"price":{"mode":"dynamic","currency":"USD","min":"0.090000","max":"50.000000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"model":{"type":"string","minLength":1,"maxLength":80,"description":"Gateway image model id, e.g. openai/gpt-image-1, google/gemini-3-pro-image, black-forest-labs/flux-1.1-pro."},"prompt":{"type":"string","minLength":1,"maxLength":4000,"description":"Text prompt."},"n":{"type":"integer","minimum":1,"maximum":4,"description":"Number of images (1-4, default 1)."},"size":{"type":"string","maxLength":16,"description":"Optional WxH, e.g. 1024x1024."}},"required":["model","prompt"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/moderate":{"post":{"tags":["ai"],"summary":"Content moderation. POST { text }. Flags content across...","description":"Content moderation. POST { text }. Flags content across categories — hate, harassment, sexual, sexual/minors, violence, self-harm, dangerous, illicit — with a per-category boolean and 0..1 severity score, plus an overall flagged verdict. For UGC filtering, trust & safety, and pre-publish checks.","operationId":"ai_moderate","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [{ flagged, categories, scores }].","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"flagged":{"type":"boolean"},"categories":{"type":"object","additionalProperties":{"type":"boolean"}},"scores":{"type":"object","additionalProperties":{"type":"number"}}},"required":["flagged","categories","scores"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.moderate","x-2s-version":null,"x-2s-price":{"usd":0.045},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.045000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":12000,"description":"Text."}},"required":["text"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/ocr":{"post":{"tags":["ai"],"summary":"OCR + layout extraction.","description":"OCR + layout extraction. POST { imageUrl, instruction? }. Returns verbatim transcribed text in reading order, any detected tables as markdown, the primary language, and a handwriting flag. For reading receipts, forms, screenshots, scanned pages, and labels. JPEG/PNG/GIF/WebP.","operationId":"ai_ocr","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [OCR result].","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"imageUrl":{"type":"string"},"fullText":{"type":"string"},"tables":{"type":"array","items":{"type":"string"}},"language":{"type":"string","nullable":true},"hasHandwriting":{"type":"boolean","nullable":true}},"required":["imageUrl","fullText","tables","language","hasHandwriting"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.ocr","x-2s-version":null,"x-2s-price":{"usd":0.09},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.090000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"imageUrl":{"type":"string","format":"uri","maxLength":2048,"description":"Public image URL (JPEG/PNG/GIF/WebP)."},"instruction":{"type":"string","maxLength":500,"description":"Optional steering, e.g. \"only the table\" or \"preserve line numbers\"."}},"required":["imageUrl"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/pii":{"post":{"tags":["ai"],"summary":"PII detection. POST { text }. Finds personally identifiable...","description":"PII detection. POST { text }. Finds personally identifiable information — names, emails, phones, addresses, SSNs, credit cards, bank/IP/passport/DOB and more — returning each finding with its type and exact substring so you can redact it. For compliance, logging hygiene, and data-minimization before storing or sending text.","operationId":"ai_pii","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [{ hasPii, count, types, entities }].","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"hasPii":{"type":"boolean"},"count":{"type":"number"},"types":{"type":"array","items":{"type":"string"}},"entities":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"string"}},"required":["type","value"],"additionalProperties":false}}},"required":["hasPii","count","types","entities"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.pii","x-2s-version":null,"x-2s-price":{"usd":0.075},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.075000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":12000,"description":"Text."}},"required":["text"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/research":{"post":{"tags":["ai"],"summary":"Grounded research brief.","description":"Grounded research brief. POST { query, urls? }. Gathers sources (Wikipedia + any URLs you supply), then synthesizes a factual, cited brief: a 2-4 sentence summary, key facts, and the source list. Grounded only in the fetched sources (no free-form invention). For agent research, due diligence, and topic primers.","operationId":"ai_research","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [research brief]; sources lists what was used.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"query":{"type":"string"},"summary":{"type":"string"},"keyFacts":{"type":"array","items":{"type":"string"}},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"}},"required":["title","url"],"additionalProperties":false}}},"required":["query","summary","keyFacts","sources"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.research","x-2s-version":null,"x-2s-price":{"usd":0.105},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.105000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","minLength":2,"maxLength":400,"description":"Topic, entity, or question to research."},"urls":{"type":"array","items":{"type":"string","format":"uri","maxLength":2048},"maxItems":5,"description":"Optional source URLs to ground the brief in, alongside Wikipedia."}},"required":["query"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/screenshot":{"post":{"tags":["ai"],"summary":"Render a URL as a screenshot.","description":"Render a URL as a screenshot. POST { url, width?, height?, fullPage?, format?, quality?, waitUntil?, timeoutMs?, deviceScaleFactor?, blockAds? }. Returns raw image bytes (no JSON envelope) with X-2s-Render-Ms and X-2s-Image-Bytes headers. Viewport clamped 320-3840 × 320-2160. Timeout clamped 1-15s. Defaults: 1280×720 PNG, networkidle2 wait, ad-blocking on. Use cases: visual verification, archival, change detection, OG-card generation, RSS thumbnails.","operationId":"ai_screenshot","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Raw image bytes (PNG / JPEG / WebP per `format`). X-2s-Render-Ms + X-2s-Image-Bytes response headers describe the render. No JSON envelope on success.","content":{"image/*":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.screenshot","x-2s-version":null,"x-2s-price":{"usd":0.01875},"x-2s-accepts":["x402"],"x-2s-response-shape":"legacy","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.018750"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","format":"uri","maxLength":2048,"description":"HTTPS URL to render."},"width":{"type":"integer","minimum":320,"maximum":3840,"description":"Viewport width (320-3840). Default 1280."},"height":{"type":"integer","minimum":320,"maximum":2160,"description":"Viewport height (320-2160). Default 720."},"fullPage":{"type":"boolean","description":"Capture the full scrollable page instead of the viewport."},"format":{"type":"string","enum":["png","jpeg","webp"],"description":"Image format. Default png."},"quality":{"type":"integer","minimum":1,"maximum":100,"description":"JPEG/WebP quality 1-100. Ignored for PNG."},"waitUntil":{"type":"string","enum":["load","domcontentloaded","networkidle0","networkidle2"],"description":"Wait condition before snap. Default networkidle2."},"timeoutMs":{"type":"integer","minimum":1000,"maximum":15000,"description":"Render timeout in milliseconds (1000-15000). Default 8000."},"deviceScaleFactor":{"type":"integer","minimum":1,"maximum":3,"description":"Pixel density multiplier 1-3. Default 1."},"blockAds":{"type":"boolean","description":"Block ads + trackers. Default true."}},"required":["url"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/sentiment":{"post":{"tags":["ai"],"summary":"Sentiment analysis. POST { text }. Returns overall...","description":"Sentiment analysis. POST { text }. Returns overall sentiment (positive/negative/neutral/mixed), a polarity score from -1 to 1, a confidence, and a one-line rationale. For reviews, social posts, support messages, and feedback triage.","operationId":"ai_sentiment","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [sentiment].","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"sentiment":{"type":"string","nullable":true},"score":{"type":"number","nullable":true},"confidence":{"type":"number","nullable":true},"rationale":{"type":"string","nullable":true}},"required":["sentiment","score","confidence","rationale"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.sentiment","x-2s-version":null,"x-2s-price":{"usd":0.045},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.045000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":12000,"description":"Text."}},"required":["text"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/summarize":{"post":{"tags":["ai"],"summary":"Summarize a webpage. POST { url, instruction? }. Returns {...","description":"Summarize a webpage. POST { url, instruction? }. Returns { url, finalUrl, summary (1-3 sentences), keyPoints (3-7 bullets), title, audience, estimatedReadingMinutes, meta:{ truncated } }. Sibling to /api/ai/extract — use extract when you need a typed payload conforming to your own schema; use summarize when you want a ready-made digest. Supports x402 upto billing: authorize the quoted max, pay only your actual usage.","operationId":"ai_summarize","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [summary] (one structured page summary: summary, keyPoints, title, audience, reading time); total = 1.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"Requested URL."},"finalUrl":{"type":"string","description":"Final URL after redirects."},"summary":{"type":"string","description":"1-3 sentence digest."},"keyPoints":{"type":"array","items":{"type":"string"},"description":"3-7 bullet key points."},"title":{"type":"string","description":"Page title."},"audience":{"type":"string","description":"Inferred target audience."},"estimatedReadingMinutes":{"type":"integer","description":"Estimated reading time in minutes."},"truncated":{"type":"boolean","description":"True if the source page was truncated before summarizing."}},"required":["url","finalUrl","summary","keyPoints","title","audience","estimatedReadingMinutes","truncated"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.summarize","x-2s-version":null,"x-2s-price":{"usd":0.1575},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.157500"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","format":"uri","maxLength":2048,"description":"URL to process."},"instruction":{"type":"string","maxLength":1000,"description":"Instruction."}},"required":["url"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/translate":{"post":{"tags":["ai"],"summary":"Translate text. POST { text, targetLanguage...","description":"Translate text. POST { text, targetLanguage, sourceLanguage? } — language codes are BCP-47 (e.g. \"en\", \"es-MX\", \"zh-Hans\"). Source auto-detected when omitted. Returns { text, targetLanguage, detectedSourceLanguage, confidence (high|medium|low) }. Best for short-to-medium passages; chunk long documents on your side.","operationId":"ai_translate","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [translation] (one result: translated text, detected source language, confidence); total = 1.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"Translated text in targetLanguage."},"targetLanguage":{"type":"string"},"detectedSourceLanguage":{"type":"string","description":"BCP-47 source language tag (echoed when supplied, detected otherwise)."},"confidence":{"type":"string","enum":["high","medium","low"],"description":"Model confidence in the translation."}},"required":["text","targetLanguage","detectedSourceLanguage","confidence"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.translate","x-2s-version":null,"x-2s-price":{"usd":0.0705},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.070500"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"type":"string","minLength":1,"maxLength":6000,"description":"Source text to translate (1-6000 chars)."},"targetLanguage":{"type":"string","minLength":2,"maxLength":20,"description":"Target language as BCP-47 (e.g. \"en\", \"es-MX\", \"zh-Hans\")."},"sourceLanguage":{"type":"string","minLength":2,"maxLength":20,"description":"Source language as BCP-47. Auto-detected when omitted."}},"required":["text","targetLanguage"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/ai/web-answer":{"post":{"tags":["ai"],"summary":"Answer a question from the live web.","description":"Answer a question from the live web. POST { query, topic?, maxResults? }. Runs a deep web search and returns a synthesized, citation-backed answer plus the ranked source pages (title, URL, snippet). For up-to-the-minute questions an LLM alone can't answer — news, prices, current events, recent releases. topic=news biases toward recent reporting.","operationId":"ai_web-answer","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized: items = [{ answer, sources }].","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string","nullable":true},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"score":{"type":"number","nullable":true}},"required":["title","url","content","score"],"additionalProperties":false}}},"required":["answer","sources"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"ai.web-answer","x-2s-version":null,"x-2s-price":{"usd":0.0825},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.082500"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","minLength":2,"maxLength":400,"description":"Free-text search query."},"topic":{"type":"string","enum":["general","news"],"description":"Topic."},"maxResults":{"type":"integer","minimum":1,"maximum":10,"description":"Max results."}},"required":["query"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/airport/lookup":{"get":{"tags":["airport"],"summary":"Look up an airport by 3-letter IATA (e.g.","description":"Look up an airport by 3-letter IATA (e.g. SFO) or 4-letter ICAO (e.g. KSFO) code. Query: code (3-5 chars, alphanumeric). Returns { airport: { id, ident, type, name, latitude, longitude, elevationFt, continent, isoCountry, isoRegion, municipality, scheduledService, icaoCode, iataCode, gpsCode, localCode, wikipediaLink } } or 404 NOT_FOUND.","operationId":"airport_lookup","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [airport] (one OurAirports record); total = 1. 404 if no airport matches the code.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"OurAirports stable numeric id."},"ident":{"type":"string","description":"Globally unique identifier (usually ICAO)."},"type":{"type":"string","nullable":true,"description":"large_airport | medium_airport | small_airport | heliport | seaplane_base | closed."},"name":{"type":"string","nullable":true},"latitude":{"type":"number"},"longitude":{"type":"number"},"elevationFt":{"type":"integer","nullable":true},"continent":{"type":"string","nullable":true},"isoCountry":{"type":"string","nullable":true,"description":"ISO 3166-1 alpha-2 country code."},"isoRegion":{"type":"string","nullable":true,"description":"ISO 3166-2 region code (e.g. US-CA)."},"municipality":{"type":"string","nullable":true},"scheduledService":{"type":"boolean","nullable":true},"icaoCode":{"type":"string","nullable":true},"iataCode":{"type":"string","nullable":true},"gpsCode":{"type":"string","nullable":true},"localCode":{"type":"string","nullable":true},"wikipediaLink":{"type":"string","nullable":true}},"required":["id","ident","type","name","latitude","longitude","elevationFt","continent","isoCountry","isoRegion","municipality","scheduledService","icaoCode","iataCode","gpsCode","localCode","wikipediaLink"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"airport.lookup","x-2s-version":null,"x-2s-price":{"usd":0.0025},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002500"},"protocols":[{"x402":{}}]},"parameters":[{"name":"code","in":"query","required":true,"description":"3-letter IATA or 4-letter ICAO airport code (e.g. SFO, KSFO).","schema":{"type":"string","minLength":3,"maxLength":5}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/airport/near":{"get":{"tags":["airport"],"summary":"Airports within a radius of a coordinate, sorted by distance.","description":"Airports within a radius of a coordinate, sorted by distance. Query: lat (-90..90), lon (-180..180), radius_km (1-2000, default 200), limit (1-100, default 20), type (optional: large_airport|medium_airport|small_airport|heliport|seaplane_base|balloonport|closed), country (optional 2-letter ISO 3166-1), scheduled_service (optional bool, true = commercial-service airports only). Returns { query, count, airports: [{ id, ident, name, iataCode, icaoCode, type, latitude, longitude, distanceKm, ... }] }.","operationId":"airport_near","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = airports within radius_km, sorted by ascending distance; total = null (no upstream total; query-bounded set); meta.query echoes the search.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"ident":{"type":"string"},"name":{"type":"string","nullable":true},"iataCode":{"type":"string","nullable":true},"icaoCode":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"latitude":{"type":"number"},"longitude":{"type":"number"},"distanceKm":{"type":"number","description":"Great-circle distance to (lat, lon), kilometers."},"isoCountry":{"type":"string","nullable":true},"isoRegion":{"type":"string","nullable":true},"municipality":{"type":"string","nullable":true},"scheduledService":{"type":"boolean","nullable":true}},"required":["id","ident","name","iataCode","icaoCode","type","latitude","longitude","distanceKm","isoCountry","isoRegion","municipality","scheduledService"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"},"meta":{"type":"object","properties":{"query":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"radiusKm":{"type":"number"},"limit":{"type":"integer"},"type":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"scheduledServiceOnly":{"type":"boolean","nullable":true}},"required":["latitude","longitude","radiusKm","limit","type","country","scheduledServiceOnly"],"additionalProperties":false}},"required":["query"],"additionalProperties":false}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"airport.near","x-2s-version":null,"x-2s-price":{"usd":0.0025},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002500"},"protocols":[{"x402":{}}]},"parameters":[{"name":"lat","in":"query","required":true,"description":"Latitude in decimal degrees (-90 to 90).","schema":{"type":"number","minimum":-90,"maximum":90}},{"name":"lon","in":"query","required":true,"description":"Longitude in decimal degrees (-180 to 180).","schema":{"type":"number","minimum":-180,"maximum":180}},{"name":"radius_km","in":"query","required":false,"description":"Search radius in kilometers (1-2000). Default 200.","schema":{"type":"number","minimum":1,"maximum":2000,"default":200}},{"name":"limit","in":"query","required":false,"description":"Max airports to return (1-100). Default 20.","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"type","in":"query","required":false,"description":"Filter by airport type.","schema":{"type":"string","enum":["large_airport","medium_airport","small_airport","heliport","seaplane_base","balloonport","closed"]}},{"name":"country","in":"query","required":false,"description":"Filter by ISO 3166-1 alpha-2 country code (e.g. US).","schema":{"type":"string","pattern":"^[A-Z]{2}$"}},{"name":"scheduled_service","in":"query","required":false,"description":"When true, only commercial-service airports.","schema":{"type":"boolean"}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/aviation/accidents":{"get":{"tags":["aviation"],"summary":"Search the NTSB civil aviation accident & incident database...","description":"Search the NTSB civil aviation accident & incident database (CAROL) — US events from 1962 to present plus selected foreign investigations. Filter by aircraft registration (N-number, partial match), US state (2-letter code or name), make, model, city, and/or event date range (dateFrom/dateTo as YYYY-MM-DD). At least one filter is required. Returns matching events newest-first: NTSB number, event date/type, city/state/country, aircraft registration(s)/make(s)/model(s), highest injury level, onboard & on-ground injury counts, report type/status, and a link to the official NTSB case page. Data: NTSB (U.S. public domain), live. For aviation safety research, fleet/tail-number history, incident due-diligence, and accident-trend analysis.","operationId":"aviation_accidents","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"query":{"type":"object","additionalProperties":{"anyOf":[{"not":{}},{"anyOf":[{"type":"string"},{"type":"number"}]}]}},"total":{"type":"number"},"truncated":{"type":"boolean"},"count":{"type":"number"},"items":{"type":"array","items":{"type":"object","properties":{"ntsbNumber":{"type":"string","nullable":true},"mkey":{"type":"string","nullable":true},"eventType":{"type":"string","nullable":true},"eventDate":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"registration":{"type":"array","items":{"type":"string"}},"make":{"type":"array","items":{"type":"string"}},"model":{"type":"array","items":{"type":"string"}},"highestInjuryLevel":{"type":"string","nullable":true},"injuriesOnboard":{"type":"number","nullable":true},"injuriesOnGround":{"type":"number","nullable":true},"reportType":{"type":"string","nullable":true},"reportStatus":{"type":"string","nullable":true},"reportUrl":{"type":"string","nullable":true}},"required":["ntsbNumber","mkey","eventType","eventDate","city","state","country","registration","make","model","highestInjuryLevel","injuriesOnboard","injuriesOnGround","reportType","reportStatus","reportUrl"],"additionalProperties":false}},"source":{"$ref":"#/components/schemas/Source"}},"required":["query","total","truncated","count","items","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"aviation.accidents","x-2s-version":null,"x-2s-price":{"usd":0.003},"x-2s-accepts":["x402"],"x-2s-response-shape":"legacy","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.003000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"registration","in":"query","required":false,"description":"Aircraft registration / N-number (partial match).","schema":{"type":"string","minLength":1,"maxLength":20}},{"name":"state","in":"query","required":false,"description":"US state, 2-letter code or full name.","schema":{"type":"string","minLength":2,"maxLength":40}},{"name":"make","in":"query","required":false,"description":"Aircraft make (partial match), e.g. Cessna.","schema":{"type":"string","minLength":1,"maxLength":60}},{"name":"model","in":"query","required":false,"description":"Aircraft model (partial match), e.g. 172.","schema":{"type":"string","minLength":1,"maxLength":60}},{"name":"city","in":"query","required":false,"description":"Event city (partial match).","schema":{"type":"string","minLength":1,"maxLength":80}},{"name":"dateFrom","in":"query","required":false,"description":"Earliest event date, YYYY-MM-DD.","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}},{"name":"dateTo","in":"query","required":false,"description":"Latest event date, YYYY-MM-DD.","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}},{"name":"limit","in":"query","required":false,"description":"Max records to return (1-100, default 25).","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/aviation/metar":{"get":{"tags":["aviation"],"summary":"Current aviation weather observation (METAR) for one or...","description":"Current aviation weather observation (METAR) for one or more airports. Pass ids = comma-separated ICAO station ids (e.g. KATL, EGLL, KJFK). Returns the raw METAR plus decoded fields: flight category (VFR/MVFR/IFR/LIFR), temperature + dewpoint (°C), wind direction/speed/gust (kt), visibility, altimeter (inHg), and cloud layers. Source: NOAA Aviation Weather Center (keyless, public domain).","operationId":"aviation_metar","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = METAR observations (one per station); total = count.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"station":{"type":"string"},"observedAt":{"type":"string","nullable":true},"raw":{"type":"string","nullable":true},"flightCategory":{"type":"string","nullable":true},"tempC":{"type":"number","nullable":true},"dewpointC":{"type":"number","nullable":true},"windDirDeg":{"type":"number","nullable":true},"windSpeedKt":{"type":"number","nullable":true},"windGustKt":{"type":"number","nullable":true},"visibility":{"type":"string","nullable":true},"altimeterInHg":{"type":"number","nullable":true},"clouds":{"type":"array","items":{"type":"object","properties":{"cover":{"type":"string"},"baseFtAgl":{"type":"number","nullable":true}},"required":["cover","baseFtAgl"],"additionalProperties":false}},"name":{"type":"string","nullable":true}},"required":["station","observedAt","raw","flightCategory","tempC","dewpointC","windDirDeg","windSpeedKt","windGustKt","visibility","altimeterInHg","clouds","name"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"aviation.metar","x-2s-version":null,"x-2s-price":{"usd":0.003},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.003000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"ids","in":"query","required":true,"description":"Comma-separated list of identifiers.","schema":{"type":"string","minLength":3,"maxLength":120}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/aviation/sigmet":{"get":{"tags":["aviation"],"summary":"Active in-flight weather hazard advisories (SIGMETs and...","description":"Active in-flight weather hazard advisories (SIGMETs and AIRMETs) from the NOAA Aviation Weather Center. Returns current advisories over a lookback window (1-24h), optionally filtered by hazard (CONVECTIVE, TURB turbulence, ICE icing, IFR, MTN OBSCN mountain obscuration, ASH volcanic ash). Each advisory carries the issuing office, type (SIGMET/AIRMET/OUTLOOK), hazard, severity, valid-from/to times, affected altitude band (feet MSL), movement (direction/speed), and the raw text bulletin. Keyless, public-domain (NOAA). The active-hazard layer aviation agents need — distinct from aviation.metar (station conditions) and aviation.taf (forecasts). Not for navigation.","operationId":"aviation_sigmet","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = active advisories (sliced to limit); total = match count.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"icaoId":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"hazard":{"type":"string","nullable":true},"severity":{"type":"string","nullable":true},"validFrom":{"type":"string","nullable":true},"validTo":{"type":"string","nullable":true},"altitudeLowFt":{"type":"number","nullable":true},"altitudeHiFt":{"type":"number","nullable":true},"movementDirDeg":{"type":"number","nullable":true},"movementSpeedKt":{"type":"number","nullable":true},"raw":{"type":"string","nullable":true}},"required":["icaoId","type","hazard","severity","validFrom","validTo","altitudeLowFt","altitudeHiFt","movementDirDeg","movementSpeedKt","raw"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"aviation.sigmet","x-2s-version":null,"x-2s-price":{"usd":0.0027},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002700"},"protocols":[{"x402":{}}]},"parameters":[{"name":"hazard","in":"query","required":false,"description":"Hazard.","schema":{"type":"string","minLength":2,"maxLength":20}},{"name":"hours","in":"query","required":false,"description":"Look-back window, in hours.","schema":{"type":"integer","minimum":1,"maximum":24}},{"name":"limit","in":"query","required":false,"description":"Maximum number of results to return.","schema":{"type":"integer","minimum":1,"maximum":50}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/aviation/taf":{"get":{"tags":["aviation"],"summary":"Terminal Aerodrome Forecast (TAF) for one or more airports...","description":"Terminal Aerodrome Forecast (TAF) for one or more airports — the official aviation forecast issued for an airport (~24–30h ahead). Pass ids = comma-separated ICAO station ids (e.g. KATL). Returns the raw TAF text + issue time. Source: NOAA Aviation Weather Center (keyless). For current conditions use aviation.metar.","operationId":"aviation_taf","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = TAFs (one per station); total = count.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"station":{"type":"string"},"issuedAt":{"type":"string","nullable":true},"raw":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"required":["station","issuedAt","raw","name"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"aviation.taf","x-2s-version":null,"x-2s-price":{"usd":0.003},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.003000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"ids","in":"query","required":true,"description":"Comma-separated list of identifiers.","schema":{"type":"string","minLength":3,"maxLength":120}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/bank/lookup":{"get":{"tags":["bank"],"summary":"FDIC-insured US bank directory lookup.","description":"FDIC-insured US bank directory lookup. Lookup by name (fuzzy match), FDIC certificate number, RSSD ID, or state. Each record includes name + short name, web address, active flag, city/state/county/zip, established + insured dates, charter class, bank class, primary federal regulator, number of branches, assets and deposits ($1000s), and closed-date + reason for inactive institutions. Public-domain FDIC data, free.","operationId":"bank_lookup","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = matched FDIC-insured institutions; total = upstream total match count; meta echoes the query + returned (this page).","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"cert":{"type":"string"},"rssdId":{"type":"string","nullable":true},"name":{"type":"string"},"shortName":{"type":"string","nullable":true},"webAddress":{"type":"string","nullable":true},"active":{"type":"boolean"},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"zipcode":{"type":"string","nullable":true},"county":{"type":"string","nullable":true},"establishedDate":{"type":"string","nullable":true},"insuredDate":{"type":"string","nullable":true},"charterClass":{"type":"string","nullable":true},"bankClass":{"type":"string","nullable":true},"primaryRegulator":{"type":"string","nullable":true},"numberOfBranches":{"type":"integer","nullable":true},"assets":{"type":"number","nullable":true},"deposits":{"type":"number","nullable":true},"closedDate":{"type":"string","nullable":true},"reasonClosed":{"type":"string","nullable":true}},"required":["cert","rssdId","name","shortName","webAddress","active","city","state","zipcode","county","establishedDate","insuredDate","charterClass","bankClass","primaryRegulator","numberOfBranches","assets","deposits","closedDate","reasonClosed"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"},"meta":{"type":"object","properties":{"query":{"type":"object","properties":{"name":{"type":"string","nullable":true},"cert":{"type":"string","nullable":true},"rssdId":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"status":{"type":"string"},"limit":{"type":"integer"},"offset":{"type":"integer"}},"required":["name","cert","rssdId","state","status","limit","offset"],"additionalProperties":false},"returned":{"type":"integer","description":"Records returned on this page."}},"required":["query","returned"],"additionalProperties":false}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"bank.lookup","x-2s-version":null,"x-2s-price":{"usd":0.003},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.003000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"name","in":"query","required":false,"description":"Name to search for.","schema":{"type":"string","minLength":2,"maxLength":200}},{"name":"cert","in":"query","required":false,"description":"Cert.","schema":{"type":"string","pattern":"^\\d{1,7}$"}},{"name":"rssdId","in":"query","required":false,"description":"Rssd ID.","schema":{"type":"string","pattern":"^\\d{1,10}$"}},{"name":"state","in":"query","required":false,"description":"US state — two-letter postal abbreviation (e.g. CA) or full name.","schema":{"type":"string","minLength":2,"maxLength":2,"pattern":"^[A-Za-z]{2}$"}},{"name":"status","in":"query","required":false,"description":"Filter results by status.","schema":{"type":"string","enum":["active","inactive","any"],"default":"active"}},{"name":"limit","in":"query","required":false,"description":"Maximum number of results to return.","schema":{"type":"integer","minimum":1,"maximum":50,"default":10}},{"name":"offset","in":"query","required":false,"description":"Number of results to skip before returning (pagination offset).","schema":{"type":"integer","minimum":0,"maximum":10000,"default":0}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/barcode/generate":{"post":{"tags":["barcode"],"summary":"Generate QR / Aztec / Data Matrix / PDF417 codes from...","description":"Generate QR / Aztec / Data Matrix / PDF417 codes from structured payloads (url, wifi, vcard, vevent, email, sms, tel, geo, bitcoin, json, text). QR supports rounded or dotted modules, solid colors or linear/radial gradients, transparent backgrounds, configurable error correction, and a centered logo image (URL or data URI).","operationId":"barcode_generate","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"OK"},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"barcode.generate","x-2s-version":null,"x-2s-price":{"usd":0.0025},"x-2s-accepts":["x402"],"x-2s-response-shape":"legacy","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002500"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"format":{"type":"string","enum":["qr","aztec","datamatrix","pdf417"],"default":"qr","description":"Format."},"data":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","enum":["text"],"description":"Filter results by type."},"text":{"type":"string","minLength":1,"maxLength":2000,"description":"Text."}},"required":["type","text"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["url"],"description":"Filter results by type."},"url":{"type":"string","format":"uri","maxLength":2000,"description":"URL to process."}},"required":["type","url"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["email"],"description":"Filter results by type."},"to":{"type":"string","format":"email","description":"End of the range."},"subject":{"type":"string","maxLength":200,"description":"Subject."},"body":{"type":"string","maxLength":1000,"description":"Body."}},"required":["type","to"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["sms"],"description":"Filter results by type."},"to":{"type":"string","minLength":1,"maxLength":50,"description":"End of the range."},"body":{"type":"string","maxLength":1000,"description":"Body."}},"required":["type","to"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["phone"],"description":"Filter results by type."},"number":{"type":"string","minLength":1,"maxLength":50,"description":"Item number or identifier."}},"required":["type","number"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["wifi"],"description":"Filter results by type."},"ssid":{"type":"string","minLength":1,"maxLength":100,"description":"Ssid."},"password":{"type":"string","maxLength":200,"description":"Password."},"security":{"type":"string","enum":["WPA","WEP","none"],"description":"Security."},"hidden":{"type":"boolean","description":"Hidden."}},"required":["type","ssid"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["vcard"],"description":"Filter results by type."},"name":{"type":"string","minLength":1,"maxLength":200,"description":"Name to search for."},"firstName":{"type":"string","maxLength":100,"description":"First name to filter by."},"lastName":{"type":"string","maxLength":100,"description":"Last name to filter by."},"phone":{"type":"string","maxLength":50,"description":"Phone."},"email":{"type":"string","format":"email","description":"Email."},"org":{"type":"string","maxLength":200,"description":"Org."},"title":{"type":"string","maxLength":200,"description":"Title to search for."},"url":{"type":"string","format":"uri","description":"URL to process."},"note":{"type":"string","maxLength":500,"description":"Note."}},"required":["type","name"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["geo"],"description":"Filter results by type."},"lat":{"type":"number","minimum":-90,"maximum":90,"description":"Latitude in decimal degrees (WGS84)."},"lon":{"type":"number","minimum":-180,"maximum":180,"description":"Longitude in decimal degrees (WGS84)."},"altitude":{"type":"number","description":"Altitude."}},"required":["type","lat","lon"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["bitcoin"],"description":"Filter results by type."},"address":{"type":"string","minLength":1,"maxLength":100,"description":"Street address or full address string."},"amount":{"type":"number","exclusiveMinimum":true,"minimum":0,"description":"Amount."},"label":{"type":"string","maxLength":200,"description":"Label."},"message":{"type":"string","maxLength":500,"description":"Message."}},"required":["type","address"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["calendar"],"description":"Filter results by type."},"title":{"type":"string","minLength":1,"maxLength":200,"description":"Title to search for."},"start":{"type":"string","format":"date-time","description":"Start."},"end":{"type":"string","format":"date-time","description":"End."},"location":{"type":"string","maxLength":200,"description":"Location."},"description":{"type":"string","maxLength":1000,"description":"Description."}},"required":["type","title","start","end"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","enum":["json"],"description":"Filter results by type."},"value":{"description":"Value."}},"required":["type"],"additionalProperties":false}],"description":"Data."},"output":{"type":"string","enum":["svg","png","dataurl"],"default":"svg","description":"Output."},"size":{"type":"integer","minimum":64,"maximum":4096,"default":512,"description":"Size."},"margin":{"type":"integer","minimum":0,"maximum":16,"default":4,"description":"Margin."},"errorCorrection":{"type":"string","enum":["L","M","Q","H"],"default":"M","description":"L=~7%, M=~15%, Q=~25%, H=~30% recoverable damage (QR only)."},"style":{"type":"object","properties":{"modules":{"type":"string","enum":["square","rounded","dots"],"description":"Modules."},"foreground":{"anyOf":[{"type":"string"},{"type":"object","properties":{"type":{"type":"string","enum":["linear","radial"],"description":"Gradient type."},"stops":{"type":"array","items":{"type":"object","properties":{"offset":{"type":"number","minimum":0,"maximum":1,"description":"Number of results to skip before returning (pagination offset)."},"color":{"type":"string","description":"Color."}},"required":["offset","color"],"additionalProperties":false},"minItems":2,"maxItems":10,"description":"Stops."},"rotation":{"type":"number","description":"Linear gradient rotation in degrees."}},"required":["type","stops"],"additionalProperties":false}],"description":"Foreground."},"background":{"type":"string","description":"CSS color or \"transparent\"."},"logo":{"type":"object","properties":{"source":{"type":"string","description":"https:// URL or data: URI. QR only."},"sizePct":{"type":"number","minimum":0.05,"maximum":0.4,"description":"Size pct."},"padding":{"type":"number","minimum":0,"maximum":32,"description":"Padding."},"background":{"type":"string","description":"Background."},"cornerRadius":{"type":"number","minimum":0,"maximum":64,"description":"Corner radius."}},"required":["source"],"additionalProperties":false,"description":"Logo."}},"additionalProperties":false,"description":"Style."}},"required":["data"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/batch/run":{"post":{"tags":["batch"],"summary":"Run up to 50 endpoint calls behind ONE x402 payment.","description":"Run up to 50 endpoint calls behind ONE x402 payment. Price is the exact sum of the sub-call prices (no batch discount). Atomic: every sub-call must succeed or nothing is charged — the failing calls are returned and you can retry for free. Eligible sub-calls are ordinary catalog endpoints (no bearer-only, deprecated, variable-priced, or metered-upstream endpoints, and no nested batch).","operationId":"batch_run","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"One item per sub-call, in request order, each carrying that endpoint’s own response in `data`.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"endpoint":{"type":"string"},"ok":{"type":"boolean","enum":[true]},"price_usd":{"type":"number"},"data":{}},"required":["endpoint","ok","price_usd"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"},"meta":{"type":"object","properties":{"count":{"type":"integer"},"total_price_usd":{"type":"number"},"pricing":{"type":"string"},"atomic":{"type":"string"}},"required":["count","total_price_usd","pricing","atomic"],"additionalProperties":false}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"batch.run","x-2s-version":null,"x-2s-price":{"usd":0.003},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"dynamic","currency":"USD","min":"0.003000","max":"50.000000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"calls":{"type":"array","items":{"type":"object","properties":{"endpoint":{"type":"string","minLength":3,"maxLength":64,"pattern":"^[a-z0-9-]+\\.[a-z0-9-]+$","description":"Endpoint."},"params":{"type":"object","additionalProperties":{},"default":{},"description":"Params."}},"required":["endpoint"],"additionalProperties":false},"minItems":1,"maxItems":50,"description":"Calls."}},"required":["calls"],"additionalProperties":false}}}},"parameters":[{"$ref":"#/components/parameters/TrialMode"}]}},"/api/bio/gene":{"get":{"tags":["bio"],"summary":"Look up a gene by its official symbol (e.g.","description":"Look up a gene by its official symbol (e.g. \"TP53\", \"BRCA1\", \"CFTR\") and organism (taxid, default 9606 = human), merging NCBI Gene with UniProt. Returns the gene symbol, NCBI Gene ID, full description, organism, chromosome + cytogenetic map location, alias symbols, and the curated RefSeq function summary; plus the reviewed protein from UniProt — accession, entry id, recommended protein name, length in amino acids, and the curated function description. NCBI + UniProt links. Bioinformatics, clinical-genetics research, education. Public-domain NCBI + CC-BY UniProt data. Common organism taxids: human 9606, mouse 10090, zebrafish 7955, fruit fly 7227, yeast 559292.","operationId":"bio_gene","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [{ gene }] (one gene; the best-effort UniProt protein sub-block stays inside the item); total = 1; meta.sources lists both NCBI Gene + UniProt attributions (envelope source is the primary, NCBI Gene).","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"gene":{"type":"object","properties":{"symbol":{"type":"string","nullable":true},"ncbiGeneId":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"organism":{"type":"object","properties":{"scientificName":{"type":"string","nullable":true},"commonName":{"type":"string","nullable":true},"taxid":{"type":"number","nullable":true}},"required":["scientificName","commonName","taxid"],"additionalProperties":false,"nullable":true},"chromosome":{"type":"string","nullable":true},"mapLocation":{"type":"string","nullable":true},"aliases":{"type":"array","items":{"type":"string"}},"summary":{"type":"string","nullable":true},"protein":{"type":"object","properties":{"found":{"type":"boolean"},"uniprotAccession":{"type":"string","nullable":true},"uniprotId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"lengthAa":{"type":"number","nullable":true},"function":{"type":"string","nullable":true}},"required":["found","uniprotAccession","uniprotId","name","lengthAa","function"],"additionalProperties":false},"ncbiUrl":{"type":"string","nullable":true},"uniprotUrl":{"type":"string","nullable":true}},"required":["symbol","ncbiGeneId","description","organism","chromosome","mapLocation","aliases","summary","protein","ncbiUrl","uniprotUrl"],"additionalProperties":false}},"required":["gene"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"},"meta":{"type":"object","properties":{"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}}},"required":["sources"],"additionalProperties":false}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"bio.gene","x-2s-version":null,"x-2s-price":{"usd":0.0048},"x-2s-accepts":["x402"],"x-2s-response-shape":"normalized","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.004800"},"protocols":[{"x402":{}}]},"parameters":[{"name":"symbol","in":"query","required":true,"description":"Symbol.","schema":{"type":"string","minLength":1,"maxLength":30}},{"name":"taxid","in":"query","required":false,"description":"Taxid.","schema":{"type":"integer","minimum":1,"maximum":9999999,"default":9606}},{"$ref":"#/components/parameters/TrialMode"}]}},"/api/bio/protein":{"get":{"tags":["bio"],"summary":"Look up a protein in UniProtKB by accession (e.g.","description":"Look up a protein in UniProtKB by accession (e.g. \"P04637\", \"Q9Y6K9\", \"P0DTC2\"). Returns the entry id, reviewed (Swiss-Prot) flag, recommended + alternative protein names, gene names, organism + taxid, sequence length and molecular weight, the curated function description, subcellular locations, Gene Ontology terms (id + term + aspect: biological_process / molecular_function / cellular_component), PDB structure ids, and keywords. Bioinformatics, structural biology, drug-target research, education. Gene-centric sibling: /api/bio/gene. CC-BY UniProt data.","operationId":"bio_protein","deprecated":false,"security":[{"x402Payment":[]}],"responses":{"200":{"description":"Normalized envelope: items = [{ protein }] (one UniProtKB entry: names, organism, sequence, function, GO terms, PDB ids); total = 1.","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"items":{"type":"array","items":{"type":"object","properties":{"protein":{"type":"object","properties":{"accession":{"type":"string"},"entryId":{"type":"string","nullable":true},"reviewed":{"type":"boolean"},"proteinName":{"type":"string","nullable":true},"alternativeNames":{"type":"array","items":{"type":"string"}},"genes":{"type":"array","items":{"type":"string"}},"organism":{"type":"object","properties":{"scientificName":{"type":"string","nullable":true},"commonName":{"type":"string","nullable":true},"taxid":{"type":"number","nullable":true}},"required":["scientificName","commonName","taxid"],"additionalProperties":false,"nullable":true},"lengthAa":{"type":"number","nullable":true},"molecularWeightDa":{"type":"number","nullable":true},"function":{"type":"string","nullable":true},"subcellularLocations":{"type":"array","items":{"type":"string"}},"goTerms":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"term":{"type":"string"},"aspect":{"type":"string","nullable":true}},"required":["id","term","aspect"],"additionalProperties":false}},"pdbStructures":{"type":"array","items":{"type":"string"}},"keywords":{"type":"array","items":{"type":"string"}},"uniprotUrl":{"type":"string"}},"required":["accession","entryId","reviewed","proteinName","alternativeNames","genes","organism","lengthAa","molecularWeightDa","function","subcellularLocations","goTerms","pdbStructures","keywords","uniprotUrl"],"additionalProperties":false}},"required":["protein"],"additionalProperties":false}},"total":{"type":"integer","nullable":true,"description":"Total matching rows upstream; null when unknown."},"source":{"$ref":"#/components/schemas/Source"}},"required":["ok","items","total","source"],"additionalProperties":false},"meta":{"$ref":"#/components/schemas/CallMeta"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/PaymentRequired"},"405":{"$ref":"#/components/responses/MethodNotAllowed"},"500":{"$ref":"#/components/responses/ServerError"},"502":{"$ref":"#/components/responses/UpstreamError"}},"x-2s-id":"bio
[...]
