openapi: 3.2.0
info:
  title: 2s — the (most) everything Crypto API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: Crypto
paths:
  /api/crypto/address-history:
    get:
      tags:
      - Crypto
      summary: Transaction history for an Ethereum address (via Etherscan V2)
      description: 'Transaction history for an Ethereum address (via Etherscan V2). Returns normal transactions newest-first: hash, block, timestamp, from/to, value (wei + ETH), gas used, gas price, decoded method id + function name, error flag, and any contract created. Paginate with page + offset; bound with startBlock/endBlock. Defaults to Ethereum mainnet; other EVM chains are reachable by chainId where upstream coverage allows. Net-new vs crypto.tx (single-hash receipt).'
      operationId: crypto_address-history
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = transactions.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            hash:
                              nullable: true
                            blockNumber:
                              type: number
                              nullable: true
                            timestamp:
                              type: string
                              nullable: true
                            from:
                              nullable: true
                            to:
                              nullable: true
                            valueWei:
                              type: string
                              nullable: true
                            valueEth:
                              type: number
                              nullable: true
                            gasUsed:
                              type: number
                              nullable: true
                            gasPriceWei:
                              type: string
                              nullable: true
                            methodId:
                              nullable: true
                            functionName:
                              nullable: true
                            isError:
                              type: boolean
                            contractAddress:
                              type: string
                              nullable: true
                          required:
                          - blockNumber
                          - timestamp
                          - valueWei
                          - valueEth
                          - gasUsed
                          - gasPriceWei
                          - isError
                          - contractAddress
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.address-history
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: chainId
        in: query
        required: false
        description: EVM chain id; defaults to 1 (Ethereum). Other chains (8453 Base, 137 Polygon, 42161 Arbitrum…) require upstream multichain coverage.
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: address
        in: query
        required: true
        description: Street address or full address string.
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
      - name: page
        in: query
        required: false
        description: Page number (1-based) for paginated results.
        schema:
          type: integer
          minimum: 1
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: sort
        in: query
        required: false
        description: Field to sort results by.
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: startBlock
        in: query
        required: false
        description: Start block.
        schema:
          type: integer
          minimum: 0
      - name: endBlock
        in: query
        required: false
        description: End block.
        schema:
          type: integer
          minimum: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/address-safety:
    get:
      tags:
      - Crypto
      summary: Malicious-wallet screen (via GoPlus, free/keyless)
      description: Malicious-wallet screen (via GoPlus, free/keyless). For any EVM address returns risk flags — cybercrime, money laundering, financial crime, darkweb, phishing, stealing/blackmail, fake KYC, mixer, sanctioned, honeypot-related, blacklist doubt and more — plus an overall malicious verdict and hit count. Counterparty risk check before interacting with an address.
      operationId: crypto_address-safety
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [address safety report].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            chainId:
                              type: string
                            address:
                              type: string
                            malicious:
                              type: boolean
                            hitCount:
                              type: number
                            numberOfMaliciousContractsCreated:
                              type: number
                              nullable: true
                            dataSource:
                              nullable: true
                            flags:
                              type: object
                              additionalProperties:
                                type: boolean
                                nullable: true
                          required:
                          - chainId
                          - address
                          - malicious
                          - hitCount
                          - numberOfMaliciousContractsCreated
                          - flags
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.address-safety
      x-2s-version: null
      x-2s-price:
        usd: 0.004998
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.004998'
        protocols:
        - x402: {}
      parameters:
      - name: chainId
        in: query
        required: true
        description: EVM chain id, e.g. 1, 56, 137, 8453.
        schema:
          type: string
          minLength: 1
          maxLength: 20
      - name: address
        in: query
        required: true
        description: Street address or full address string.
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/address-screen:
    get:
      tags:
      - Crypto
      summary: Sanctions-screen a crypto wallet address against the US
      description: Sanctions-screen a crypto wallet address against the US Treasury OFAC SDN list's published Digital Currency Addresses (BTC/ETH/USDT/XMR and more). Exact match — returns whether the address is sanctioned, and for any hit the listed entity name, OFAC programs, source id, and the currency the address was listed under. Compliance check before transacting. Distinct from crypto.address-safety (GoPlus behavioral risk) — this is regulatory sanctions.
      operationId: crypto_address-screen
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [screen result]; sanctioned=true means the address is OFAC-listed.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            sanctioned:
                              type: boolean
                            matchCount:
                              type: number
                            matches:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  sourceList:
                                    type: string
                                  sourceId:
                                    type: string
                                    nullable: true
                                  entityType:
                                    type: string
                                    nullable: true
                                  programs:
                                    type: array
                                    items:
                                      type: string
                                  currencies:
                                    type: array
                                    items:
                                      type: string
                                required:
                                - name
                                - sourceList
                                - sourceId
                                - entityType
                                - programs
                                - currencies
                                additionalProperties: false
                          required:
                          - address
                          - sanctioned
                          - matchCount
                          - matches
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.address-screen
      x-2s-version: null
      x-2s-price:
        usd: 0.004998
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.004998'
        protocols:
        - x402: {}
      parameters:
      - name: address
        in: query
        required: true
        description: Wallet address (any chain). Case-insensitive.
        schema:
          type: string
          minLength: 8
          maxLength: 120
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/address-validate:
    get:
      tags:
      - Crypto
      summary: Validate a cryptocurrency address with full checksum
      description: 'Validate a cryptocurrency address with full checksum verification (not just regex). Returns {chain, address, valid, canonical, format, reason}. Chains: btc (P2PKH, P2SH, Bech32 SegWit v0, Taproot Bech32m), eth (full EIP-55 checksum; non-checksummed flagged), sol (Ed25519 32-byte Base58), ltc (Base58Check L.../M.../3... + ltc1 Bech32), trx (T-prefix Base58Check 0x41), xrp (r-prefix custom Base58), bch (legacy Base58Check + bitcoincash:q... CashAddr). Catches typos via cryptographic checksum; canonical field returns the checksummed/lowercased form.'
      operationId: crypto_address-validate
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [validation result] (chain, address, valid, canonical, format, reason); total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            chain:
                              type: string
                              enum:
                              - btc
                              - eth
                              - sol
                              - ltc
                              - trx
                              - xrp
                              - bch
                            address:
                              type: string
                              description: The address as submitted.
                            valid:
                              type: boolean
                            canonical:
                              type: string
                              nullable: true
                              description: Canonical checksummed/normalized form when valid.
                            format:
                              type: string
                              nullable: true
                              description: Sub-format when meaningful, e.g. 'p2pkh', 'eip-55', 'bech32-taproot', 'ed25519'.
                            reason:
                              type: string
                              nullable: true
                              description: Failure reason when valid=false.
                          required:
                          - chain
                          - address
                          - valid
                          - canonical
                          - format
                          - reason
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.address-validate
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: chain
        in: query
        required: true
        description: Chain.
        schema:
          type: string
          enum:
          - btc
          - eth
          - sol
          - ltc
          - trx
          - xrp
          - bch
      - name: address
        in: query
        required: true
        description: Street address or full address string.
        schema:
          type: string
          minLength: 1
          maxLength: 100
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/balances:
    get:
      tags:
      - Crypto
      summary: Live native + ERC-20 token balances for an EVM address
      description: Live native + ERC-20 token balances for an EVM address (Base, Ethereum, Polygon, Arbitrum, Optimism; keyless). Returns the native-coin balance and, for any ERC-20 contract addresses you pass, the symbol, decimals, raw and human-formatted balance — fetched in one multicall. For wallet dashboards, treasury checks, and agent payment/settlement flows.
      operationId: crypto_balances
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [one balances object].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            chain:
                              type: string
                            address:
                              type: string
                            native:
                              type: object
                              properties:
                                symbol:
                                  type: string
                                raw:
                                  type: string
                                balance:
                                  type: string
                              required:
                              - symbol
                              - raw
                              - balance
                              additionalProperties: false
                            tokens:
                              type: array
                              items:
                                type: object
                                properties:
                                  contract:
                                    type: string
                                  symbol:
                                    nullable: true
                                  decimals:
                                    type: number
                                  raw:
                                    type: string
                                    nullable: true
                                  balance:
                                    type: string
                                    nullable: true
                                required:
                                - contract
                                - decimals
                                - raw
                                - balance
                                additionalProperties: false
                          required:
                          - chain
                          - address
                          - native
                          - tokens
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.balances
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: address
        in: query
        required: true
        description: EVM address to read.
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
      - name: chain
        in: query
        required: false
        description: Default base.
        schema:
          type: string
          enum:
          - base
          - ethereum
          - polygon
          - arbitrum
          - optimism
      - name: tokens
        in: query
        required: false
        description: Comma-separated ERC-20 contract addresses (max 20).
        schema:
          type: string
          maxLength: 900
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/btc-address:
    get:
      tags:
      - Crypto
      summary: 'Bitcoin address summary (free/keyless): confirmed balance'
      description: 'Bitcoin address summary (free/keyless): confirmed balance (sats + BTC), total received/sent, transaction count, funded/spent output counts, and pending mempool balance + tx count. Works for any BTC address (legacy, SegWit, Taproot). Net-new — our on-chain reads were EVM-only.'
      operationId: crypto_btc-address
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [address summary].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            balanceSats:
                              type: number
                            balanceBtc:
                              type: number
                            totalReceivedBtc:
                              type: number
                            totalSentBtc:
                              type: number
                            txCount:
                              type: number
                              nullable: true
                            fundedTxoCount:
                              type: number
                              nullable: true
                            spentTxoCount:
                              type: number
                              nullable: true
                            mempoolBalanceSats:
                              type: number
                            mempoolTxCount:
                              type: number
                              nullable: true
                          required:
                          - address
                          - balanceSats
                          - balanceBtc
                          - totalReceivedBtc
                          - totalSentBtc
                          - txCount
                          - fundedTxoCount
                          - spentTxoCount
                          - mempoolBalanceSats
                          - mempoolTxCount
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.btc-address
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: address
        in: query
        required: true
        description: Bitcoin address (1.../3.../bc1...).
        schema:
          type: string
          minLength: 20
          maxLength: 100
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/btc-fees:
    get:
      tags:
      - Crypto
      summary: Current Bitcoin network fee rates and mempool backlog from
      description: Current Bitcoin network fee rates and mempool backlog from mempool.space. Returns recommended fee rates in satoshis per virtual byte for target confirmation speeds (fastest ~next block, half-hour, hour, economy, minimum) plus the current mempool size (transaction count, total vsize, total fees waiting). Keyless, live. The BTC counterpart to crypto.gas-oracle (Ethereum) — fresh, fast-moving network state an agent cannot recall, for wallets, payment timing, and fee estimation.
      operationId: crypto_btc-fees
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one fee/mempool snapshot]; total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            recommendedFeesSatPerVByte:
                              type: object
                              properties:
                                fastest:
                                  type: number
                                  nullable: true
                                halfHour:
                                  type: number
                                  nullable: true
                                hour:
                                  type: number
                                  nullable: true
                                economy:
                                  type: number
                                  nullable: true
                                minimum:
                                  type: number
                                  nullable: true
                              required:
                              - fastest
                              - halfHour
                              - hour
                              - economy
                              - minimum
                              additionalProperties: false
                            mempool:
                              type: object
                              properties:
                                txCount:
                                  type: number
                                  nullable: true
                                vsizeBytes:
                                  type: number
                                  nullable: true
                                totalFeeSat:
                                  type: number
                                  nullable: true
                              required:
                              - txCount
                              - vsizeBytes
                              - totalFeeSat
                              additionalProperties: false
                            source:
                              $ref: '#/components/schemas/Source'
                            note:
                              type: string
                          required:
                          - recommendedFeesSatPerVByte
                          - mempool
                          - source
                          - note
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.btc-fees
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/btc-mempool:
    get:
      tags:
      - Crypto
      summary: 'Bitcoin mempool state (free/keyless): current unconfirmed'
      description: 'Bitcoin mempool state (free/keyless): current unconfirmed tx count, total vsize, and total fees, plus the most recent transactions (whale radar) — filter with minBtc to surface only large pending transfers. For congestion monitoring and large-transfer alerts.'
      operationId: crypto_btc-mempool
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [{ summary, recent }].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            summary:
                              type: object
                              properties:
                                txCount:
                                  type: number
                                  nullable: true
                                vsize:
                                  type: number
                                  nullable: true
                                totalFeeSats:
                                  type: number
                              required:
                              - txCount
                              - vsize
                              - totalFeeSats
                              additionalProperties: false
                            recent:
                              type: array
                              items:
                                type: object
                                properties:
                                  txid:
                                    nullable: true
                                  valueBtc:
                                    type: number
                                  valueSats:
                                    type: number
                                  feeSats:
                                    type: number
                                  vsize:
                                    type: number
                                    nullable: true
                                required:
                                - valueBtc
                                - valueSats
                                - feeSats
                                - vsize
                                additionalProperties: false
                          required:
                          - summary
                          - recent
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.btc-mempool
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: minBtc
        in: query
        required: false
        description: Only include recent txs >= this BTC value.
        schema:
          type: number
          minimum: 0
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/btc-tx:
    get:
      tags:
      - Crypto
      summary: Bitcoin transaction lookup by txid (free/keyless)
      description: 'Bitcoin transaction lookup by txid (free/keyless): confirmed status + confirmation count (vs current tip), block height + time, fee (sats + BTC), total output value, size/weight, and input/output counts. Distinct from crypto.tx (EVM) — this is Bitcoin.'
      operationId: crypto_btc-tx
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [transaction].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            txid:
                              nullable: true
                            confirmed:
                              type: boolean
                            confirmations:
                              type: number
                            blockHeight:
                              type: number
                              nullable: true
                            blockTime:
                              type: string
                              nullable: true
                            feeSats:
                              type: number
                            feeBtc:
                              type: number
                            valueOutSats:
                              type: number
                            valueOutBtc:
                              type: number
                            sizeBytes:
                              type: number
                              nullable: true
                            weight:
                              type: number
                              nullable: true
                            vinCount:
                              type: number
                              nullable: true
                            voutCount:
                              type: number
                              nullable: true
                          required:
                          - confirmed
                          - confirmations
                          - blockHeight
                          - blockTime
                          - feeSats
                          - feeBtc
                          - valueOutSats
                          - valueOutBtc
                          - sizeBytes
                          - weight
                          - vinCount
                          - voutCount
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.btc-tx
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: txid
        in: query
        required: true
        description: Txid.
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{64}$
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/btc-utxos:
    get:
      tags:
      - Crypto
      summary: Unspent transaction outputs (UTXOs) for a Bitcoin address
      description: 'Unspent transaction outputs (UTXOs) for a Bitcoin address (free/keyless): each with txid, output index, value (sats + BTC), confirmation status, and block height. Sorted largest-first. For coin selection, balance verification, and wallet tooling.'
      operationId: crypto_btc-utxos
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = UTXOs (largest first).'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            txid:
                              nullable: true
                            vout:
                              type: number
                              nullable: true
                            valueSats:
                              type: number
                            valueBtc:
                              type: number
                            confirmed:
                              type: boolean
                              nullable: true
                            blockHeight:
                              type: number
                              nullable: true
                          required:
                          - vout
                          - valueSats
                          - valueBtc
                          - confirmed
                          - blockHeight
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.btc-utxos
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: address
        in: query
        required: true
        description: Street address or full address string.
        schema:
          type: string
          minLength: 20
          maxLength: 100
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/cex-klines:
    get:
      tags:
      - Crypto
      summary: Centralized-exchange OHLCV candlesticks for a spot trading
      description: 'Centralized-exchange OHLCV candlesticks for a spot trading pair (e.g. BTC-USD, ETH-USD, SOL-USD), free/keyless. Pass interval (1m/5m/15m/1h/6h/1d) and limit. Each bar: time, open, high, low, close, volume. Net-new vs crypto.dex-ohlcv (on-chain DEX) — this is CEX spot.'
      operationId: crypto_cex-klines
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = OHLCV bars (newest first).'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            time:
                              type: string
                              nullable: true
                            open:
                              type: number
                              nullable: true
                            high:
                              type: number
                              nullable: true
                            low:
                              type: number
                              nullable: true
                            close:
                              type: number
                              nullable: true
                            volume:
                              type: number
                              nullable: true
                          required:
                          - time
                          - open
                          - high
                          - low
                          - close
                          - volume
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.cex-klines
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: pair
        in: query
        required: true
        description: Trading pair, e.g. BTC-USD.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]{2,10}-[A-Za-z0-9]{2,10}$
      - name: interval
        in: query
        required: false
        description: Interval.
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 15m
          - 1h
          - 6h
          - 1d
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 300
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/cex-ticker:
    get:
      tags:
      - Crypto
      summary: Centralized-exchange 24h ticker for a spot pair (e.g
      description: 'Centralized-exchange 24h ticker for a spot pair (e.g. BTC-USD), free/keyless: current price, best bid/ask, 24h open/high/low, 24h + 30d volume, and 24h percent change. Real CEX spot quote — distinct from crypto.token-price (CoinGecko aggregate).'
      operationId: crypto_cex-ticker
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [ticker].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            pair:
                              type: string
                            price:
                              type: number
                              nullable: true
                            bid:
                              type: number
                              nullable: true
                            ask:
                              type: number
                              nullable: true
                            open24h:
                              type: number
                              nullable: true
                            high24h:
                              type: number
                              nullable: true
                            low24h:
                              type: number
                              nullable: true
                            volume24h:
                              type: number
                              nullable: true
                            volume30d:
                              type: number
                              nullable: true
                            change24hPct:
                              type: number
                              nullable: true
                            time:
                              nullable: true
                          required:
                          - pair
                          - price
                          - bid
                          - ask
                          - open24h
                          - high24h
                          - low24h
                          - volume24h
                          - volume30d
                          - change24hPct
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.cex-ticker
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: pair
        in: query
        required: true
        description: Pair.
        schema:
          type: string
          pattern: ^[A-Za-z0-9]{2,10}-[A-Za-z0-9]{2,10}$
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/chain-tvl-history:
    get:
      tags:
      - Crypto
      summary: Historical total DeFi TVL time series for a blockchain (e.g
      description: Historical total DeFi TVL time series for a blockchain (e.g. Ethereum, Solana, Arbitrum), via DefiLlama (free/keyless). Returns daily { date, tvlUsd } points (most recent N, default 90). For charting a chain's DeFi capital over time. Pair with crypto.defi-chains for the current cross-chain leaderboard.
      operationId: crypto_chain-tvl-history
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [{ chain, series }].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            chain:
                              type: string
                            series:
                              type: array
                              items:
                                type: object
                                properties:
                                  date:
                                    type: number
                                    nullable: true
                                  tvlUsd:
                                    type: number
                                    nullable: true
                                required:
                                - date
                                - tvlUsd
                                additionalProperties: false
                          required:
                          - chain
                          - series
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.chain-tvl-history
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: chain
        in: query
        required: true
        description: Chain name, e.g. Ethereum, Solana, Arbitrum, Base.
        schema:
          type: string
          minLength: 1
          maxLength: 40
      - name: limit
        in: query
        required: false
        description: Most-recent N daily points (default 90).
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/coin:
    get:
      tags:
      - Crypto
      summary: Full coin profile by CoinGecko id (e.g
      description: Full coin profile by CoinGecko id (e.g. bitcoin, ethereum, solana). Returns price, market cap + rank, FDV, 24h volume, all-time high/low with dates, circulating/total/max supply, price changes (1h/24h/7d/30d/1y), categories, and official links (homepage, X, GitHub, subreddit). Richer than crypto.token-price (spot only) and crypto.markets (list row).
      operationId: crypto_coin
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [coin profile].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              nullable: true
                            symbol:
                              type: string
                            name:
                              type: string
                              nullable: true
                            marketCapRank:
                              type: number
                              nullable: true
                            categories:
                              type: array
                              items:
                                type: string
                            priceUsd:
                              type: number
                              nullable: true
                            marketCapUsd:
                              type: number
                              nullable: true
                            fdvUsd:
                              type: number
                              nullable: true
                            volume24hUsd:
                              type: number
                              nullable: true
                            athUsd:
                              type: number
                              nullable: true
                            athDate:
                              nullable: true
                            atlUsd:
                              type: number
                              nullable: true
                            atlDate:
                              nullable: true
                            circulatingSupply:
                              type: number
                              nullable: true
                            totalSupply:
                              type: number
                              nullable: true
                            maxSupply:
                              type: number
                              nullable: true
                            change1hPct:
                              type: number
                              nullable: true
                            change24hPct:
                              type: number
                              nullable: true
                            change7dPct:
                              type: number
                              nullable: true
                            change30dPct:
                              type: number
                              nullable: true
                            change1yPct:
                              type: number
                              nullable: true
                            homepage:
                              type: string
                              nullable: true
                            twitter:
                              type: string
                              nullable: true
                            github:
                              type: string
                              nullable: true
                            subreddit:
                              type: string
                              nullable: true
                          required:
                          - id
                          - symbol
                          - name
                          - marketCapRank
                          - categories
                          - priceUsd
                          - marketCapUsd
                          - fdvUsd
                          - volume24hUsd
                          - athUsd
                          - atlUsd
                          - circulatingSupply
                          - totalSupply
                          - maxSupply
                          - change1hPct
                          - change24hPct
                          - change7dPct
                          - change30dPct
                          - change1yPct
                          - homepage
                          - twitter
                          - github
                          - subreddit
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.coin
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: id
        in: query
        required: true
        description: CoinGecko coin id, e.g. bitcoin, ethereum, solana.
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/coin-history:
    get:
      tags:
      - Crypto
      summary: Historical market chart for a coin by CoinGecko id
      description: 'Historical market chart for a coin by CoinGecko id: time-series of price, market cap, and volume over the last N days (1-365) in USD or another vs-currency. Granularity is auto-selected by range (hourly for short windows, daily for long). For backtests, charts, and trend analysis.'
      operationId: crypto_coin-history
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [{ prices, marketCaps, volumes }].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            prices:
                              type: array
                              items:
                                type: object
                                properties:
                                  time:
                                    type: number
                                  value:
                                    type: number
                                    nullable: true
                                required:
                                - time
                                - value
                                additionalProperties: false
                            marketCaps:
                              type: array
                              items:
                                type: object
                                properties:
                                  time:
                                    type: number
                                  value:
                                    type: number
                                    nullable: true
                                required:
                                - time
                                - value
                                additionalProperties: false
                            volumes:
                              type: array
                              items:
                                type: object
                                properties:
                                  time:
                                    type: number
                                  value:
                                    type: number
                                    nullable: true
                                required:
                                - time
                                - value
                                additionalProperties: false
                          required:
                          - prices
                          - marketCaps
                          - volumes
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.coin-history
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: id
        in: query
        required: true
        description: CoinGecko coin id, e.g. bitcoin.
        schema:
          type: string
          minLength: 1
          maxLength: 80
      - name: days
        in: query
        required: false
        description: Lookback in days (default 7).
        schema:
          type: integer
          minimum: 1
          maximum: 365
      - name: vs
        in: query
        required: false
        description: vs-currency (default usd).
        schema:
          type: string
          maxLength: 10
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/contract:
    get:
      tags:
      - Crypto
      summary: Decode an EVM smart contract
      description: 'Decode an EVM smart contract. Pass chain (ethereum, base, polygon, arbitrum, optimism, bsc, avalanche) + address; returns whether the contract is source-verified (Sourcify), its name/compiler/language, whether it is a proxy and its implementation address, and human-readable function and event signatures from the ABI. Optionally pass selector (a 0x 4-byte function selector) to decode what it calls — resolved from the contract''s own ABI when verified, otherwise from the public 4byte directory. Pairs with crypto.tx (which gives a `to` address + calldata): turn an opaque contract + selector into "what is this and what does it do." Free, keyless.'
      operationId: crypto_contract
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items[0] = the contract (verification, ABI signatures, proxy, optional decoded selector).'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            chain:
                              type: string
                            address:
                              type: string
                            verified:
                              type: boolean
                              description: Source-verified on Sourcify.
                            name:
                              type: string
                              nullable: true
                            compiler:
                              type: string
                              nullable: true
                            language:
                              type: string
                              nullable: true
                            isProxy:
                              type: boolean
                            implementation:
                              type: string
                              nullable: true
                              description: Implementation address if a proxy.
                            functionCount:
                              type: integer
                            functions:
                              type: array
                              items:
                                type: string
                              description: Function signatures from the ABI.
                            events:
                              type: array
                              items:
                                type: string
                              description: Event signatures from the ABI.
                            decoded:
                              type: object
                              properties:
                                selector:
                                  type: string
                                signature:
                                  type: string
                                  nullable: true
                                source:
                                  type: string
                              required:
                              - selector
                              - signature
                              - source
                              additionalProperties: false
                              description: Decoded selector (when selector passed).
                          required:
                          - chain
                          - address
                          - verified
                          - name
                          - compiler
                          - language
                          - isProxy
                          - implementation
                          - functionCount
                          - functions
                          - events
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          verified:
                            type: boolean
                        required:
                        - verified
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.contract
      x-2s-version: null
      x-2s-price:
        usd: 0.0045
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.004500'
        protocols:
        - x402: {}
      parameters:
      - name: chain
        in: query
        required: true
        description: 'EVM chain: ethereum, base, polygon, arbitrum, optimism, bsc, or avalanche.'
        schema:
          type: string
          enum:
          - ethereum
          - base
          - polygon
          - arbitrum
          - optimism
          - bsc
          - avalanche
      - name: address
        in: query
        required: true
        description: 0x-prefixed 40-hex contract address.
        schema:
          type: string
      - name: selector
        in: query
        required: false
        description: Optional 0x 4-byte function selector to decode (e.g. 0xa9059cbb).
        schema:
          type: string
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/decode-calldata:
    post:
      tags:
      - Crypto
      summary: Decode raw EVM transaction calldata
      description: Decode raw EVM transaction calldata. POST { data } (0x-prefixed hex). Resolves the 4-byte function selector to its human signature(s) via the openchain.xyz database, then ABI-decodes the parameters (address, uint/int, bool, bytesN, string, bytes, and elementary dynamic arrays). Returns selector, candidate signatures, decoded params, and the raw 32-byte words. For agents inspecting/verifying a transaction before signing. Keyless.
      operationId: crypto_decode-calldata
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [decoded calldata].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            selector:
                              type: string
                            signatures:
                              type: array
                              items:
                                type: string
                            decoded:
                              type: object
                              properties:
                                signature:
                                  type: string
                                params:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      value: {}
                                    required:
                                    - type
                                    additionalProperties: false
                              required:
                              - signature
                              - params
                              additionalProperties: false
                              nullable: true
                            rawWords:
                              type: array
                              items:
                                type: string
                            note:
                              type: string
                              nullable: true
                          required:
                          - selector
                          - signatures
                          - decoded
                          - rawWords
                          - note
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.decode-calldata
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
                  pattern: ^0x?[0-9a-fA-F]{8,}$
                  maxLength: 60000
                  description: Data.
              required:
              - data
              additionalProperties: false
      parameters:
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/defi:
    get:
      tags:
      - Crypto
      summary: DeFi total-value-locked (TVL) metrics via DefiLlama
      description: DeFi total-value-locked (TVL) metrics via DefiLlama. With no params, returns the top protocols by TVL (name, slug, category, TVL, 1-day and 7-day % change, chains) plus total DeFi TVL across all chains. Pass protocol= (e.g. lido, aave, uniswap) for a single protocol's TVL, category, momentum, and chains; or chain= (e.g. ethereum, solana, arbitrum) for that chain's TVL. Distinct from crypto.markets/token-price (spot prices) — this is protocol- and chain-level capital locked in DeFi, which an agent can't know from training. Free, keyless.
      operationId: crypto_defi
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = protocol(s) or a chain; meta.mode = protocol|chain|top, meta.totalTvl = total DeFi TVL.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              nullable: true
                            slug:
                              type: string
                              nullable: true
                              description: DefiLlama protocol slug.
                            category:
                              type: string
                              nullable: true
                              description: Protocol category (e.g. Liquid Staking, Lending).
                            tvl:
                              type: number
                              nullable: true
                              description: Total value locked, USD.
                            change1d:
                              type: number
                              nullable: true
                              description: 1-day TVL change, %.
                            change7d:
                              type: number
                              nullable: true
                              description: 7-day TVL change, %.
                            chains:
                              type: array
                              items:
                                type: string
                              nullable: true
                              description: Chains the protocol is deployed on.
                            tokenSymbol:
                              type: string
                              nullable: true
                              description: Native token symbol (chain mode).
                          required:
                          - name
                          - slug
                          - category
                          - tvl
                          - change1d
                          - change7d
                          - chains
                          - tokenSymbol
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          mode:
                            type: string
                          totalTvl:
                            type: number
                            nullable: true
                        required:
                        - mode
                        - totalTvl
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.defi
      x-2s-version: null
      x-2s-price:
        usd: 0.0045
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.004500'
        protocols:
        - x402: {}
      parameters:
      - name: protocol
        in: query
        required: false
        description: Protocol slug (e.g. lido, aave, uniswap). Omit for the top-protocols list.
        schema:
          type: string
          minLength: 1
          maxLength: 120
      - name: chain
        in: query
        required: false
        description: Chain name (e.g. ethereum, solana, arbitrum) for that chain's TVL.
        schema:
          type: string
          minLength: 1
          maxLength: 60
      - name: limit
        in: query
        required: false
        description: Number of protocols in the top list (1–100, default 20).
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/defi-chains:
    get:
      tags:
      - Crypto
      summary: DeFi TVL leaderboard across all chains (via DefiLlama
      description: 'DeFi TVL leaderboard across all chains (via DefiLlama, free/keyless): every chain ranked by total value locked, with its native token symbol and chain id. Distinct from crypto.defi (which returns one chain''s TVL by name) — this is the full ranked cross-chain comparison.'
      operationId: crypto_defi-chains
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = chains by TVL desc.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              nullable: true
                            tvlUsd:
                              type: number
                              nullable: true
                            tokenSymbol:
                              nullable: true
                            chainId:
                              nullable: true
                          required:
                          - tvlUsd
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.defi-chains
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 200
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/defi-fees:
    get:
      tags:
      - Crypto
      summary: Protocol fees/revenue or DEX trading volume leaderboards
      description: Protocol fees/revenue or DEX trading volume leaderboards (via DefiLlama, free/keyless). kind=fees ranks protocols by fees generated; kind=dexs ranks DEXes by trading volume. Each row has 24h/7d/30d/1y totals + 1-month change, plus catalog totals. Sort by total24h/7d/30d. The protocol-economics layer.
      operationId: crypto_defi-fees
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = protocols ranked; meta = catalog totals.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              nullable: true
                            category:
                              nullable: true
                            total24h:
                              type: number
                              nullable: true
                            total7d:
                              type: number
                              nullable: true
                            total30d:
                              type: number
                              nullable: true
                            total1y:
                              type: number
                              nullable: true
                            change1m:
                              type: number
                              nullable: true
                          required:
                          - total24h
                          - total7d
                          - total30d
                          - total1y
                          - change1m
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          total24h:
                            type: number
                            nullable: true
                          total7d:
                            type: number
                            nullable: true
                          total30d:
                            type: number
                            nullable: true
                        required:
                        - total24h
                        - total7d
                        - total30d
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: crypto.defi-fees
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: kind
        in: query
        required: false
        description: Kind.
        schema:
          type: string
          enum:
          - fees
          - dexs
      - name: sort
        in: query
        required: false
        description: Field to sort results by.
        schema:
          type: string
          enum:
          - total24h
          - total7d
          - total30d
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - $ref: '#/components/parameters/TrialMode'
  /api/crypto/defi-protocol-history:
    get:
      tags:
      - Crypto
      summary: Historical total-value-locked (TVL) time series for a DeFi
      description: Historical total-value-locked (TVL) time series for a DeFi protocol by slug (e.g. aave, lido, uniswap), via DefiLlama (free/keyless). Returns daily { date, tvlUsd } points (most recent N, default 90) plus the protocol's chains. For charting a protocol's growth or decline over time. Net-new vs crypto.defi (current TVL only).
      operationId: crypto_defi-protocol-history
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = [{ name, chains, series }].'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            chains:
                              type: array
                              items:
                                type: string
                            series:
[...]
