openapi: 3.2.0
info:
  title: 2s — the (most) everything Clinical API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: clinical
paths:
  /api/clinical/study-detail:
    get:
      tags:
      - clinical
      summary: Full ClinicalTrials.gov study record by NCT id - the deep
      description: Full ClinicalTrials.gov study record by NCT id — the deep detail beyond clinical.trial-search's summary. Returns the brief + detailed description, status, phases, conditions, study design (allocation, intervention model, primary purpose, masking), enrollment, interventions, primary and secondary outcome measures (with time frames), full eligibility criteria (inclusion/exclusion text, sex, age range, healthy-volunteers, standard age groups), lead sponsor and collaborators, all facility locations (name, city, state, country), whether results are posted, and key dates. Free, public-domain (NIH NLM). Use clinical.trial-search to find an NCT id, then this for the complete protocol.
      operationId: clinical_study-detail
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one full study record] (or [] if not found); total = 1 or 0.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            nctId:
                              type: string
                              nullable: true
                            briefTitle:
                              type: string
                              nullable: true
                            officialTitle:
                              type: string
                              nullable: true
                            status:
                              type: string
                              nullable: true
                            studyType:
                              type: string
                              nullable: true
                            phases:
                              type: array
                              items:
                                type: string
                            conditions:
                              type: array
                              items:
                                type: string
                            briefSummary:
                              type: string
                              nullable: true
                            detailedDescription:
                              type: string
                              nullable: true
                            eligibility:
                              type: object
                              properties:
                                criteria:
                                  type: string
                                  nullable: true
                                sex:
                                  type: string
                                  nullable: true
                                minimumAge:
                                  type: string
                                  nullable: true
                                maximumAge:
                                  type: string
                                  nullable: true
                                healthyVolunteers:
                                  type: boolean
                                  nullable: true
                                stdAges:
                                  type: array
                                  items:
                                    type: string
                              required:
                              - criteria
                              - sex
                              - minimumAge
                              - maximumAge
                              - healthyVolunteers
                              - stdAges
                              additionalProperties: false
                            design:
                              type: object
                              properties:
                                allocation:
                                  type: string
                                  nullable: true
                                interventionModel:
                                  type: string
                                  nullable: true
                                primaryPurpose:
                                  type: string
                                  nullable: true
                                masking:
                                  type: string
                                  nullable: true
                              required:
                              - allocation
                              - interventionModel
                              - primaryPurpose
                              - masking
                              additionalProperties: false
                            enrollmentCount:
                              type: number
                              nullable: true
                            interventions:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    nullable: true
                                  name:
                                    type: string
                                    nullable: true
                                required:
                                - type
                                - name
                                additionalProperties: false
                            primaryOutcomes:
                              type: array
                              items:
                                type: object
                                properties:
                                  measure:
                                    type: string
                                    nullable: true
                                  timeFrame:
                                    type: string
                                    nullable: true
                                required:
                                - measure
                                - timeFrame
                                additionalProperties: false
                            secondaryOutcomes:
                              type: array
                              items:
                                type: object
                                properties:
                                  measure:
                                    type: string
                                    nullable: true
                                  timeFrame:
                                    type: string
                                    nullable: true
                                required:
                                - measure
                                - timeFrame
                                additionalProperties: false
                            leadSponsor:
                              type: string
                              nullable: true
                            collaborators:
                              type: array
                              items:
                                type: string
                            locations:
                              type: array
                              items:
                                type: object
                                properties:
                                  facility:
                                    type: string
                                    nullable: true
                                  city:
                                    type: string
                                    nullable: true
                                  state:
                                    type: string
                                    nullable: true
                                  country:
                                    type: string
                                    nullable: true
                                required:
                                - facility
                                - city
                                - state
                                - country
                                additionalProperties: false
                            hasResults:
                              type: boolean
                            startDate:
                              type: string
                              nullable: true
                            completionDate:
                              type: string
                              nullable: true
                            lastUpdatePostedDate:
                              type: string
                              nullable: true
                            url:
                              type: string
                              nullable: true
                          required:
                          - nctId
                          - briefTitle
                          - officialTitle
                          - status
                          - studyType
                          - phases
                          - conditions
                          - briefSummary
                          - detailedDescription
                          - eligibility
                          - design
                          - enrollmentCount
                          - interventions
                          - primaryOutcomes
                          - secondaryOutcomes
                          - leadSponsor
                          - collaborators
                          - locations
                          - hasResults
                          - startDate
                          - completionDate
                          - lastUpdatePostedDate
                          - url
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: clinical.study-detail
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: nctId
        in: query
        required: true
        description: Nct ID.
        schema:
          type: string
          pattern: ^NCT\d{8}$
      - $ref: '#/components/parameters/TrialMode'
  /api/clinical/trial-search:
    get:
      tags:
      - clinical
      summary: Search ClinicalTrials.gov - every registered US (and many
      description: 'Search ClinicalTrials.gov — every registered US (and many international) clinical study (~500k trials). Free-text query matches title + condition + intervention; or direct lookup by NCT ID. Optional filters: recruitment status, lead sponsor, phase (PHASE1..PHASE4), country. Each record includes NCT ID, brief + official title, status, phases, study type, conditions list, interventions (with type + name), enrollment count + type, key dates (start / primary completion / completion / first posted / last update), lead sponsor + class (INDUSTRY/NIH/OTHER), hasResults flag, brief summary, and canonical clinicaltrials.gov URL. Public-domain NIH NLM data.'
      operationId: clinical_trial-search
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = ClinicalTrials.gov studies; total = null (upstream paginates by opaque token, no true count); meta.nextPageToken for the next page; meta.query echoes the search.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            nctId:
                              type: string
                            briefTitle:
                              type: string
                              nullable: true
                            officialTitle:
                              type: string
                              nullable: true
                            status:
                              type: string
                              nullable: true
                            phases:
                              type: array
                              items:
                                type: string
                            studyType:
                              type: string
                              nullable: true
                            conditions:
                              type: array
                              items:
                                type: string
                            interventions:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    nullable: true
                                  name:
                                    type: string
                                    nullable: true
                                required:
                                - type
                                - name
                                additionalProperties: false
                            enrollmentCount:
                              type: integer
                              nullable: true
                            enrollmentType:
                              type: string
                              nullable: true
                            startDate:
                              type: string
                              nullable: true
                            primaryCompletionDate:
                              type: string
                              nullable: true
                            completionDate:
                              type: string
                              nullable: true
                            leadSponsor:
                              type: string
                              nullable: true
                            leadSponsorClass:
                              type: string
                              nullable: true
                            hasResults:
                              type: boolean
                            studyFirstPostedDate:
                              type: string
                              nullable: true
                            lastUpdatePostedDate:
                              type: string
                              nullable: true
                            briefSummary:
                              type: string
                              nullable: true
                            url:
                              type: string
                              format: uri
                          required:
                          - nctId
                          - briefTitle
                          - officialTitle
                          - status
                          - phases
                          - studyType
                          - conditions
                          - interventions
                          - enrollmentCount
                          - enrollmentType
                          - startDate
                          - primaryCompletionDate
                          - completionDate
                          - leadSponsor
                          - leadSponsorClass
                          - hasResults
                          - studyFirstPostedDate
                          - lastUpdatePostedDate
                          - briefSummary
                          - url
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          query:
                            type: object
                            properties:
                              query:
                                type: string
                                nullable: true
                              nctId:
                                type: string
                                nullable: true
                              status:
                                type: string
                                nullable: true
                              sponsor:
                                type: string
                                nullable: true
                              phase:
                                type: string
                                nullable: true
                              country:
                                type: string
                                nullable: true
                              pageSize:
                                type: integer
                            required:
                            - query
                            - nctId
                            - status
                            - sponsor
                            - phase
                            - country
                            - pageSize
                            additionalProperties: false
                          nextPageToken:
                            type: string
                            nullable: true
                        required:
                        - query
                        - nextPageToken
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: clinical.trial-search
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: query
        in: query
        required: false
        description: Free-text search query.
        schema:
          type: string
          minLength: 2
          maxLength: 300
      - name: nctId
        in: query
        required: false
        description: Nct ID.
        schema:
          type: string
          pattern: ^NCT\d{8}$
      - name: status
        in: query
        required: false
        description: Filter results by status.
        schema:
          type: string
          enum:
          - RECRUITING
          - ACTIVE_NOT_RECRUITING
          - COMPLETED
          - TERMINATED
          - WITHDRAWN
          - NOT_YET_RECRUITING
          - SUSPENDED
      - name: sponsor
        in: query
        required: false
        description: Sponsor.
        schema:
          type: string
          minLength: 2
          maxLength: 200
      - name: phase
        in: query
        required: false
        description: Phase.
        schema:
          type: string
          minLength: 2
          maxLength: 40
      - name: country
        in: query
        required: false
        description: Country name or ISO country code.
        schema:
          type: string
          minLength: 2
          maxLength: 80
      - name: pageSize
        in: query
        required: false
        description: Number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: pageToken
        in: query
        required: false
        description: Page token.
        schema:
          type: string
          minLength: 1
          maxLength: 500
      - $ref: '#/components/parameters/TrialMode'
components:
  responses:
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    UpstreamError:
      description: Upstream provider error.
    ServerError:
      description: Internal server error.
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  schemas:
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
