openapi: 3.2.0
info:
  title: 2s — the (most) everything Census API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: census
paths:
  /api/census/demographics:
    get:
      tags:
      - census
      summary: US Census ACS 5-year demographics for a state or county
      description: US Census ACS 5-year demographics for a state or county. Give a state (2-letter or 2-digit FIPS), optionally a 3-digit county FIPS, and get population, median age, median household income, per-capita income, poverty rate (computed), households, owner-occupancy rate (computed), median home value, and median gross rent. Free, public-domain (US Census Bureau). Complements census.zipcode (ZIP/ZCTA-level) with state- and county-level geography. Authoritative demographic data an LLM cannot recall — for market sizing, site selection, and socioeconomic research.
      operationId: census_demographics
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [one geography demographics object]; total = 1.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            query:
                              type: object
                              properties:
                                state:
                                  type: string
                                county:
                                  type: string
                                  nullable: true
                                year:
                                  type: number
                              required:
                              - state
                              - county
                              - year
                              additionalProperties: false
                            geoName:
                              type: string
                              nullable: true
                            population:
                              type: number
                              nullable: true
                            medianAge:
                              type: number
                              nullable: true
                            medianHouseholdIncomeUSD:
                              type: number
                              nullable: true
                            perCapitaIncomeUSD:
                              type: number
                              nullable: true
                            povertyRate:
                              type: number
                              nullable: true
                            households:
                              type: number
                              nullable: true
                            ownerOccupancyRate:
                              type: number
                              nullable: true
                            medianHomeValueUSD:
                              type: number
                              nullable: true
                            medianGrossRentUSD:
                              type: number
                              nullable: true
                            source:
                              $ref: '#/components/schemas/Source'
                            note:
                              type: string
                          required:
                          - query
                          - geoName
                          - population
                          - medianAge
                          - medianHouseholdIncomeUSD
                          - perCapitaIncomeUSD
                          - povertyRate
                          - households
                          - ownerOccupancyRate
                          - medianHomeValueUSD
                          - medianGrossRentUSD
                          - source
                          - note
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: census.demographics
      x-2s-version: null
      x-2s-price:
        usd: 0.0027
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002700'
        protocols:
        - x402: {}
      parameters:
      - name: state
        in: query
        required: true
        description: 2-letter state code or 2-digit FIPS.
        schema:
          type: string
          minLength: 2
          maxLength: 2
      - name: county
        in: query
        required: false
        description: County name to filter by.
        schema:
          type: string
          pattern: ^\d{3}$
      - name: year
        in: query
        required: false
        description: Four-digit calendar year.
        schema:
          type: integer
          minimum: 2010
          maximum: 2100
      - $ref: '#/components/parameters/TrialMode'
  /api/census/zipcode:
    get:
      tags:
      - census
      summary: US Census ACS 5-year demographics for a ZIP code (ZCTA)
      description: US Census ACS 5-year demographics for a ZIP code (ZCTA). Returns population, median age, median household income, poverty rate, household composition, race + ethnicity breakdown, education attainment, workforce (with computed unemployment rate), and housing (with computed owner-occupancy rate and median rent/home value). Backed by ~33k ZCTAs pre-ingested from api.census.gov; refreshed annually. Public-domain US government data.
      operationId: census_zipcode
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [demographics] (one ZCTA: population, age, income, poverty, households, race/ethnicity, education, workforce, housing — with computed rates); total = 1. 404 if the ZIP has no ZCTA coverage.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            zip:
                              type: string
                            acsYear:
                              type: number
                              description: ACS 5-year vintage end year.
                            acsRelease:
                              type: string
                              description: Human-readable release label, e.g. "ACS 5-year 2018-2022".
                            population:
                              type: number
                              nullable: true
                            medianAge:
                              type: number
                              nullable: true
                            income:
                              type: object
                              properties:
                                medianHouseholdUSD:
                                  type: number
                                  nullable: true
                              required:
                              - medianHouseholdUSD
                              additionalProperties: false
                            poverty:
                              type: object
                              properties:
                                universe:
                                  type: number
                                  nullable: true
                                countBelow:
                                  type: number
                                  nullable: true
                                rateBelow:
                                  type: number
                                  nullable: true
                                  description: Poverty rate as a percent (computed).
                              required:
                              - universe
                              - countBelow
                              - rateBelow
                              additionalProperties: false
                            households:
                              type: object
                              properties:
                                total:
                                  type: number
                                  nullable: true
                                singlePerson:
                                  type: number
                                  nullable: true
                              required:
                              - total
                              - singlePerson
                              additionalProperties: false
                            race:
                              type: object
                              properties:
                                white:
                                  type: number
                                  nullable: true
                                black:
                                  type: number
                                  nullable: true
                                americanIndianAlaskaNative:
                                  type: number
                                  nullable: true
                                asian:
                                  type: number
                                  nullable: true
                                nativeHawaiianPacificIslander:
                                  type: number
                                  nullable: true
                                other:
                                  type: number
                                  nullable: true
                                twoOrMore:
                                  type: number
                                  nullable: true
                              required:
                              - white
                              - black
                              - americanIndianAlaskaNative
                              - asian
                              - nativeHawaiianPacificIslander
                              - other
                              - twoOrMore
                              additionalProperties: false
                            ethnicity:
                              type: object
                              properties:
                                hispanicOrLatino:
                                  type: number
                                  nullable: true
                              required:
                              - hispanicOrLatino
                              additionalProperties: false
                            education:
                              type: object
                              properties:
                                universe:
                                  type: number
                                  nullable: true
                                highSchool:
                                  type: number
                                  nullable: true
                                bachelors:
                                  type: number
                                  nullable: true
                                masters:
                                  type: number
                                  nullable: true
                                professional:
                                  type: number
                                  nullable: true
                                doctorate:
                                  type: number
                                  nullable: true
                                pctBachelorsOrHigher:
                                  type: number
                                  nullable: true
                                  description: Percent of 25+ adults with a bachelor's or higher (computed).
                              required:
                              - universe
                              - highSchool
                              - bachelors
                              - masters
                              - professional
                              - doctorate
                              - pctBachelorsOrHigher
                              additionalProperties: false
                            workforce:
                              type: object
                              properties:
                                laborForceSize:
                                  type: number
                                  nullable: true
                                unemployed:
                                  type: number
                                  nullable: true
                                unemploymentRate:
                                  type: number
                                  nullable: true
                                  description: Unemployment rate as a percent (computed).
                              required:
                              - laborForceSize
                              - unemployed
                              - unemploymentRate
                              additionalProperties: false
                            housing:
                              type: object
                              properties:
                                units:
                                  type: number
                                  nullable: true
                                occupied:
                                  type: number
                                  nullable: true
                                ownerOccupied:
                                  type: number
                                  nullable: true
                                renterOccupied:
                                  type: number
                                  nullable: true
                                medianHomeValueUSD:
                                  type: number
                                  nullable: true
                                medianGrossRentUSD:
                                  type: number
                                  nullable: true
                                pctOwnerOccupied:
                                  type: number
                                  nullable: true
                                  description: Owner-occupancy rate as percent of occupied units (computed).
                              required:
                              - units
                              - occupied
                              - ownerOccupied
                              - renterOccupied
                              - medianHomeValueUSD
                              - medianGrossRentUSD
                              - pctOwnerOccupied
                              additionalProperties: false
                            updatedAt:
                              type: string
                          required:
                          - zip
                          - acsYear
                          - acsRelease
                          - population
                          - medianAge
                          - income
                          - poverty
                          - households
                          - race
                          - ethnicity
                          - education
                          - workforce
                          - housing
                          - updatedAt
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: census.zipcode
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: zip
        in: query
        required: true
        description: US ZIP code.
        schema:
          type: string
          pattern: ^\d{5}$
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  responses:
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    UpstreamError:
      description: Upstream provider error.
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    ServerError:
      description: Internal server error.
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
