openapi: 3.2.0
info:
  title: 2s — the (most) everything Food API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: food
paths:
  /api/food/barcode-lookup:
    get:
      tags:
      - food
      summary: Resolve a food product barcode (UPC, EAN-13, EAN-8, etc.)
      description: Resolve a food product barcode (UPC, EAN-13, EAN-8, etc.) to structured product metadata via Open Food Facts — the CC0 community-maintained database of >3M food products. Returns product name, brand, ingredient list, allergens, nutriments (per-100g + per-serving), Nutri-Score grade (a-e), NOVA processing classification (1-4), Eco-Score, categories, manufacturing origin, packaging, and product image URLs.
      operationId: food_barcode-lookup
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = [product] when the barcode resolves (total 1), else [] (total 0); meta.found flags whether Open Food Facts had the product.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            barcode:
                              type: string
                            name:
                              type: string
                              nullable: true
                            brands:
                              type: string
                              nullable: true
                            categories:
                              type: array
                              items:
                                type: string
                            quantity:
                              type: string
                              nullable: true
                            servingSize:
                              type: string
                              nullable: true
                            ingredientsText:
                              type: string
                              nullable: true
                            allergens:
                              type: array
                              items:
                                type: string
                            imageUrl:
                              type: string
                              nullable: true
                            nutriscoreGrade:
                              type: string
                              nullable: true
                            novaGroup:
                              type: integer
                              nullable: true
                            ecoscoreGrade:
                              type: string
                              nullable: true
                            nutrientLevels:
                              type: object
                              additionalProperties:
                                type: string
                            nutriments:
                              type: object
                              additionalProperties:
                                anyOf:
                                - type: number
                                - type: string
                            countries:
                              type: array
                              items:
                                type: string
                            labels:
                              type: array
                              items:
                                type: string
                            manufacturingPlaces:
                              type: string
                              nullable: true
                            origins:
                              type: string
                              nullable: true
                            packaging:
                              type: array
                              items:
                                type: string
                          required:
                          - barcode
                          - name
                          - brands
                          - categories
                          - quantity
                          - servingSize
                          - ingredientsText
                          - allergens
                          - imageUrl
                          - nutriscoreGrade
                          - novaGroup
                          - ecoscoreGrade
                          - nutrientLevels
                          - nutriments
                          - countries
                          - labels
                          - manufacturingPlaces
                          - origins
                          - packaging
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          found:
                            type: boolean
                        required:
                        - found
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: food.barcode-lookup
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: barcode
        in: query
        required: true
        description: Barcode.
        schema:
          type: string
          pattern: ^[0-9]{6,14}$
      - $ref: '#/components/parameters/TrialMode'
  /api/food/hygiene-uk:
    get:
      tags:
      - food
      summary: UK Food Standards Agency food hygiene ratings (FHRS) for an
      description: UK Food Standards Agency food hygiene ratings (FHRS) for an establishment. Search by business name and/or postcode and get matching establishments with their hygiene rating (0-5 in England/Wales/NI; Pass / Improvement Required in Scotland), rating date, the three component scores (hygiene, structural, confidence in management — lower is better), business type, local authority, full address + postcode, and geocode. Free, Open Government Licence (commercial use permitted). Authoritative inspection data an LLM cannot recall — for food, hospitality, and consumer-safety agents.
      operationId: food_hygiene-uk
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = matching establishments; total = full match count.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            fhrsId:
                              type: number
                              nullable: true
                            name:
                              type: string
                              nullable: true
                            businessType:
                              type: string
                              nullable: true
                            ratingValue:
                              type: string
                              nullable: true
                            ratingDate:
                              type: string
                              nullable: true
                            scores:
                              type: object
                              properties:
                                hygiene:
                                  type: number
                                  nullable: true
                                structural:
                                  type: number
                                  nullable: true
                                management:
                                  type: number
                                  nullable: true
                              required:
                              - hygiene
                              - structural
                              - management
                              additionalProperties: false
                            localAuthority:
                              type: string
                              nullable: true
                            address:
                              type: string
                              nullable: true
                            postcode:
                              type: string
                              nullable: true
                            latitude:
                              type: number
                              nullable: true
                            longitude:
                              type: number
                              nullable: true
                          required:
                          - fhrsId
                          - name
                          - businessType
                          - ratingValue
                          - ratingDate
                          - scores
                          - localAuthority
                          - address
                          - postcode
                          - latitude
                          - longitude
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: food.hygiene-uk
      x-2s-version: null
      x-2s-price:
        usd: 0.0025
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.002500'
        protocols:
        - x402: {}
      parameters:
      - name: name
        in: query
        required: false
        description: Name to search for.
        schema:
          type: string
          minLength: 1
          maxLength: 120
      - name: postcode
        in: query
        required: false
        description: Postcode.
        schema:
          type: string
          minLength: 2
          maxLength: 12
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 50
      - $ref: '#/components/parameters/TrialMode'
components:
  responses:
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    UpstreamError:
      description: Upstream provider error.
    ServerError:
      description: Internal server error.
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  schemas:
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
