openapi: 3.2.0
info:
  title: 2s — the (most) everything Edu API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: edu
paths:
  /api/edu/college-scorecard:
    get:
      tags:
      - edu
      summary: Search US colleges + universities via the Department of
      description: 'Search US colleges + universities via the Department of Education College Scorecard API. Filter by free-text name (q), OPE/IPEDS school id, state, city, zip, ownership (1=Public | 2=Private nonprofit | 3=Private for-profit), predominant degree level (0=Not classified | 1=Certificate | 2=Associate | 3=Bachelor | 4=Graduate), enrollment range. Returns a curated field set per school: identity (name, alias, URL, location), classification (Carnegie, locale, religious affiliation, minority-serving designation), latest admissions (admit rate, SAT/ACT midpoints), cost (in-state + out-of-state tuition, total cost of attendance), aid (median debt, federal-loan rate, Pell rate), completion rate, 10-year median earnings, repayment rate, lat/lon. Every accredited US institution. Use perPage + page for pagination; page is 0-indexed.'
      operationId: edu_college-scorecard
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = College Scorecard school rows (dotted field names like ''school.name'', ''latest.student.size''); total = upstream match count; page = 0-indexed page block.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              nullable: true
                              description: OPE/IPEDS school id.
                            school.name:
                              type: string
                              nullable: true
                            school.alias:
                              type: string
                              nullable: true
                            school.city:
                              type: string
                              nullable: true
                            school.state:
                              type: string
                              nullable: true
                            school.zip:
                              type: string
                              nullable: true
                            school.school_url:
                              type: string
                              nullable: true
                            school.price_calculator_url:
                              type: string
                              nullable: true
                            school.ownership:
                              type: number
                              nullable: true
                              description: 1=Public, 2=Private nonprofit, 3=Private for-profit.
                            school.locale:
                              type: number
                              nullable: true
                            school.carnegie_basic:
                              type: number
                              nullable: true
                            school.degrees_awarded.predominant:
                              type: number
                              nullable: true
                            school.degrees_awarded.highest:
                              type: number
                              nullable: true
                            school.minority_serving.historically_black:
                              type: number
                              nullable: true
                            school.minority_serving.hispanic:
                              type: number
                              nullable: true
                            school.minority_serving.tribal:
                              type: number
                              nullable: true
                            school.religious_affiliation:
                              type: number
                              nullable: true
                            latest.student.size:
                              type: number
                              nullable: true
                            latest.admissions.admission_rate.overall:
                              type: number
                              nullable: true
                            latest.admissions.sat_scores.midpoint.math:
                              type: number
                              nullable: true
                            latest.admissions.sat_scores.midpoint.critical_reading:
                              type: number
                              nullable: true
                            latest.admissions.act_scores.midpoint.cumulative:
                              type: number
                              nullable: true
                            latest.cost.tuition.in_state:
                              type: number
                              nullable: true
                            latest.cost.tuition.out_of_state:
                              type: number
                              nullable: true
                            latest.cost.attendance.academic_year:
                              type: number
                              nullable: true
                            latest.aid.median_debt.completers.overall:
                              type: number
                              nullable: true
                            latest.aid.federal_loan_rate:
                              type: number
                              nullable: true
                            latest.aid.pell_grant_rate:
                              type: number
                              nullable: true
                            latest.completion.completion_rate_4yr_150nt:
                              type: number
                              nullable: true
                            latest.completion.completion_rate_less_than_4yr_150nt:
                              type: number
                              nullable: true
                            latest.earnings.10_yrs_after_entry.median:
                              type: number
                              nullable: true
                            latest.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings:
                              type: number
                              nullable: true
                            latest.repayment.3_yr_repayment.overall:
                              type: number
                              nullable: true
                            location.lat:
                              type: number
                              nullable: true
                            location.lon:
                              type: number
                              nullable: true
                          additionalProperties: {}
                          description: Upstream Scorecard row with dotted field names. Keys above are the default field set; the fields param swaps in any other Scorecard fields.
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      page:
                        type: object
                        properties:
                          number:
                            type: integer
                          size:
                            type: integer
                          pages:
                            type: integer
                            nullable: true
                        required:
                        - number
                        - size
                        - pages
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: edu.college-scorecard
      x-2s-version: null
      x-2s-price:
        usd: 0.003
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003000'
        protocols:
        - x402: {}
      parameters:
      - name: q
        in: query
        required: false
        description: Free-text search query.
        schema:
          type: string
          minLength: 1
          maxLength: 120
      - name: schoolId
        in: query
        required: false
        description: School ID.
        schema:
          type: integer
          minimum: 1
      - name: state
        in: query
        required: false
        description: US state — two-letter postal abbreviation (e.g. CA) or full name.
        schema:
          type: string
          minLength: 2
          maxLength: 2
          pattern: ^[A-Za-z]{2}$
      - name: city
        in: query
        required: false
        description: City name to filter by.
        schema:
          type: string
          minLength: 2
          maxLength: 80
      - name: zip
        in: query
        required: false
        description: US ZIP code.
        schema:
          type: string
          pattern: ^\d{5}$
      - name: ownership
        in: query
        required: false
        description: Ownership.
        schema:
          type: integer
      - name: degreePredominant
        in: query
        required: false
        description: Degree predominant.
        schema:
          type: integer
      - name: minEnrollment
        in: query
        required: false
        description: Min enrollment.
        schema:
          type: integer
          minimum: 0
      - name: maxEnrollment
        in: query
        required: false
        description: Max enrollment.
        schema:
          type: integer
          minimum: 1
      - name: perPage
        in: query
        required: false
        description: Number of results to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: page
        in: query
        required: false
        description: Page number (1-based) for paginated results.
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: fields
        in: query
        required: false
        description: Fields.
        schema:
          type: string
          maxLength: 2000
      - $ref: '#/components/parameters/TrialMode'
  /api/edu/school-lookup:
    get:
      tags:
      - edu
      summary: Look up any US public K-12 school (~102k, NCES Common Core
      description: 'Look up any US public K-12 school (~102k, NCES Common Core of Data). Search by name (partial), district (LEA name, partial), state (2-letter), city, zip, or exact ncessch (12-digit NCES id). Each school: NCES id, name, district + LEA id, address, phone, lat/lon, school level (1=primary 2=middle 3=high 4=other) and type (1=regular 2=special-ed 3=vocational 4=alternative), charter/magnet/virtual flags, enrollment, teacher FTE, grade span, CCD year. Results ordered by enrollment. Higher-ed sibling: /api/edu/college-scorecard. Public-domain federal data.'
      operationId: edu_school-lookup
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = US public K-12 schools (NCES CCD rows, enrollment-ordered); total = null (LIKE search returns a capped page, no full match count).'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            ncessch:
                              type: string
                            name:
                              type: string
                              nullable: true
                            district:
                              type: string
                              nullable: true
                            leaid:
                              type: string
                              nullable: true
                            state:
                              type: string
                              nullable: true
                            city:
                              type: string
                              nullable: true
                            street:
                              type: string
                              nullable: true
                            zip:
                              type: string
                              nullable: true
                            phone:
                              type: string
                              nullable: true
                            latitude:
                              type: number
                              nullable: true
                            longitude:
                              type: number
                              nullable: true
                            schoolLevel:
                              type: number
                              nullable: true
                            schoolType:
                              type: number
                              nullable: true
                            charter:
                              type: boolean
                              nullable: true
                            magnet:
                              type: boolean
                              nullable: true
                            virtual:
                              type: boolean
                              nullable: true
                            enrollment:
                              type: number
                              nullable: true
                            teachersFte:
                              type: number
                              nullable: true
                            lowestGrade:
                              type: number
                              nullable: true
                            highestGrade:
                              type: number
                              nullable: true
                            year:
                              type: number
                              nullable: true
                          required:
                          - ncessch
                          - name
                          - district
                          - leaid
                          - state
                          - city
                          - street
                          - zip
                          - phone
                          - latitude
                          - longitude
                          - schoolLevel
                          - schoolType
                          - charter
                          - magnet
                          - virtual
                          - enrollment
                          - teachersFte
                          - lowestGrade
                          - highestGrade
                          - year
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: edu.school-lookup
      x-2s-version: null
      x-2s-price:
        usd: 0.0036
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.003600'
        protocols:
        - x402: {}
      parameters:
      - name: name
        in: query
        required: false
        description: Name to search for.
        schema:
          type: string
          minLength: 2
          maxLength: 120
      - name: district
        in: query
        required: false
        description: District.
        schema:
          type: string
          minLength: 2
          maxLength: 120
      - name: state
        in: query
        required: false
        description: US state — two-letter postal abbreviation (e.g. CA) or full name.
        schema:
          type: string
          minLength: 2
          maxLength: 2
      - name: city
        in: query
        required: false
        description: City name to filter by.
        schema:
          type: string
          minLength: 2
          maxLength: 60
      - name: zip
        in: query
        required: false
        description: US ZIP code.
        schema:
          type: string
          pattern: ^\d{5}$
      - name: ncessch
        in: query
        required: false
        description: Ncessch.
        schema:
          type: string
          pattern: ^\d{12}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: offset
        in: query
        required: false
        description: Number of results to skip before returning (pagination offset).
        schema:
          type: integer
          minimum: 0
          default: 0
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
  responses:
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    UpstreamError:
      description: Upstream provider error.
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    ServerError:
      description: Internal server error.
    BadRequest:
      description: Bad request — invalid parameters.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
