openapi: 3.2.0
info:
  title: 2s — the (most) everything Flight API
  version: '1'
  summary: The (most) everything API.
  description: 'The (most) everything API for AI agents: 575+ pay-per-call endpoints on one origin.'
  contact:
    name: 2s
    url: https://2s.io
    email: alley@2s.io
  x-logo:
    url: https://2s.io/icon-512.png
    altText: 2s
  x-guidance: 'Pay-per-call REST API for AI agents — hundreds of endpoints returning ground-truth data (US public records, company & legal identifiers, finance/SEC, crypto/web3, security & CVEs, medical codes, weather & geocoding, agriculture, energy, maritime, music, and more). Every endpoint is paid per call in USDC via x402 (Base or Solana) — no API key, no signup. Call any endpoint with no auth to get a 402 PaymentRequirements envelope, sign it (EIP-3009 on Base, partial SPL transfer on Solana), and retry with the PAYMENT-SIGNATURE header. Add ?trial=1 for one free real call per endpoint per hour to test before paying. To discover the right endpoint: GET https://2s.io/api/directory for the full catalog, or GET https://2s.io/api/search/endpoints?q=<natural-language task> for a ranked match. Per-call price is on each operation as x-payment-info (from $0.001). Batch up to 50 calls behind one payment via POST https://2s.io/api/batch/run.'
servers:
- url: https://2s.io
tags:
- name: flight
paths:
  /api/flight/airport-board:
    get:
      tags:
      - flight
      summary: Live airport activity board
      description: Live airport activity board. For an airport (ICAO like KSFO or IATA like SFO), returns recent/upcoming departures or arrivals — flight ident, registration, aircraft type, origin/destination airports, status, scheduled/estimated/actual gate times, gate and terminal. Choose the board with type. Real-time operational data for an airport; complements flight.status (single flight) and flight.route-schedule.
      operationId: flight_airport-board
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = board entries.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            ident:
                              type: string
                              nullable: true
                            identIata:
                              type: string
                              nullable: true
                            registration:
                              type: string
                              nullable: true
                            aircraftType:
                              type: string
                              nullable: true
                            origin:
                              type: object
                              properties:
                                icao:
                                  type: string
                                  nullable: true
                                iata:
                                  type: string
                                  nullable: true
                                name:
                                  type: string
                                  nullable: true
                                city:
                                  type: string
                                  nullable: true
                                timezone:
                                  type: string
                                  nullable: true
                              required:
                              - icao
                              - iata
                              - name
                              - city
                              - timezone
                              additionalProperties: false
                              nullable: true
                            destination:
                              type: object
                              properties:
                                icao:
                                  type: string
                                  nullable: true
                                iata:
                                  type: string
                                  nullable: true
                                name:
                                  type: string
                                  nullable: true
                                city:
                                  type: string
                                  nullable: true
                                timezone:
                                  type: string
                                  nullable: true
                              required:
                              - icao
                              - iata
                              - name
                              - city
                              - timezone
                              additionalProperties: false
                              nullable: true
                            status:
                              type: string
                              nullable: true
                            scheduledOut:
                              type: string
                              nullable: true
                            estimatedOut:
                              type: string
                              nullable: true
                            actualOut:
                              type: string
                              nullable: true
                            scheduledIn:
                              type: string
                              nullable: true
                            estimatedIn:
                              type: string
                              nullable: true
                            actualIn:
                              type: string
                              nullable: true
                            gateOrigin:
                              type: string
                              nullable: true
                            gateDestination:
                              type: string
                              nullable: true
                            terminalOrigin:
                              type: string
                              nullable: true
                            terminalDestination:
                              type: string
                              nullable: true
                          required:
                          - ident
                          - identIata
                          - registration
                          - aircraftType
                          - origin
                          - destination
                          - status
                          - scheduledOut
                          - estimatedOut
                          - actualOut
                          - scheduledIn
                          - estimatedIn
                          - actualIn
                          - gateOrigin
                          - gateDestination
                          - terminalOrigin
                          - terminalDestination
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          airport:
                            type: string
                          type:
                            type: string
                        required:
                        - airport
                        - type
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: flight.airport-board
      x-2s-version: null
      x-2s-price:
        usd: 0.045
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.045000'
        protocols:
        - x402: {}
      parameters:
      - name: airport
        in: query
        required: true
        description: Airport code, ICAO (KSFO) or IATA (SFO).
        schema:
          type: string
          minLength: 3
          maxLength: 4
          pattern: ^[A-Za-z0-9]+$
      - name: type
        in: query
        required: false
        description: Default departures.
        schema:
          type: string
          enum:
          - departures
          - arrivals
          - scheduled_departures
          - scheduled_arrivals
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 30
          default: 15
      - $ref: '#/components/parameters/TrialMode'
  /api/flight/route-schedule:
    get:
      tags:
      - flight
      summary: Scheduled flights between two airports over a date window
      description: Scheduled flights between two airports over a date window. Pass origin and destination (ICAO or IATA) plus startDate/endDate; returns scheduled flights with ident, operator, aircraft type, origin/destination, and scheduled departure/arrival times. Answers 'what flights run SFO→JFK this week'. Complements flight.status and flight.airport-board.
      operationId: flight_route-schedule
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized: items = scheduled flights for the route.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            ident:
                              type: string
                              nullable: true
                            identIata:
                              type: string
                              nullable: true
                            operator:
                              type: string
                              nullable: true
                            aircraftType:
                              type: string
                              nullable: true
                            origin:
                              type: string
                              nullable: true
                            originIata:
                              type: string
                              nullable: true
                            destination:
                              type: string
                              nullable: true
                            destinationIata:
                              type: string
                              nullable: true
                            scheduledOut:
                              type: string
                              nullable: true
                            scheduledIn:
                              type: string
                              nullable: true
                          required:
                          - ident
                          - identIata
                          - operator
                          - aircraftType
                          - origin
                          - originIata
                          - destination
                          - destinationIata
                          - scheduledOut
                          - scheduledIn
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          origin:
                            type: string
                          destination:
                            type: string
                        required:
                        - origin
                        - destination
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: flight.route-schedule
      x-2s-version: null
      x-2s-price:
        usd: 0.045
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.045000'
        protocols:
        - x402: {}
      parameters:
      - name: origin
        in: query
        required: true
        description: Origin airport, ICAO or IATA.
        schema:
          type: string
          minLength: 3
          maxLength: 4
          pattern: ^[A-Za-z0-9]+$
      - name: destination
        in: query
        required: true
        description: Destination airport, ICAO or IATA.
        schema:
          type: string
          minLength: 3
          maxLength: 4
          pattern: ^[A-Za-z0-9]+$
      - name: startDate
        in: query
        required: true
        description: Window start (YYYY-MM-DD).
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: endDate
        in: query
        required: true
        description: Window end (YYYY-MM-DD), <= 7 days after start.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 30
          default: 15
      - $ref: '#/components/parameters/TrialMode'
  /api/flight/status:
    get:
      tags:
      - flight
      summary: Live flight status and tracking
      description: Live flight status and tracking. Pass ident as an airline flight designator (ICAO "UAL1" or IATA "UA1") or an aircraft tail number; returns recent and upcoming instances of that flight with origin/destination airports (ICAO/IATA/name/city/timezone), status, cancellation/diversion flags, scheduled vs estimated vs actual gate and runway times (out/off/on/in), departure and arrival delays, en-route progress percent, aircraft type and registration, and route distance. limit controls how many instances return (default 5, newest first by scheduled departure). Real-time operational data — answer "where is this flight, is it delayed, when does it land" with live values. For aircraft registry data see /api/aircraft/lookup; for airport metadata see /api/airport/lookup.
      operationId: flight_status
      deprecated: false
      security:
      - x402Payment: []
      responses:
        '200':
          description: 'Normalized envelope: items = recent + upcoming instances of a flight with live times, delays, progress, aircraft; total = instances returned; meta.ident echoes the queried designator.'
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                        - true
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            ident:
                              type: string
                            identIata:
                              type: string
                              nullable: true
                            operator:
                              type: string
                              nullable: true
                            flightNumber:
                              type: string
                              nullable: true
                            registration:
                              type: string
                              nullable: true
                            aircraftType:
                              type: string
                              nullable: true
                            origin:
                              type: object
                              properties:
                                icao:
                                  type: string
                                  nullable: true
                                iata:
                                  type: string
                                  nullable: true
                                name:
                                  type: string
                                  nullable: true
                                city:
                                  type: string
                                  nullable: true
                                timezone:
                                  type: string
                                  nullable: true
                              required:
                              - icao
                              - iata
                              - name
                              - city
                              - timezone
                              additionalProperties: false
                              nullable: true
                            destination:
                              type: object
                              properties:
                                icao:
                                  type: string
                                  nullable: true
                                iata:
                                  type: string
                                  nullable: true
                                name:
                                  type: string
                                  nullable: true
                                city:
                                  type: string
                                  nullable: true
                                timezone:
                                  type: string
                                  nullable: true
                              required:
                              - icao
                              - iata
                              - name
                              - city
                              - timezone
                              additionalProperties: false
                              nullable: true
                            status:
                              type: string
                              nullable: true
                            cancelled:
                              type: boolean
                            diverted:
                              type: boolean
                            scheduledOut:
                              type: string
                              nullable: true
                            estimatedOut:
                              type: string
                              nullable: true
                            actualOut:
                              type: string
                              nullable: true
                            actualOff:
                              type: string
                              nullable: true
                              description: Actual takeoff time.
                            actualOn:
                              type: string
                              nullable: true
                              description: Actual landing time.
                            scheduledIn:
                              type: string
                              nullable: true
                            estimatedIn:
                              type: string
                              nullable: true
                            actualIn:
                              type: string
                              nullable: true
                            progressPercent:
                              type: number
                              nullable: true
                            departureDelaySec:
                              type: number
                              nullable: true
                            arrivalDelaySec:
                              type: number
                              nullable: true
                              description: Negative = early.
                            routeDistanceKm:
                              type: number
                              nullable: true
                          required:
                          - ident
                          - identIata
                          - operator
                          - flightNumber
                          - registration
                          - aircraftType
                          - origin
                          - destination
                          - status
                          - cancelled
                          - diverted
                          - scheduledOut
                          - estimatedOut
                          - actualOut
                          - actualOff
                          - actualOn
                          - scheduledIn
                          - estimatedIn
                          - actualIn
                          - progressPercent
                          - departureDelaySec
                          - arrivalDelaySec
                          - routeDistanceKm
                          additionalProperties: false
                      total:
                        type: integer
                        nullable: true
                        description: Total matching rows upstream; null when unknown.
                      source:
                        $ref: '#/components/schemas/Source'
                      meta:
                        type: object
                        properties:
                          ident:
                            type: string
                            description: Normalized (uppercased) ident that was queried.
                        required:
                        - ident
                        additionalProperties: false
                    required:
                    - ok
                    - items
                    - total
                    - source
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/CallMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/UpstreamError'
      x-2s-id: flight.status
      x-2s-version: null
      x-2s-price:
        usd: 0.045
      x-2s-accepts:
      - x402
      x-2s-response-shape: normalized
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.045000'
        protocols:
        - x402: {}
      parameters:
      - name: ident
        in: query
        required: true
        description: Flight designator (ICAO UAL1 or IATA UA1) or aircraft tail number.
        schema:
          type: string
          minLength: 2
          maxLength: 12
          pattern: ^[A-Za-z0-9-]+$
      - name: identType
        in: query
        required: false
        description: Ident type.
        schema:
          type: string
          enum:
          - designator
          - registration
          - fa_flight_id
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 15
          default: 5
      - $ref: '#/components/parameters/TrialMode'
components:
  schemas:
    X402PaymentRequiredV2:
      type: object
      description: x402 v2 PaymentRequired envelope. Pick any entry from accepts[], sign for that rail, retry with the PAYMENT-SIGNATURE header.
      required:
      - x402Version
      - accepts
      properties:
        x402Version:
          type: integer
          const: 2
        error:
          type: string
          description: Human-readable reason payment is required.
        resource:
          type: string
          description: The resource URL being purchased.
        accepts:
          type: array
          description: Payment requirement options, one per supported network (Base USDC, Solana USDC).
          items:
            type: object
            required:
            - scheme
            - network
            - amount
            - asset
            - payTo
            - maxTimeoutSeconds
            properties:
              scheme:
                type: string
                enum:
                - exact
              network:
                type: string
                description: CAIP-2 network id, e.g. "eip155:8453" (Base) or "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp".
              amount:
                type: string
                description: Price in atomic asset units (USDC has 6 decimals).
              asset:
                type: string
                description: Asset contract address / mint.
              payTo:
                type: string
                description: Treasury address to pay.
              maxTimeoutSeconds:
                type: integer
              extra:
                type: object
                description: 'Rail-specific extras (EVM: EIP-712 domain name/version; Solana: feePayer).'
                additionalProperties: true
        extensions:
          type: object
          description: Optional discovery metadata (e.g. bazaar input/output schemas).
          additionalProperties: true
    Source:
      type: object
      description: 'Provenance of the data: upstream provider, source URL, and license.'
      properties:
        provider:
          type: string
          description: Upstream data provider.
        url:
          type: string
          description: Source URL or documentation link.
        license:
          type: string
          description: License / usage terms for the data.
    CallMeta:
      type: object
      description: Per-call meta envelope — endpoint id, cost, caller kind, settlement details.
  responses:
    ServerError:
      description: Internal server error.
    PaymentRequired:
      description: Payment required. Body contains the x402 PaymentRequirements envelope with a multi-network accepts array; the per-call price is in accepts[].amount (and on the operation as x-2s-price). Sign for whichever rail you hold USDC on (EIP-3009 for Base, partial SPL transfer for Solana) and retry with the PAYMENT-SIGNATURE header (X-PAYMENT also accepted for v1 clients).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/X402PaymentRequiredV2'
    MethodNotAllowed:
      description: Method not allowed — see `Allow` header for the supported method.
    BadRequest:
      description: Bad request — invalid parameters.
    UpstreamError:
      description: Upstream provider error.
  parameters:
    TrialMode:
      name: trial
      in: query
      required: false
      description: 'Try before you buy. Set to 1 for one free real call per endpoint per hour — no wallet or payment needed — to verify the endpoint before paying. Equivalent to sending the "X-2s-Trial: 1" request header. Works on every endpoint.'
      schema:
        type: integer
        enum:
        - 1
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: 'x402 protocol v2: base64-encoded PaymentPayload. Call any paid endpoint without auth to receive a 402 with a multi-network PaymentRequirements envelope. Sign for either rail: EIP-3009 transferWithAuthorization (Base USDC) OR a partial SPL token transfer (Solana USDC). Retry with PAYMENT-SIGNATURE header. X-PAYMENT is also accepted for v1 buyer clients. See https://x402.org.'
